{# -*- indent-tabs-mode: nil -*- #}
{% extends "base_chantal.html" %}

{% load i18n %}
{% load refdb_extras %}

{% block extrahead %}
  <link rel="shortcut icon" href="{{ MEDIA_URL }}chantal/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}refdb/css/main.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}refdb/css/print.css"/>
{% endblock %}

{% block app_title %}Chantal-Bib<img class="logo-ief-5" src="{{ MEDIA_URL }}chantal/sonne.png"
                                       alt="{% trans 'IEF-5 logo' %}"
                                       /><sup style="color: #ffcccc; font-style: italic">alpha</sup>{% endblock %}
{% block app_subtitle %}{% trans "Beyond Beyer's paper piles" %}{% endblock %}
