{# -*- indent-tabs-mode: nil -*- #}
{% extends "refdb/base.html" %}
{% load i18n %}
{% load refdb_extras %}

{% block content_title %}{% spaceless %}<h1>
  {{ title }}<a class="edit-icon" href="{% url refdb.views.bulk.search %}?{{ http_query_string }}">
    <img src="{{ MEDIA_URL }}chantal/icons/find.png" alt="find icon" title="{% trans 'modify search' %}"/>
  </a>
</h1>
{% endspaceless %}{% endblock %}

{% block frame_content %}
  {% if not pages|length_is:"1" %}
    <div class="pages-links">
      {% if prev_link %}
        <a href="{{ prev_link }}"><img src="{{ MEDIA_URL }}/refdb/icons/arrow_left.png"
                                       alt="{{ _("previous page") }}"/></a>  
      {% else %}
        <img src="{{ MEDIA_URL }}/refdb/icons/arrow_left.png" alt="{{ _("previous page") }}" style="visibility: hidden"/>  
      {% endif %}
      {% for page in pages %}
          {% if page %}
            <a href="{{ page }}">{{ forloop.counter }}</a>
          {% else %}
            <strong>{{ forloop.counter }}</strong>
          {% endif %}
      {% endfor %}
      {% if next_link %}
          <a href="{{ next_link }}"><img src="{{ MEDIA_URL }}/refdb/icons/arrow_right.png" alt="{{ _("next page") }}"/></a>
      {% else %}
          <img src="{{ MEDIA_URL }}/refdb/icons/arrow_right.png" alt="{{ _("next page") }}" style="visibility: hidden"/>
      {% endif %}
    </div>
  {% endif %}
  <form method="POST" action="">
    {% include "refdb/list_compact.html" %}
    <div class="screen-only">
      <div style="margin-top: 4ex"/>
      {% error_list global_dummy _("General error") %}
      {% error_list add_to_shelf _("Error while adding to shelf") %}
      {% error_list add_to_list _("Error while adding to list") %}
      {% error_list remove_from_list _("Error while removing from shelf") %}
      <table width="100%">
        <tr>
          {% input_field add_to_shelf.new_shelf %}
          {% input_field add_to_list.existing_list %}
          {% input_field export.format %}
        </tr>
        <tr>
          {% if remove_from_list %}
            {% input_field remove_from_list.remove %}
          {% else %}
            <td colspan="2"/>
          {% endif %}
          {% input_field add_to_list.new_list %}
          <td colspan="2"/>
        </tr>
        <tr>
          <td colspan="0" style="padding-top: 2ex; text-align: center"><input type="submit"/></td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}
