{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% extends "refdb/base.html" %}
{% load i18n %}

{# Actually, you should *never* get into this template, unless you don't use a
   normal browser. #}

{% block frame_content %}
  <form method="post" action="">
    <table>
      {{ change_list }}
    </table>
    <p><input type="submit"/></p>
  </form>
{% endblock %}
