{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% load chantal %}
{% load refdb_extras %}

<table cellpadding="10" class="references">
  <tr>{% if references.0.selection_box %}<th class="screen-only"/>{% endif %}
    <th>{{ _("Author") }}</th><th>{{ _("Title") }}</th><th>{{ _("Journal") }}</th><th>{{ _("Year") }}</th>
    <td class="screen-only"/></tr>
  {% for reference in references %}
    <tr class="list-row-{% cycle 'odd' 'even' %}">
      {% if reference.selection_box %}
        <td class="screen-only">{{ reference.selection_box.selected }}</td>
      {% endif %}
      <td>{% with reference.authors as authors %}
            {% if authors %}
              {{ authors.0.pretty_print }}
                {% ifnotequal authors|length 1 %}{{ _("et al.") }}{% endifnotequal %}
            {% endif %}
          {% endwith %}</td>
      <td class="reference-title">{{ reference.title|default:"" }} {% full_text_info reference %}</td>
      <td>{{ reference|journal|default:"" }}</td>
      <td>{{ reference.publication.pub_info.pub_date.year|default_if_none:"" }}</td>
      <td class="screen-only">
        <a href="{% url refdb.views.reference.view citation_key=reference.citation_key, database=database %}"
           ><img src="{{ MEDIA_URL }}/refdb/icons/magnifier.png" alt="{{ _("Details") }}"/></a><br/>
	<a 
href="{% url refdb.views.reference.view citation_key=reference.citation_key,database=database %}/edit/?next={{ current_url|urlquote_plus }}"
           ><img src="{{ MEDIA_URL }}/chantal/icons/pencil.png" alt="{{ _("Edit") }}"/></a>
        {% if reference.pdf_url %}
          <a href="{{ reference.pdf_url }}"><img src="{{ MEDIA_URL }}refdb/icons/page_white_acrobat.png" 
                                                 alt="{{ _("View PDF") }}"/></a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
