{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% extends "refdb/base.html" %}
{% load i18n %}
{% load chantal %}

{% block frame_content %}
  <div style="float: left; margin-top: 2ex; margin-right: 2em">
    {% error_list search _("Search error") %}
    <form method="get" action="bulk/" style="margin-bottom: 4ex ">
      {% with search.query_string as field %}
        <label for="id_{{ field.html_name }}">{{ field.label }}:</label><br/>
        {{ field }}{{ field.help_text }}<br/>
      {% endwith %}
      <input type="submit"/>
    </form>
    {% error_list change_list _("Change list error") %}
    <form method="post" action="change_list/">
      {% with change_list.new_list as field %}
        <label for="id_{{ field.html_name }}">{{ field.label }}:</label><br/>
        {{ field }}{{ field.help_text }}<br/>
      {% endwith %}
      <input type="submit"/>
    </form>
  </div>
  <div style="font-size: 75%">
    {% include "refdb/list_compact.html" %}
  </div>
{% endblock %}
