{# -*- indent-tabs-mode: nil -*- #}
{% extends "refdb/base.html" %}
{% load i18n %}
{% load refdb_extras %}

{% block frame_content %}
  <table width="100%" style="border-collapse: collapse">
    {% if with_part %}
      <tr>
        {% flexible_field "part_title" %}
          <td class="value" colspan="0">{{ reference.part.title|default:"" }}</td>
        {% end_flexible_field %}
      </tr>
      <tr>
        {% flexible_field "part_authors" %}
          <td class="value" colspan="0">
            {% for author in reference.part.authors %}{{ author.pretty_print }}{% if not forloop.last %};
              {% endif %}{% endfor %}
          </td>
        {% end_flexible_field %}
      </tr>
    {% endif %}
    <tr>
      {% flexible_field "publication_title" %}
        <td class="value" colspan="0">{{ reference.publication.title|default:"" }}</td>
      {% end_flexible_field %}
    </tr>
    <tr>
      {% flexible_field "date" %}
        <td class="value" colspan="0">{{ reference.publication.pub_info.pub_date }}</td>
      {% end_flexible_field %}
    </tr>
    <tr style="border-top: solid transparent 4ex">
      {% flexible_field "publication_authors" %}
        <td class="value">
          {% for author in reference.publication.authors %}{{ author.pretty_print }}{% if not forloop.last %};
            {% endif %}{% endfor %}
        </td>
      {% end_flexible_field %}
      <td class="label">{% trans 'Relevance' %}:</td>
      <td class="value">{{ reference.publication.pub_info.user_defs.1 }}</td>
      <td class="label">{% trans 'PDF' %}:</td>
      <td class="value">
        {% if reference.publication.lib_info.links.pdf %}
          {{ reference.publication.lib_info.links.pdf }}
        {% else %}
          {{ reference.publication.pub_info.links.pdf }}
        {% endif %}
      </td>
    </tr>
    {% with reference.publication.pub_info as pub_info %}
      <tr>
        {% flexible_field "volume" %}
          <td class="value">{{ pub_info.volume|default:"" }}</td>
        {% end_flexible_field %}
        {% flexible_field "issue" %}
          <td class="value">{{ pub_info.issue|default:"" }}</td>
        {% end_flexible_field %}
        {% flexible_field "pages" %}
          <td class="value">
            {{ pub_info.startpage|default:"" }}{% if pub_info.endpage %}–{% endif %}{{ pub_info.endpage|default:"" }}</td>
        {% end_flexible_field %}
      </tr>
      <tr>
        {% flexible_field "publisher" %}
          <td class="value">{{ pub_info.publisher|default:"" }}</td>
        {% end_flexible_field %}
        {% flexible_field "city" %}
          <td class="value">{{ pub_info.city|default:"" }}</td>
        {% end_flexible_field %}
        <td class="label">{% trans 'Address' %}:</td>
        <td class="value">{{ pub_info.address|default:"" }}</td>
      </tr>
      <tr>
        {% flexible_field "serial" %}
          <td class="value">{{ pub_info.serial|default:"" }}</td>
        {% end_flexible_field %}
        <td class="label">{% trans 'DOI' %}:</td>
        <td class="value">{{ pub_info.links.doi|default:"" }}</td>
        <td class="label">{% trans 'URL' %}:</td>
        <td class="value">{{ pub_info.links.url|default:"" }}</td>
      </tr>
    {% endwith %}
    <tr>
      <td class="label">{% trans 'Notes' %}:</td>
      <td colspan="5" class="value">{{ reference.comments|default:""|markdown }}</td>
    </tr>
    {% if reference.institute_publication %}
      <tr>
        <td colspan="0">{% trans "This is an institute's publication." %}</td>
      </tr>
    {% endif %}
    <tr>
      <td class="label">{% trans 'Reprint locations' %}:</td>
      <td colspan="0" class="value">{{ reference.publication.pub_info.links.fulltext }}</td>
    </tr>
    <tr>
      <td class="label">{% trans 'Abstract' %}:</td>
      <td colspan="0" class="value" style="font-weight: normal; font-size: smaller">{{ reference.abstract|default:"" }}</td>
    </tr>
    <tr>
      <td class="label">{% trans 'Keywords' %}:</td>
      <td colspan="0" class="value">{% for keyword in reference.keywords %}{{ keyword }}{% if not forloop.last %};
        {% endif %}{% endfor %}</td>
    </tr>
  </table>
  {% if lib_info %}
    <table width="100%" style="background-color: #c0f0c0">
      <tr>
        <td class="label">{% trans 'Notes' %}:</td>
        <td class="value">{{ lib_info.notes|default:""|markdown }}</td>
      </tr>
      <tr>
        <td class="label">{% trans 'Reprint available' %}:</td>
        <td class="value">
          {% ifequal lib_info.reprint_status "INFILE" %}{% trans 'yes' %}{% else %}{% trans 'no' %}{% endifequal %}</td>
      </tr>
      <tr>
        <td class="label">{% trans 'Reprint location' %}:</td>
        <td class="value">{{ lib_info.availability|default:"" }}</td>
      </tr>
    </table>
  {% endif %}
  {% if pdf_path %}
    <a href="{{ pdf_path }}">{% trans 'link to PDF' %}</a>
    {% if pdf_is_private %}
      {% trans '(is private)' %}
    {% endif %}
  {% endif %}
{% endblock %}
