{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_base.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" media="screen" href="/static/juliabase/css/main.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="/static/juliabase/css/print.css"/>
  <link rel="shortcut icon" href="/static/institute/favicon.ico" type="image/x-icon"/>
{% endblock %}

{% block title %}{% translate 'Internal JuliaBase error' %}{% endblock %}

{% block content %}
  <table class="headbar">
    <tr>
      <td class="info">
      </td>
      <td class="login-data">
        <a href="/"><img src="/static/juliabase/icons/house.png" alt="home icon" title="{% translate 'Main menu' %}"
                         width="16" height="16"/></a>
      </td>
    </tr>
  </table>

  <div class="main">
    <div class="screen-only">
      <p class="logo-text">JuliaBase</p>
    </div>

    <div class="outer-frame">
      <div class="inner-frame">
        <div class="page-header"><h1>{% translate 'Internal server error' %}</h1></div>
    {% blocktranslate %}
<p>You experienced an internal error in the JuliaBase server software.  The
administrators have been contacted already and will do their best in
eliminating the bug.  Typically, they will contact you as soon as the problem
is tackled.</p>

<p>If you just submitted data to the database, don't close this window.
It may be that the problem is being fixed and you are asked to go back
and re-do your action, so that the data is actually written into the
database.</p>
{% endblocktranslate %}
<p style="margin: 0pt"> </p> <!-- IE7 quirk -->
<div style="clear: both"></div>
      </div>
    </div>
  </div>
{% endblock %}
