{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/templates/jb_base.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% block branding %}
  <div class="screen-only">
    <div style="float: right; vertical-align: top; width: 20em">
      <img style="float: right; padding-left: 5px" src="{% static "institute/sun.png" %}" alt="{% trans "INM logo" %}"/>
      <div style="text-align: right; color: #333333; font-weight: bold">
        {% trans "Institute of Nifty New<br/>Materials (INM)" %}
      </div>
    </div>
    <img style="float: left; margin-right: 5px"
         src="{% static "juliabase/juliabase_logo.png" %}" width="50" height="50" alt="{% trans "JuliaBase logo" %}"/>
    <p class="logo-text">{% block app_title %}{% endblock %}</p>
  </div>
{% endblock %}
