body { 
    background-color: white; 
    font-family: Frutiger,Trebuchet MS,DejaVu Sans,Bitstream Vera Sans,Verdana,sans-serif;
    margin: 10px 25px 20px;
}
p.logo-text { margin:0pt; font-size: 50px; color: #888888; font-weight: bold }
p.logo-subtext { margin:0pt; margin-top:-10px; font-size: 15px; color: #888888; font-weight: normal }
img.logo { float: right }

div.outer-frame {
    clear: both;
    margin-top: 20px;
    border-color: #b2b2b2;
    border-width: thin;
    -moz-border-radius: 12px;
    border-style: solid;
}

div.main {
    margin: 1px;
    padding: 10px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    -moz-border-radius: 10px;
    background-color: #e6e6e6;
}

h1 { margin-top: 0pt }

p.timestamp { float: right; font-size: small }
