{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/stewardess.jpg" alt="{% trans 'stewardess' %}"/>
{% endblock %}

{% block css %}
<style type="text/css">
  p { margin: 0pt }
  img { border: 0pt }
  img.helper-program-logo { float: right; margin: 0pt 0pt 1ex 0.5em }
</style>
{% endblock %}

{% block content %}
<table class="about" style="margin-bottom: 0pt">
  <tr>
    <th>{% trans 'Operating system' %}:</th>
    <td><p><a href="http://www.ubuntu.com"><img class="helper-program-logo" src="/media/ubuntu.png"
                                                alt="{% trans 'Ubuntu logo' %}"/></a></p>
      <p><a href="http://www.ubuntu.com">Ubuntu</a> <span class="version">8.04
          <a href="http://www.ubuntu.com/products/whatisubuntu/serveredition">Server Edition</a></span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Web server' %}:</th>
    {% if is_testserver %}
    <td>{% trans 'Django testserver' %}</td>
    {% else %}
    <td><p><a href="{% trans 'http://en.wikipedia.org/wiki/Apache_HTTP_Server' %}"
              ><img class="helper-program-logo" src="/media/apache.png" alt="{% trans 'Apache logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Apache_HTTP_Server' %}">Apache</a>
      <span class="version">{{ web_server_version }}</span></p></td>
    {% endif %}
  </tr>
  <tr>
    <th>{% trans 'Database' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/PostgreSQL' %}"
            ><img class="helper-program-logo" src="/media/postgresql.png" alt="{% trans 'PostgreSQL logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/PostgreSQL' %}">PostgreSQL</a>
        <span class="version">{{ db_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Programming framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}"
            ><img class="helper-program-logo" src="/media/django.png" alt="{% trans 'Django logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}">Django</a>
        <span class="version">{{ framework_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Plotting system' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Matplotlib' %}"
            ><img class="helper-program-logo" src="/media/matplotlib.png" alt="{% trans 'Matplotlib logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Matplotlib' %}">Matplotlib</a>
        <span class="version">{{ matplotlib_version }}</span></p>
    </td>
  </tr>
</table>

<p style="margin: 1em; text-align: center">
  {% blocktrans %}
    “<strong>Chantal</strong>” stands
    for “<strong>c</strong>omprehensive <strong>h</strong>ighly-<strong>a</strong>vailable <strong>n</strong>etworked 
    <strong>t</strong>est-items <strong>a</strong>rchiving <strong>l</strong>ibrary”.
  {% endblocktrans %}
</p>

{% if short_messages %}
  <div class="short-messages">
  {% for short_message in short_messages %}
    {{ short_message }}
    {% if not forloop.last %}
    •
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
{% endblock %}
