{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
<form method="post" action="">
  {% error_list deposition _("Error in deposition") %}
  {% error_list samples _("Error in sample list") %}
  <table cellpadding="5">
    <tr>
      <td style="text-align: right"><label for="id_{{ deposition.number.html_name }}"
           >{{ deposition.number.label }}:</label></td>
      <td>{{ deposition.number }}</td>
      <td rowspan="4" style="padding-left: 2em; vertical-align:top">
        <label for="id_{{ samples.sample_list.html_name }}" style="margin-right: 0.5em"
                             >{{ samples.sample_list.label }}:</label>{{ samples.sample_list }}</td>
    </tr>
    <tr>
      {% input_field deposition.timestamp %}
    </tr>
    <tr style="display: none">
      {% input_field deposition.operator %}
    </tr>
    <tr>
     <td style="text-align: right">
        <label for="id_{{ deposition.comments.html_name }}">{{ deposition.comments.label }}:<br/>
          {% markdown_hint %}</label></td>
      <td>{{ deposition.comments }}</td>
    </tr>
  </table>

  {% if layers_and_change_layers %}
    <table width="100%">
      {% for layer, change_layer in layers_and_change_layers %}
        <tr>
          <td style="border-style: solid; border-color: black; border-width: thin">
            <table width="100%">
              {% error_list layer _("Error in layer") "<tr>" %}
              {% error_list change_layer _("Error in layer") "<tr>" %}
              <tr>
                <td class="label">
                  <label for="id_{{ layer.number.html_name }}"
                         >{{ layer.number.label }}:</label>
                </td>
                <td class="value">{{ layer.number }}</td>
                {% input_field layer.sih4 %}
                {% input_field layer.power %}
              </tr>
              <tr>
                {% input_field layer.layer_type %}
                {% input_field layer.h2 %}
                {% input_field layer.pressure %}
              </tr>
              <tr>
                {% input_field layer.station %}
                <td colspan="2"/>
                {% input_field layer.temperature %}
              </tr>
              <tr>
                {% input_field layer.date %}
                {% input_field layer.tmb %}
                {% input_field layer.hf_frequency %}
              </tr>
              <tr>
                {% input_field change_layer.duplicate_this_layer %}
                {% input_field layer.ch4 %}
                {% input_field layer.time %}
              </tr>
              <tr>
                {% input_field change_layer.remove_this_layer %}
                {% input_field layer.co2 %}
                {% input_field layer.dc_bias %}
              </tr>
              <tr>
                {% input_field change_layer.move_this_layer %}
                {% input_field layer.ph3 %}
                {% input_field layer.electrode %}
              </tr>
              <tr>
                <td colspan="4"/>
                {% input_field layer.electrodes_distance %}
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% error_list add_layers _("Error with adding layers") %}
  {% error_list remove_from_my_samples _("Error with removing from My Samples") %}
  <table>
    <tr>
      {% input_field add_layers.number_of_layers_to_add %}
    </tr>
    <tr>
      {% input_field add_layers.my_layer_to_be_added %}
    </tr>
    {% if remove_from_my_samples %}
      <tr>
        {% input_field remove_from_my_samples.remove_deposited_from_my_samples %}
      </tr>
    {% endif %}
  </table>

  <div style="display: none">
    {{ deposition.timestamp_inaccuracy }}
  </div>

  <p class="submit-button"><input type="submit"/></p>
</form>


{% endblock %}
