{% load i18n %}
{% load samples_extras %}

<p>
  {% blocktrans with entry.originator|get_really_full_name:"mailto" as originator and entry.group as group and entry.old_group as old_group and entry.sample_series as sample_series and entry.sample_series.get_absolute_url as url %}
    {{ originator }} has moved the sample series “<a href="{{ url }}">{{ sample_series }}</a>” from group 
    “{{ old_group }}” to the group “{{ group }}”.
  {% endblocktrans %}
  {% if subscribed %}
    {% trans 'You are subscribed to this sample series because you have at least one of its samples amongst “My Samples”.' %}
  {% else %}
    {% trans 'You are not subscribed to this sample series because you have none of its samples amongst “My Samples”.' %}
  {% endif %}
  {% trans 'Full description of the change:' %}
</p>

<blockquote>
  {{ entry.description|markdown_samples }}
</blockquote>
