{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">
  <table>
    {{ search_samples }}
  </table>

  <p>
    {% if too_many_results %}
      {% blocktrans %}
        Too many matches were found.  I show only {{ max_results }} of them.
      {% endblocktrans %}
    {% endif %}
  </p>

  <ul class="sample-list">
    {% for sample, add_to_my_samples in found_samples %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a>
        {% if add_to_my_samples %}
          {{ add_to_my_samples.add_to_my_samples }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if found_samples %}
    <p>{% trans 'Mark samples to add them to “My Samples”.' %}</p>
  {% else %}
    <p>{% trans 'Nothing found.' %}</p>
  {% endif %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>

{% endblock %}
