{# -*- indent-tabs-mode: nil -*- #}
{% load i18n %}
{% load samples_extras %}

{% if thumbnail %}
  <div style="float: right; page-break-inside: avoid">
    <a href="{{ figure }}"><img src="{{ thumbnail }}" alt="{{ process }}"/></a>
  </div>
{% endif %}

<table cellpadding="5">
  <tr>
    {% value_field process.number %}
  </tr>
  {% if process.raw_datafile %}
    <tr>
      <td class="label">{% verbose_name PDSMeasurement.raw_datafile %}:</td>
      <td class="value" style="font-weight: normal"><a href="file:///T:/daten/pds/{{ process.raw_datafile }}"
                                                       >T:/daten/pds/{{ process.raw_datafile }}</a></td>
    </tr>
  {% endif %}
  {% if process.evaluated_datafile %}
    <tr>
      <td class="label">{% verbose_name PDSMeasurement.evaluated_datafile %}:</td>
      <td class="value" style="font-weight: normal"><a href="file:///T:/daten/pds/{{ process.evaluated_datafile }}"
                                                       >T:/daten/pds/{{ process.evaluated_datafile }}</a></td>
    </tr>
  {% endif %}
  {% if process.comments %}
    <tr>
      <td class="label" style="vertical-align: top">{% verbose_name PDSMeasurement.comments %}:</td>
      <td class="value" style="font-weight: normal">{{ process.comments|markdown }}</td>
    </tr>
  {% endif %}
</table>
