{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<table cellpadding="10" style="margin-bottom: 2ex">
  <tr>
    {% value_field user.username %}
  </tr>
  <tr>
    <td class="label">{% verbose_name django.contrib.auth.models.User.email %}:</td>
    <td class="value" style="font-weight: normal"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
  </tr>
  {% if userdetails %}
    <!-- Phone number, picture, whatever.  Not used yet. -->
  {% endif %}
</table>
{% endblock %}
