{# -*- indent-tabs-mode: nil -*- #}
{% load i18n %}
{% load samples_extras %}

<p>
  <span class="label">{% verbose_name Deposition.number %}:</span><span class="value">{{ process.number }}</span>
</p>

{% if process.comments %}
  <p>
    <span class="label">{% verbose_name LargeAreaDeposition.comments %}:</span>
  </p>
  <blockquote>{{ process.comments|markdown_samples }}</blockquote>
{% endif %}


<table width="100%">
  {% for layer in process.layers.all %}
  <tr>
    <td style="border-style: solid; border-color: black; border-width: thin">
      <table width="100%">
        <tr>
          <td class="label">{% verbose_name LargeAreaLayer.number %}:</td>
          <td class="value">{{ layer.number|three_digits }}</td>
          {% value_field layer.sih4 "sccm" %}
          {% value_field layer.power "W" %}
        </tr>
        <tr>
          <td class="label">{% verbose_name LargeAreaLayer.layer_type %}:</td>
          <td class="value">{{ layer.get_layer_type_display }}</td>
          {% value_field layer.h2 "sccm" %}
          {% value_field layer.pressure "Torr" %}
        </tr>
        <tr>
          {% value_field layer.station %}
          <td class="label">{% trans 'Silane conc.' %}:</td>
          <td class="value">{{ layer|calculate_silane_concentration|quantity:"%"|default_if_none:"—" }}</td>
          {% value_field layer.temperature "℃" %}
        </tr>
        <tr>
          {% value_field layer.date %}
          {% value_field layer.tmb "sccm" %}
          <td class="label">{% verbose_name LargeAreaLayer.hf_frequency %}:</td>
          <td class="value">{{ layer.get_hf_frequency_display }} MHz</td>
        </tr>
        <tr>
          <td colspan="2"/>
          {% value_field layer.ch4 "sccm" %}
          {% value_field layer.time "sec" %}
        </tr>
        <tr>
          <td colspan="2"/>
          {% value_field layer.co2 "sccm" %}
          {% value_field layer.dc_bias "V" %}
        </tr>
        <tr>
          <td colspan="2"/>
          {% value_field layer.ph3 "sccm" %}
          <td class="label">{% verbose_name LargeAreaLayer.electrode %}:</td>
          <td class="value">{{ layer.get_electrode_display }}</span></td>
        </tr>
        <tr>
          <td colspan="4"/>
          {% value_field layer.electrodes_distance "mm" %}
        </tr>
      </table>
    </td>
  </tr>
  {% endfor %}
</table>

