{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">
  <table style="margin-left: auto; margin-right: auto; margin-bottom: 3ex" cellpadding="10" border="1">
    <tr>
      <th>{{ samples.0.0.sample.label }}</th>
      <th>{{ samples.0.0.new_name.label }}</th>
      <th>{{ samples.0.0.number_of_pieces.label }}</th>
      <th>{{ samples.0.1.0.new_name.label }}</th>
    </tr>
    {% for sample, new_names in samples %}
      {% error_list sample _("Error in sample name") "<tr>" %}
      <tr>
        <td style="vertical-align: top">
          {{ sample.sample }}
        </td>
        <td style="text-align: center; vertical-align: top">
          {{ sample.new_name }}
        </td>
        <td style="text-align: center; vertical-align: top">
          {{ sample.number_of_pieces }}
        </td>
        <td style="vertical-align: top">
          <table cellspacing="0" cellpadding="0">
            {% for new_name in new_names %}
              {% if new_name.errors or new_name.non_field_errors %}
                <tr>
                  <td colspan="0">
                    {% error_list new_name _("Error in sample name") %}
                  </td>
                </tr>
              {% endif %}
              <tr>
                <td>
                  {{ new_name.new_name }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endfor %}
  </table>
  {{ new_sample_data.as_p }}
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
