{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}

{% block extrahead %}
<meta http-equiv="refresh" content="600"/>
{% endblock %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/secretary.jpg" alt="{% trans 'secretary' %}"/>
{% endblock %}

{% block css %}
<style type="text/css">
  img { border: 0pt }
  th { text-align: left }
  td { vertical-align: top }
</style>
{% endblock %}

{% block frame_content %}
<h2>{% trans 'Availability' %}</h2>

{% if not availability %}
  <p>{% trans 'No data available.' %}</p>
{% else %}
  <p>{% blocktrans with availability.availability as availability and availability.start_date as start_date %}{{ availability }} 
         availability since {{ start_date }}.{% endblocktrans %}</p>

  {% if availability.downtimes %}
    <p>{% trans 'Latest 10 downtimes:' %}</p>

    <ul>
      {% for downtime in availability.downtimes %}
        <li>{{ downtime }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}

<h3>{% trans 'Component uptimes' %}</h3>

<table cellpadding="10" style="large" border="1">
  <tr>
    <th>{% trans 'Component' %}</th>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'up and running …' %}</th>
  </tr>
  <tr>
    <td>{% trans 'OS' %}</td>
    <td>Ubuntu</td>
    <td>{{ os_uptime }}</td>
  </tr>
  <tr>
    <td>{% trans 'web server' %}</td>
    <td>Apache</td>
    <td>{{ web_server_uptime }}</td>
  </tr>
  <tr>
    <td>{% trans 'database server' %}</td>
    <td>PostgreSQL</td>
    <td>{{ db_uptime }}</td>
  </tr>
</table>


<h2 style="clear:both">{% trans 'Work load' %}</h2>

{% blocktrans %}
  <p>These plots are re-calculated every 10 minutes, the underlying resolution
being higher, though.  Note that “CPU load” is the pristine load
average <em>minus 1</em> in order to eliminate a grid computing process running
with low priority.</p>

  <p>“Memory usage” shows two green curves: the usage of memory by applications
only, and the total usage including buffers and cache.  The red line shows swap
usage.</p>

{% endblocktrans %}

<p><img src="/media/server_load.png" alt="{% trans 'server load statistics plots' %}"/></p>


<h2>{% trans 'Backups' %}</h2>

<h3>{% trans 'Hourly backups of the database tables' %}</h3>

{% if last_db_backup %}
  <table>
    <tr>
      <td>{% trans 'Last backup:' %}</td>
      <td style="padding-left: 1em">{{ last_db_backup.last_backup }}</td>
    </tr>
    <tr>
      <td>{% trans 'Last copy of all backups to sonne:' %}</td>
      <td style="padding-left: 1em">{{ last_db_backup.last_copy }}</td>
    </tr>
  </table>
{% else %}
  <p>{% trans 'No log data found.' %}</p>
{% endif %}

<h3>{% trans 'Tivoli storage manager' %}</h3>

{% if adsm_results.log_file_error %}
  <p style="warning">{% trans 'Log file could not be accessed.' %}</p>
{% else %}
  <table cellpadding="10" style="large" border="1">
    <caption>{% trans 'last backup' %}</caption>
    <tr>
      {# Clock time #}
      <th>{% trans 'Time' %}</th>
      <td>{{ adsm_results.last_backup_timestamp }}</td>
    </tr>
    <tr>
      <th>{% trans 'Objects inspected' %}</th>
      <td>{{ adsm_results.ispected_objects }}</td>
    </tr>
    <tr>
      <th>{% trans 'Objects failed' %}</th>
      <td>{{ adsm_results.failed_objects }}</td>
    </tr>
  </table>
{% endif %}

{% endblock %}
