chantal_common/locale/de.mo
chantal_common/locale/es.mo
chantal_common/locale/fr.mo
chantal_common/locale/de/LC_MESSAGES/django.mo
chantal_common/locale/es/LC_MESSAGES/django.mo
chantal_common/locale/fr/LC_MESSAGES/django.mo
chantal_common/migrations
*.pyc
