{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% extends "chantal_common/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Chantal login' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Chantal login' %}</h1>{% endblock %}
{% block frame_content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="">
  <table>
    <tr><td><label for="id_username">{% trans 'Username' %}:</label></td><td>{{ form.username }}</td></tr>
    <tr><td><label for="id_password">{% trans 'Password' %}:</label></td><td>{{ form.password }}</td></tr>
  </table>

  <p>
    <input type="submit" value="{% trans 'login' %}"/>
    <input type="hidden" name="next" value="{{ next }}"/>
  </p>
</form>

{% endblock %}
