{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list add_samples _("General error") %}
  <table>
    <tbody>
    <tr>
      {% input_field add_samples.number_of_samples %}
    </tr><tr>
      {% input_field add_samples.substrate %}
    </tr><tr>
      {% input_field add_samples.substrate_comments %}
    </tr>
    {% if external_operators_available %}
      <tr>
        {% input_field add_samples.substrate_originator %}
      </tr>
    {% endif %}
    <tr>
      {% input_field add_samples.timestamp %}
    </tr><tr>
      {% input_field add_samples.current_location %}
    </tr><tr>
      {% input_field add_samples.purpose %}
    </tr><tr>
      {% input_field add_samples.tags %}
    </tr><tr>
      {% input_field add_samples.topic %}
    </tr>
    <tr>
      {% input_field add_samples.cleaning_number %}
    </tr>
    <tr>
      <td class="field-label">{{ add_samples.rename.label }}:</td>
      <td class="input">{{ add_samples.rename }}</td>
    </tr>
    </tbody>
  </table>
  <div style="display: none">
    {{ add_samples.timestamp_inaccuracy }}
  </div> 
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
