{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list process _("Error in deposition") %}
  {% error_list samples _("Error in sample list") %}
  <table class="padding5">
    <tr>
      {% input_field process.number %}
      <td rowspan="4" class="field-label">{{ samples.sample_list.label_tag }}</td>
      <td rowspan="4" class="field-input">{{ samples.sample_list }}</td>
    </tr>
    {% if process.user.is_superuser %}
      <tr>
        {% input_field process.operator %}
        <td colspan="3"></td>
      </tr>
      <tr>
        {% input_field process.external_operator %}
        <td colspan="3"></td>
      </tr>
    {% else %}
      <tr>
        {% input_field process.combined_operator %}
        <td colspan="3"></td>
      </tr>
    {% endif %}
    <tr>
      {% input_field process.timestamp %}
    </tr>
    <tr>
     <td style="text-align: right">{{ process.comments.label_tag }}<br/>{% markdown_hint %}</td>
      <td>{{ process.comments }}</td>
    </tr>
  </table>

  {% if steps_and_change_steps %}
    <table style="width: 100%">
      {% for layer, change_layer in steps_and_change_steps %}
        <tr>
          <td style="border-style: solid; border-color: black; border-width: thin">
            <table style="width: 100%">
              {% error_list layer _("Error in layer") "<tr>" 6 %}
              {% error_list change_layer _("Error in layer") "<tr>" 6 %}
              <tr>
                <td class="field-label">{{ layer.number.label_tag }}</td>
                <td class="field-value">{{ layer.number }}</td>
                {% input_field layer.sih4 %}
              </tr>
              <tr>
                {% input_field layer.layer_type %}
                {% input_field layer.h2 %}                
              </tr>
              <tr>
                {% input_field layer.chamber %}
                {% split_field layer.temperature_1 layer.temperature_2 %}
              </tr>
              <tr>
                {% input_field change_layer.duplicate_this_step %}
              </tr>
              <tr>
                {% input_field change_layer.remove_this_step %}
              </tr>
              <tr>
                {% input_field change_layer.move_this_step %}
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% include "samples/edit_description.html" %}

  {% error_list add_steps _("Error with adding layers") %}
  {% error_list remove_from_my_samples _("Error with removing from My Samples") %}
  <table>
    <tr>
      {% input_field add_steps.number_of_steps_to_add %}
    </tr>
    <tr>
      {% input_field add_steps.my_step_to_be_added %}
    </tr>
    {% if remove_from_my_samples %}
      <tr>
        {% input_field remove_from_my_samples.remove_from_my_samples %}
      </tr>
    {% endif %}
  </table>

  <div style="display: none">
    {# Hidden so that it's only set/changed by the remote client. #}
    {{ process.timestamp_inaccuracy }}
  </div>

  <p class="submit-button"><input type="submit"/></p>
</form>


{% endblock %}
