{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  <table>
    <tr>
      <th>{{ my_layers.0.nickname.label }}</th>
      <th>{{ my_layers.0.deposition_and_layer.label }}</th>
      <th>{{ my_layers.0.delete.label }}</th>
    </tr>
    {% for layer in my_layers %}
      {% error_list layer _("Error in My Layer") "<tr>" 3 %}
      <tr>
        <td>{{ layer.nickname }}</td>
        <td>{{ layer.deposition_and_layer }}</td>
        <td>{{ layer.delete }}</td>
      </tr>
    {% endfor %}
  </table>
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
