{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block css %}
<style type="text/css">
  th { text-align: right; vertical-align: top; padding-right: 1em }
  table.channels * th { text-align: center; padding: 0pt }
</style>
{% endblock %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list process _("Error in deposition") %}
  {% error_list samples _("Error in sample list") %}
  <table class="padding5">
    <tr>
      {% input_field process.number %}
      <td rowspan="4" class="field-label">{{ samples.sample_list.label_tag }}</td>
      <td rowspan="4" class="field-input">{{ samples.sample_list }}</td>
    </tr>
    {% if process.user.is_superuser %}
      <tr>
        {% input_field process.operator %}
        <td colspan="3"></td>
      </tr>
      <tr>
        {% input_field process.external_operator %}
        <td colspan="3"></td>
      </tr>
    {% else %}
      <tr>
        {% input_field process.combined_operator %}
        <td colspan="3"></td>
      </tr>
    {% endif %}
    <tr>
      {% input_field process.carrier %}
    </tr>
    <tr>
      {% input_field process.timestamp %}
    </tr>
  </table>

  <p>
    {{ process.comments.label_tag }}<br/>{% markdown_hint %}<br/>{{ process.comments }}
  </p>

  {% if steps_and_change_steps %}
    <table style="width: 100%">
      {% for layer, change_layer in steps_and_change_steps %}
        <tr>
          <td style="border-style: solid; border-color: black; border-width: thin">
            <table style="width: 100%">
              {% error_list layer _("Error in layer") "<tr>" %}
              <tr>
                <td>
                  {{ layer.step_type }}
                  <table style="width: 100%">
                    <tr>
                      <td colspan="2" rowspan="3" style="vertical-align: top">
                        <table>
                          <tr>
                            <td style="vertical-align: top; text-align: left">
                              <div>
                                <span class="field-label">{{ _("layer number")|capfirst }}:</span>
                              </div>
                              <div style="font-size:xx-large; padding-left: 0.2em; padding-right: 0.2em;
                                          margin-left: 0.3em">
                                {{ layer.number }}
                              </div>
                            </td>
                            <td style="vertical-align: top; padding-left: 2em">
                              {% if layer.type == "clustertoolpecvdlayer" %}
                                {{ layer.chamber.label_tag }}<span class="field-value">{{ layer.chamber }}</span>
                              {% else %}
                                 
                              {% endif %}
                            </td>
                          </tr>
                          <tr><td colspan="2">
                          <table style="width: 100%">
                            <tr>
                              {% input_field change_layer.duplicate_this_step %}
                            </tr>
                            <tr>
                              {% input_field change_layer.remove_this_step %}
                            </tr>
                            <tr>
                              {% input_field change_layer.move_this_step %}
                            </tr>
                          </table></td></tr>
                        </table>
                      </td>
                        {% input_field layer.time %}
                        {% if layer.type == "clustertoolhotwirelayer" %}
                          {% input_field layer.wire_material %}
                        {% elif layer.type == "clustertoolpecvdlayer" %}
                          {% input_field layer.plasma_start_with_shutter %}
                        {% endif %}
                    </tr>
                    <tr>
                      {% if layer.type == "clustertoolhotwirelayer" %}
                        {% input_field layer.base_pressure %}
                      {% elif layer.type == "clustertoolpecvdlayer" %}
                        {% input_field layer.deposition_power %}
                      {% endif %}
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="width: 100%">
                    <tr>
                      {% if layer.comments %}
                        <td style="border: 1px dashed grey; vertical-align: top; padding: 1ex; width: 20%">
                          <div>{{ layer.comments.label_tag }}<br/>{% markdown_hint %}</div>
                            {{ layer.comments }}
                        </td>
                      {% else %}
                        <td> </td>
                      {% endif %}
                      <td style="vertical-align: top; padding: 1ex">
                        <div style="text-align: center; margin-bottom: 1ex; font-style: italic">
                          {{ _("Gas flows in sccm") }}
                        </div>
                        <table class="container table channels">
                          <tr>
                            {% input_field layer.h2 %}
                          </tr>
                          <tr>
                            {% input_field layer.sih4 %}
                          </tr>                          
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% include "samples/edit_description.html" %}

  <table style="margin-top: 2ex">
    <tr>
      <td class="field-label">{{ add_steps.step_to_be_added.label_tag }}</td>
      <td class="field-value" style="font-weight: normal">{{ add_steps.step_to_be_added }}</td>
    </tr>
    <tr>
      <td class="field-label">{{ add_steps.my_step_to_be_added.label_tag }}</td>
      <td class="field-value" style="font-weight: normal">{{ add_steps.my_step_to_be_added }}</td>
    </tr>
  </table>

  {% if remove_from_my_samples %}
    {{ remove_from_my_samples.as_p }}
  {% endif %}

  <div style="display: none">
    {# Hidden so that it's only set/changed by the remote client. #}
    {{ process.timestamp_inaccuracy }}
  </div>

  <p class="submit-button"><input type="submit"/></p>
</form>


{% endblock %}
