{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list process _("Error in solarsimulator measurements") %}
  {% error_list sample _("Error in sample") %}
  {% error_list remove_from_my_samples _("Error with removal from “My Samples”") %}
  <table class="padding5">
    <tbody>
      <tr>
        {% input_field process.timestamp %}
      </tr>
      <tr>
        {% input_field sample.sample %}
      </tr>
      <tr>
        {% input_field process.irradiation %}
      </tr>
      <tr>
        {% input_field process.temperature %}
      </tr>
      {% if process.user.is_staff %}
        <tr>
          {% input_field process.operator %}
        </tr>
        <tr>
          {% input_field process.external_operator %}
        </tr>
      {% else %}
        <tr>
          {% input_field process.combined_operator %}
        </tr>
      {% endif %}
      <tr>
        <td class="label"><label for="id_{{ process.comments.html_name }}">
          {{ process.comments.label }}:</label><br/>{% markdown_hint %}</td>
        <td class="input" colspan="3">{{ process.comments }}</td>
      </tr>
    </tbody>
  </table>

  {{ number.as_p }}

  {% if subprocesses %}
    <table style="width: 100%">
      <tbody>
        {% for measurement in subprocesses %}
          <tr>
            <td style="border-style: solid; border-color: black; border-width: thin">
              <table style="width: 100%">
                {% error_list measurement _("Error in solarsimulator measurement") "<tr>" 4 %}
                <tr>
                  {% input_field measurement.position %}
                </tr>
                <tr><td><br/></td></tr>
                <tr>
                  {% input_field measurement.data_file %}
                </tr>
                <tr>
                  {% input_field measurement.area %}
                  {% input_field measurement.eta %}
                </tr>
                <tr>
                  {% input_field measurement.isc %}
                </tr>
                <tr><td><br/></td></tr>
              </table>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <div style="display: none">
    {# Hidden so that it's only set/changed by the remote client. #}
    {{ process.timestamp_inaccuracy }}
  </div>

  {% include "samples/edit_description.html" %}

  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
