{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}
{% load institute_extras %}

{% if processes %}
  <table class="lab-notebook table">
    <colgroup span="2"></colgroup>
    <colgroup span="2" style="background-color: #ffbbbb"></colgroup>
    <colgroup style="background-color: #bbffbb"></colgroup>
    <colgroup span="2"></colgroup>
    <thead>
      <tr>
        <th>{% translate 'number' %}</th>
        <th>{% translate 'chamber' %}</th>
        <th>SiH₄</th>
        <th>H₂</th>
        <th>SC</th>
        <th style="font-style: italic">T</th>
        <th>{% translate 'comments' %}</th>
      </tr>
      <tr style="padding-top: -2ex">
        <th></th>
        <th></th>
        <th colspan="2" style="text-align: center">(sccm)</th>
        <th style="white-space: nowrap">(%)</th>
        <th style="white-space: nowrap">(℃)</th>
        <th></th>
      </tr>
    </thead>
    {% for deposition in processes %}
      {% lab_notebook_comments deposition "before" %}
      {% for layer in deposition.layers.all %}
        <tr style="vertical-align: top"{% if forloop.first %} class="topline"{% endif %}>
          {% if forloop.first %}
            <td rowspan="{{ deposition.layers.count }}">
              <a href="{{ deposition.get_absolute_url }}">{{ deposition.number }}</a>
            </td>
          {% endif %}
          <td>{{ layer.get_chamber_display }}</td>
          <td style="text-align: '.'">{{ layer.sih4|quantity|default_if_none:" " }}</td>
          <td style="text-align: '.'">{{ layer.h2|quantity|default_if_none:" " }}</td>
          <td style="text-align: '.'">{{ layer|calculate_silane_concentration|quantity|default_if_none:" " }}</td>
          <td>{{ layer.temperature_1|quantity|default_if_none:"–" }} /
            {{ layer.temperature_2|quantity|default_if_none:"–" }}</td>
          {% if forloop.first %}
            <td rowspan="{{ deposition.layers.count }}">
              <div style="float: right; margin-left: 3em; margin-bottom: 2ex; border-left: 1px solid;
                          border-bottom: 1px solid" class="timestamp">
                {{ deposition|timestamp:"3" }}</div>{{ deposition.comments|markdown_samples:"collapse" }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      {% lab_notebook_comments deposition "after" %}
    {% endfor %}
  </table>
{% else %}
  <p>{% translate 'No data found for this time range.' %}</p>
{% endif %}
