{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/templates/samples/list_claims.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load static %}

{% block claim_links %}
  <p style="margin-bottom: 0.5ex">{% translate "Assert a new claim to …" %}</p>
  <ul style="margin-top: 0.5ex">
    <li><a href="{% url 'samples:add_claim' username=user.username %}"
           >{% translate 'existing samples' %}</a></li>
    <li><a href="{% url 'institute:add_claim_oldstyle' username=user.username %}"
      >{% translate 'old-style sample names which do not yet exist' %}</a></li>
  </ul>
  <p style="margin-bottom: 0.5ex">{% translate "“To exist” means here “to exist in the database”." %}</p>
{% endblock %}
