{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Torsten Bronger <bronger@physik.rwth-aachen.de>,
                      Marvin Goblet <m.goblet@fz-juelich.de>.

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}
{% load ipv_extras %}

<table>
  <tbody>
  <tr>
    <td class="label" style="padding-left: 2em">{% verbose_name LayerThicknessMeasurement.thickness %}:</td>
    <td class="value" style="padding-right: 2em">{{ process|convert_thickness }} {{ process.get_unit_display }}</td>
    <td class="label" style="padding-left: 2em">{% verbose_name LayerThicknessMeasurement.method %}:</td>
    <td class="value" style="padding-right: 2em">{{ process.get_method_display }}</td>
    {% value_field process.uncertainty "%" %}
  </tr>
  {% if process.comments %}
    <tr>
      <td class="label" style="vertical-align: top">{% verbose_name LayerThicknessMeasurement.comments %}:</td>
      <td class="value" style="font-weight: normal">{{ process.comments|markdown_samples:"collapse" }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
