{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

In particular, you may modify this file freely and even remove this license,
and offer it as part of a web service, as long as you do not distribute it.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}
{% load institute_extras %}
{% load juliabase %}

<p>
  <span class="field-label">{% verbose_name Deposition.number %}:</span><span class="field-value"
    style="margin-right: 4em">{{ process.number }}</span>
  <span class="field-label">{% verbose_name ClusterToolDeposition.carrier %}:</span><span class="field-value">{{ process.carrier|default:"—" }}</span>
</p>

{% if process.comments %}
  <blockquote>{{ process.comments|markdown_samples }}</blockquote>
{% endif %}

<table style="width: 100%">
  {% for layer in process.layers.all|actual_instances %}
    <tr>
      <td style="border-style: solid; border-color: black; border-width: thin">
        <table style="width: 100%">
          <tr>
            <td>
              <table style="width: 100%">
                <tr>
                  <td colspan="2" rowspan="3" style="vertical-align: top">
                    <table>
                      <tr>
                        <td style="vertical-align: top; text-align: right">
                          <div style="float: left">{% verbose_name ClusterToolLayer.number %}:</div>
                          <div
                            style="font-size:xx-large; padding-left: 0.2em; padding-right: 0.2em;
                                   margin-left: 0.3em;
                                   border-style: solid; border-width: thin;
                                   border-color: black; float: right; clear: left">{{ layer.number }}</div>
                        </td>
                        <td style="vertical-align: top; padding-left: 2em">
                          {% if layer.type == "clustertoolpecvdlayer" %}
                            <span class="field-label">{% verbose_name ClusterToolPECVDLayer.chamber %}:</span
                                  ><span class="field-value">{{ layer.chamber }}</span>
                          {% else %}
                             
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">{{ layer|cluster_tool_layer_type:"verbose" }}</td>
                      </tr>
                    </table>
                  </td>
                   {% value_field layer.time|depostion_time %}
                   {% if layer.type == "clustertoolpecvdlayer" %}
                      {% value_field layer.plasma_start_with_shutter "yes/no" %}
                   {% elif layer.type == "clustertoolhotwirelayer" %}
                      {% value_field layer.get_wire_material_display %}
                   {% endif %}
                </tr>
                <tr>
                  {% if layer.type == "clustertoolhotwirelayer" %}
                    {% value_field layer.base_pressure %}
                  {% elif layer.type == "clustertoolpecvdlayer" %}
                    {% value_field layer.deposition_power %}
                  {% endif %}
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%">
                <tr>
                  {% if layer.comments %}
                  <td style="border: 1px dashed grey; vertical-align: top; padding: 1ex">
                      {{ layer.comments|markdown_samples:"collapse" }}
                  </td>
                  {% else %}
                  <td> </td>
                  {% endif %}
                  <td style="width: 60%; vertical-align: top; padding: 1ex">
                    <table style="text-align: center; width: 100%">
                      {% if layer.h2 %}
                      <tr>
                        {% value_field layer.h2 %}
                      </tr>
                      {% endif %}
                      {% if layer.sih4 %}
                      <tr>
                        {% value_field layer.sih4 %}
                      </tr>
                      {% endif %}
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  {% endfor %}
</table>
