{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}
{% load institute_extras %}

<p>
  <span class="label">{% verbose_name Deposition.number %}:</span><span class="value"
    style="margin-right: 4em">{{ process.number }}</span>
  <span class="label">{% verbose_name ClusterToolDeposition.carrier %}:</span><span class="value">{{ process.carrier|default:"—" }}</span>
</p>

{% if process.comments %}
  <blockquote>{{ process.comments|markdown_samples }}</blockquote>
{% endif %}

<table style="width: 100%">
  <tbody>
  {% for layer in layers %}
  <tr>
    <td style="border-style: solid; border-color: black; border-width: thin">
      <table style="width: 100%">
        <tbody>
        <tr>
          <td>
            <table style="width: 100%">
              <tbody>
              <tr>
                <td colspan="2" rowspan="3" style="vertical-align: top">
                  <table>
                    <tbody>
                    <tr>
                      <td style="vertical-align: top; text-align: right">
                        <div style="float: left">{% verbose_name ClusterToolLayer.number %}:</div>
                        <div
                          style="font-size:xx-large; padding-left: 0.2em; padding-right: 0.2em;
                                 margin-left: 0.3em;
                                 border-style: solid; border-width: thin;
                                 border-color: black; float: right; clear: left">{{ layer.number }}</div>
                      </td>
                      <td style="vertical-align: top; padding-left: 2em">
                        {% if layer.type == "clustertoolpecvdlayer" %}
                          <span class="label">{% verbose_name ClusterToolPECVDLayer.chamber %}:</span
                                ><span class="value">{{ layer.chamber }}</span>
                        {% else %}
                           
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">{{ layer|cluster_tool_layer_type:"verbose" }}</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                 <td class="label">{% verbose_name ClusterToolHotWireLayer.time %}:</td>
                 <td class="value"> {{ layer.time|depostion_time }}</td>
                 {% if layer.type == "clustertoolpecvdlayer" %}
                    {% value_field layer.plasma_start_with_shutter "yes/no" %}
                 {% elif layer.type == "clustertoolhotwirelayer" %}
                    <td class="label">{% verbose_name ClusterToolHotWireLayer.wire_material %}:</td>
                    <td class="value">{{ layer.get_wire_material_display }}</td>
                 {% endif %}
              </tr>
              <tr>
                  {% if layer.type == "clustertoolhotwirelayer" %}
                    {% value_field layer.base_pressure %}
                  {% elif layer.type == "clustertoolpecvdlayer" %}
                    {% value_field layer.deposition_power %}
                  {% endif %}
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tbody>
              <tr>
                {% if layer.comments %}
                <td style="border: 1px dashed grey; vertical-align: top; padding: 1ex">
                    {{ layer.comments|markdown_samples:"collapse" }}
                </td>
                {% else %}
                <td> </td>
                {% endif %}
                <td style="width: 60%; vertical-align: top; padding: 1ex">
                  <table style="text-align: center; width: 100%">
                    <tbody>
                    {% if layer.h2 %}
                    <tr>
                        {% value_field layer.h2 %}
                    </tr>
                    {% endif %}
                    {% if layer.sih4 %}
                    <tr>
                        {% value_field layer.sih4 %}
                    </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
