{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% extends "site_base.html" %}

{% load i18n %}
{% load chantal %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}chantal/css/main.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}chantal/css/print.css"/>
{% endblock %}

{% block content %}
  <table class="headbar" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td class="info">
        {% for translation_flag in translation_flags %}
          <a href="{{ translation_flag.2 }}"
             ><img src="{{ MEDIA_URL }}chantal/flags/{{ translation_flag.0 }}.png"
                   alt="{% blocktrans with translation_flag.1 as language %}switch to {{ language }}{% endblocktrans %}" 
                   /></a>
        {% endfor %}
      </td>
      <td class="login-data">
        {% if user.is_authenticated %}
          {% trans 'Welcome,' %} 
          {% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}.
          <a href="{% if database %}{% url refdb.views.main.main_menu database=database %}{% else %}{% url refdb.views.main.main_menu %}{% endif %}"
             ><img src="{{ MEDIA_URL }}chantal/icons/house.png" alt="home icon" title="{% trans 'Main menu' %}"/></a>
          <a href="/trac/chantal/newticket?reporter={{ user.email|urlquote_plus }}"
               ><img src="{{ MEDIA_URL }}chantal/icons/bug_add.png" alt="add-bug icon" 
                     title="{% trans 'Report feature wish or bug' %}"/></a>
          {% if help_link %} <a href="/trac/chantal/wiki/{{ help_link }}"><img 
             src="{{ MEDIA_URL }}chantal/icons/help.png" alt="help icon" title="{% trans 'Help' %}"/></a>{% endif %}
          <a href="{% url django.contrib.auth.views.logout %}"><img src="{{ MEDIA_URL }}chantal/icons/door_open.png" 
                                                                    alt="log-out icon" title="{% trans 'Log out' %}"/></a>
        {% else %}
          {% if help_link %}<a href="/trac/chantal/wiki/{{ help_link }}"><img 
            src="{{ MEDIA_URL }}chantal/icons/help.png" alt="help icon" title="{% trans 'Help' %}"/></a> /{% endif %}
          <a href="{% if database %}{% url refdb.views.main.main_menu database=database %}{% else %}{% url refdb.views.main.main_menu %}{% endif %}"><img src="{{ MEDIA_URL }}chantal/icons/house.png" 
                                                              alt="log-in icon" title="{% trans 'Log in' %}"/></a>
        {% endif %}
      </td>
    </tr>
  </table>

  {% if success_report %}
    <div class="success-report">{{ success_report }}</div>
  {% endif %}

  <div class="main">
    <div class="screen-only">
      <p class="logo-text">{% block app_title %}{% endblock %}</p>
    </div>

    <div class="outer-frame">
      <div class="inner-frame">
        {% block float_image %}{% endblock %}
	{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
	{% block frame_content %}{% endblock %}
        <div style="clear: both"/>
      </div>
    </div>
  </div>
{% endblock %}
