@import url('../../chantal/css/main.css');

table.edit-description { border: inset 2px black; padding: 0.5ex 1ex; background-color: #f0eee1; float: right;
			 margin: 1em 0px 1em 1em; clear: left }

div.my-samples-groups { margin-left: 2em }
div.my-samples-series { margin-left: 2em }

ul.sample-series-list { list-style-image: url("/media/icons/chart_organisation.png") }
ul.sample-list { list-style-image: url("/media/icons/ruby.png") }

div.my-samples { width: 50%; float: right }
div.my-samples h2 { margin-top: 0pt }

ul.radio-select { list-style-type: none; display: inline; margin-left: 0; padding-left:0 }
ul.radio-select li { display: inline; margin-right: 1em }
