body { 
    background-color: gray;
    font-family: Frutiger, "Trebuchet MS", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
    margin: 0pt; padding: 0pt;
}
p.logo-text {
    margin: 0pt 0pt 0pt -0.05em;
    font-size: 50px;
    color: #333333;
    font-weight: bold;
}

p.logo-subtext { margin:0pt; margin-top:-10px; font-size: 15px; color: #333333; font-weight: normal }
img.logo-fz { float: right; margin-right: 0.1em }

table.headbar {
    font-size: inherit;
    color: white;
    background-color: #045078;
    padding: 0.3ex 25px 0.5ex;
}

table.headbar td { font-size: small }

div.main {
    margin: 20px 25px 20px;
}

div[id="banner"], div[id="mainnav"], div[id="ctxtnav"], div[id="content"], div[id="footer"] { 
    background-color: white; margin-left: 1em; margin-right: 1em }

a.logo:visited, a.logo:link, a.logo:hover, a.logo:active { 
    text-decoration: none; color: #333333; background-color: gray; border: none }
