{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/fraeulein.jpg" alt="{% trans 'ancient human dispatcher' %}"/>
{% endblock %}

{% block title %}{% trans 'Internal Chantal error' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Internal server error' %}</h1>{% endblock %}

{% block content %}
<p>{% blocktrans %}
You experienced an internal error in the Chantal server software.  The
administrators have been contacted already and will do their best in
eliminating the bug.  Typically, they will contact you as soon as the problem
is tackled.
{% endblocktrans %}</p>
<p style="margin: 0pt"> </p> <!-- IE7 quirk -->
<div style="clear: both"/>
{% endblock %}
