{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/stewardess.jpg" alt="{% trans 'stewardess' %}" />
{% endblock %}

{% block css %}
<style type="text/css">
  p { margin: 0pt }
  img { border: 0pt }
  img.helper-program-logo { float: right; margin: 0pt 0pt 1ex 0.5em }
</style>
{% endblock %}

{% block content %}
<table class="about" style="margin-bottom: 0pt">
  <tr>
    <th>{% trans 'Operating system' %}:</th>
    <td><p><a href="http://www.ubuntu.com"><img class="helper-program-logo" src="/media/ubuntu.png"
                                                alt="{% trans 'Ubuntu logo' %}"/></a></p>
      <p><a href="http://www.ubuntu.com">Ubuntu</a> <span class="version">8.04
      <a href="http://www.ubuntu.com/products/whatisubuntu/serveredition">Server Edition</a>{% trans ',' %} 
        </span><span class="uptime">{{ os_uptime }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Web server' %}:</th>
    {% if is_testserver %}
    <td>{% trans 'Django testserver' %}{% trans ',' %}
      </span><span class="uptime">{{ web_server_uptime }}</span></td>
    {% else %}
    <td><p><a href="{% trans 'http://en.wikipedia.org/wiki/Apache_HTTP_Server' %}"
              ><img class="helper-program-logo" src="/media/apache.png" alt="{% trans 'Apache logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Apache_HTTP_Server' %}">Apache</a>
      <span class="version">{{ web_server_version }}{% trans ',' %}
      </span><span class="uptime">{{ web_server_uptime }}</span></p></td>
    {% endif %}
  </tr>
  <tr>
    <th>{% trans 'Database' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/MySQL' %}"
            ><img class="helper-program-logo" src="/media/mysql.png" alt="{% trans 'MySQL logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/MySQL' %}">MySQL</a>
        <span class="version">{{ db_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Programming runtime' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Python_(programming_language)' %}"
            ><img class="helper-program-logo" src="/media/python.png" alt="{% trans 'Python logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Python_(programming_language)' %}">Python</a>
        <span class="version">{{ language_version }}</span></p>
    </td>
  </tr>
  <tr>
    <th>{% trans 'Programming framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}"
            ><img class="helper-program-logo" src="/media/django.png" alt="{% trans 'Django logo' %}"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}">Django</a>
        <span class="version">{{ framework_version }}</span></p></td>
  </tr>
</table>

{% if short_messages %}
  <div class="short-messages">
  {% for short_message in short_messages %}
    {{ short_message }}
    {% if not forloop.last %}
    •
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
{% endblock %}
