{# -*- indent-tabs-mode: nil -*- #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='{{ LANGUAGE_CODE|default:"en" }}' 
  xml:lang='{{ LANGUAGE_CODE|default:"en" }}' {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{{ title|escape }}{% endblock %}</title>
<!--link rel="icon" type="image/png" href="/media/favicon.png" /-->
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/media/css/main.css" />
{% block css %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}
{% load samples_extras %}

<body>
  <table class="headbar" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td class="info">
        {% if db_access_time_in_ms %}
          {% trans 'DB access time:' %}
          {{ db_access_time_in_ms }} ms
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      <td class="login-data">
        {% if user.is_authenticated %}
          {% trans 'Welcome,' %} 
          {% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}.
          <a href="{% url samples.views.main.main_menu %}">{% trans 'Main menu' %}</a>
          / <a href="/trac/chantal/newticket?reporter={{ user.email|urlquote_plus }}"
               >{% trans 'Report feature wish or bug' %}</a>
          {% if help_link %}/ <a href="/trac/chantal/wiki/{{ help_link }}">{% trans 'Help' %}</a>{% endif %}
          / <a href="{% url django.contrib.auth.views.logout %}">{% trans 'Log out' %}</a>
        {% else %}
          {% if help_link %}<a href="/trac/chantal/wiki/{{ help_link }}">{% trans 'Help' %}</a> /{% endif %}
          <a href="{% url samples.views.main.main_menu %}">{% trans 'Log in' %}</a>
        {% endif %}
      </td>
    </tr>
  </table>

  {% if success_report %}
    <div class="success-report">{{ success_report }}</div>
  {% endif %}

  <div class="main">
    <p style="margin:0pt"><img class="logo-fz" src="/media/juelich.png"
                               alt="{% trans 'Jülich Forschungszentrum logo' %}"/></p>
    <p class="logo-text">Chantal<img class="logo-ief-5" src="/media/sonne.png"
                                     alt="{% trans 'IEF-5 logo' %}"
                                     /><sup style="color: #ffcccc; font-style: italic">alpha</sup></p>
    <p class="logo-subtext">{% trans 'The samples database' %}</p>

    <div class="outer-frame">
      <div class="inner-frame">
        {% block float_image %}{% endblock %}
	{% block content_title %}<h1>{{ title|escape }}</h1>{% endblock %}
	{% block content %}
	{{ content }}
	{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
