{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block css %}
<style type="text/css">
  td.row, td.last { border-top: solid 1px black }
  td.last { border-bottom: solid 1px black }
</style>
{% endblock %}

{% block content %}
<form method="post" action="">
  <table cellspacing="0" cellpadding="3">
    <tr>
      <td> </td>
      <td>
        {% if single_initials %}
          {{ year }}-{{ single_initials }}-…
        {% else %}
          {% if initials.errors or initials.non_field_errors %}
            <table width="100%"><tr><td class="error-messages">
              {% for field in initials %}
                {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
              {% endfor %}
              {% if initials.non_field_errors %}
                <p>{% trans 'Initials error' %}</p>{{ initials.non_field_errors }}
              {% endif %}
            </td></tr></table>
          {% endif %}
          <div>
            {{ year }}-{{ initials.initials }}-…
          </div>
        {% endif %}
      </td>
      <td> </td>
    </tr>
    {% for sample, new_name in samples %}
      <tr>
        <td class="{% if forloop.last %}last{% else %}row{% endif %}">{{ sample.name }}</td>
        <td class="{% if forloop.last %}last{% else %}row{% endif %}" style="text-align: center">→</td>
        <td class="{% if forloop.last %}last{% else %}row{% endif %}">
          {% if new_name.errors or new_name.non_field_errors %}
            <table width="100%"><tr><td class="error-messages">
              {% for field in new_name %}
                {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
              {% endfor %}
              {% if new_name.non_field_errors %}
                <p>{% trans 'New name error' %}</p>{{ new_name.non_field_errors }}
              {% endif %}
            </td></tr></table>
          {% endif %}
          <div>
            …{{ new_name.name }}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
