{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">

  <table style="float: left">
    <tr>
      <td><label for="id_{{ column_groups.column_groups.html_name }}">{{ column_groups.column_groups.label }}:</label></td>
    </tr>
    {% error_list column_groups _("Error in column groups") "<tr>" %}
    <tr>
      <td>{{ column_groups.column_groups }}</td>
    </tr>
  </table>

  {% if columns.fields.columns.choices %}
    <table style="float: left; margin-right: 2em">
      <tr>
        <td><label for="id_{{ columns.columns.html_name }}">{{ columns.columns.label }}:</label></td>
      </tr>
      {% error_list columns _("Error in columns") "<tr>" %}
      <tr>
        <td>{{ columns.columns }}</td>
      </tr>
    </table>

    {% if rows %}
      <table>
        <tr><td>
          {% blocktrans %}
            <p>Below, you see a preview of the table.  If you export it by
              clicking on the button, you get the table in CSV format.  This
              should be importable by any table-processing program.  It has the
              following properties, which you may have to specify when
              importing the data:</p>

            <ol>
              <li>The columns are <em>tabulator</em>-separated (“TAB”).</li>
              <li>The file is encoded in <em>UTF-8</em>.</li>
            </ol>

            <p>Note that depending on the MS Excel version number, it may be
              easier to import the table into Excel by saving the file with the
              extension <tt>".txt"</tt> before importing it.</p>
          {% endblocktrans %}
        </td></tr>
      </table>
    {% endif %}
  {% endif %}

  <table style="display: none">
    {{ old_data }}
  </table>

  {% if rows %}
    <table border="1" style="clear: left; margin-top: 2ex; margin-left: auto; margin-right: auto">
      {% for row, switch_row in rows %}
        <tr>
          {% if forloop.first %}
            <td/>
          {% else %}
            <td>{{ switch_row.active }}</td>
          {% endif %}
          {% for cell in row %}
            {% if forloop.parentloop.first %}
              <th>{{ cell }}</th>
            {% else %}
              <td>{{ cell }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>

{% if backlink %}
  <div style="text-align: right; margin-top: 1ex"><a href="{{ backlink }}">Go back</a></div>
{% endif %}

{% endblock %}
