{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="">
  <table>
    <tr>
      <th>{{ my_layers.0.nickname.label }}</th>
      <th>{{ my_layers.0.deposition_and_layer.label }}</th>
      <th>{{ my_layers.0.delete.label }}</th>
    </tr>
    {% for layer in my_layers %}
      {% if layer.errors %}
        <tr>
          <td colspan="0" class="error-messages">
            {% for field in layer %}
              {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
            {% endfor %}
            {% if layer.non_field_errors %}
              <p>{% trans 'My Layer error' %}</p>{{ layer.non_field_errors }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{{ layer.nickname }}</td>
        <td>{{ layer.deposition_and_layer }}</td>
        <td>{{ layer.delete }}</td>
      </tr>
    {% endfor %}
  </table>
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
