{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block css %}
<style type="text/css">
  th { text-align: right; vertical-align: top; padding-right: 1em }
  table.channels * th { text-align: center; padding: 0pt }
</style>
{% endblock %}

{% block content %}
<form method="post" action="">
  {% error_list deposition _("Error in deposition") %}
  <table cellpadding="5">
    <tr>
      {% input_field deposition.number %}
      <td rowspan="4" style="padding-left: 2em">
        <label for="id_{{ samples.sample_list.html_name }}" style="margin-right: 0.5em"
                             >{{ samples.sample_list.label }}:</label>{{ samples.sample_list }}</td>
    </tr>
    <tr>
      {% input_field deposition.carrier %}
    </tr>
    <tr>
      {% input_field deposition.timestamp %}
    </tr>
    <tr style="display: none">
      {% input_field deposition.operator %}
    </tr>
  </table>

  <p>
    <label for="id_{{ deposition.comments.html_name }}">{{ deposition.comments.label }}:</label
       ><br/>{% markdown_hint %}<br/>{{ deposition.comments }}
  </p>

  {% if layers_and_change_layers %}
    <table width="100%">
      {% for layer, change_layer in layers_and_change_layers %}
        <tr>
          <td style="border-style: solid; border-color: black; border-width: thin">
            {{ layer.layer_type }}
            <table width="100%">
              <tr>
                <td>
                  <table width="100%">
                    {% error_list layer _("Error in layer") "<tr>" %}
                    <tr>
                      <td colspan="2" rowspan="3" style="vertical-align: top">
                        <table>
                          <tr>
                            <td style="vertical-align: top; text-align: left">
                              <div>
                                <label for="id_{{ forloop.counter0 }}-number">{{ _("layer number")|capfirst }}:</label>
                              </div>
                              <div style="font-size:xx-large; padding-left: 0.2em; padding-right: 0.2em;
                                          margin-left: 0.3em">
                                <input type="text" readonly="readonly" value="{{ forloop.counter }}"
                                       id="id_{{ forloop.counter0 }}-number"
                                       style="text-align: center; font-size: xx-large" size="2"/>
                              </div>
                            </td>
                            <td style="vertical-align: top; padding-left: 2em">
                              {% ifequal layer.type "PECVD" %}
                                <label for="id_{{ layer.chamber.html_name }}">{{ layer.chamber.label }}:</label><span 
                                  class="value">{{ layer.chamber }}</span>
                              {% else %}
                                 
                              {% endifequal %}
                            </td>
                          </tr>
                          <tr><td colspan="2"><table width="100%">
                                <tr>
                                  {% input_field change_layer.duplicate_this_layer %}
                                </tr>
                                <tr>
                                  {% input_field change_layer.remove_this_layer %}
                                </tr>
                                <tr>
                                  {% input_field change_layer.move_this_layer %}
                                </tr>
                          </table></td></tr>
                        </table>
                      </td>
                      {% input_field layer.transfer_in_chamber %}
                      {% ifequal layer.type "PECVD" %}
                        {% input_field layer.plasma_start_power %}
                      {% else %}
                        {% input_field layer.wire_material %}
                      {% endifequal %}
                    </tr>
                    <tr>
                      {% input_field layer.pre_heat %}
                      {% ifequal layer.type "PECVD" %}
                        {% input_field layer.plasma_start_with_carrier %}
                      {% else %}
                        {% input_field layer.voltage %}
                      {% endifequal %}
                    </tr>
                    <tr>
                      {% input_field layer.heating_temperature %}
                      {% ifequal layer.type "PECVD" %}
                        {% input_field layer.deposition_frequency %}
                      {% else %}
                        {% input_field layer.filament_temperature %}
                      {% endifequal %}
                    </tr>
                    <tr>
                      {% input_field layer.gas_pre_heat_gas %}
                      {% input_field layer.gas_pre_heat_pressure %}
                      {% input_field layer.gas_pre_heat_time %}
                    </tr>
                    <tr>
                      {% input_field layer.pressure %}
                      {% input_field layer.transfer_out_of_chamber %}
                      {% ifequal layer.type "PECVD" %}
                        {% input_field layer.deposition_power %}
                      {% else %}
                        {% input_field layer.current %}
                      {% endifequal %}
                    </tr>
                    <tr>
                      {% input_field layer.time %}
                      {% ifequal layer.type "PECVD" %}
                        {% input_field layer.substrate_electrode_distance %}
                      {% else %}
                        {% input_field layer.substrate_wire_distance %}
                      {% endifequal %}
                      {% input_field layer.base_pressure %}
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%">
                    <tr>
                      {% if layer.comments %}
                      <td style="border: 1px dashed grey; vertical-align: top; padding: 1ex">
                        <div><label for="id_{{ layer.comments.html_name }}">{{ layer.comments.label }}:<br/>
                            {% markdown_hint %}</label></div>
                          {{ layer.comments }}
                      </td>
                      {% else %}
                      <td> </td>
                      {% endif %}
                      <td style="vertical-align: top; padding: 1ex">
                        <div style="text-align: center; margin-bottom: 1ex; font-style: italic">
                          {{ _("Gas flows in sccm") }}
                        </div>
                        <table width="100%" style="text-align: center" class="channels">
                          <tr>
                            {% input_field layer.h2 %}
                            {% input_field layer.sih4 %}
                          </tr>
                          <tr>
                            {% input_field layer.tmb %}
                            {% input_field layer.ph3_sih4 %}
                          </tr>
                          <tr>
                            {% input_field layer.tmb_he %}
                            {% input_field layer.ph3_h2 %}
                          </tr>
                          <tr>
                            {% input_field layer.b2h6_h2 %}
                            {% input_field layer.ch4 %}
                          </tr>
                          <tr>
                            {% input_field layer.co2 %}
                            {% input_field layer.geh4 %}
                          </tr>
                          <tr>
                            {% input_field layer.ar %}
                            {% input_field layer.si2h6 %}
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% include "edit_description.html" %}

  <table style="margin-top: 2ex">
    <tr>
      <td class="label"><label for="id_{{ add_layers.layer_to_be_added.html_name }}"
                 >{{ add_layers.layer_to_be_added.label }}:</label></td>
      <td class="value" style="font-weight: normal">{{ add_layers.layer_to_be_added }}</td>
    </tr>
    <tr>
      <td class="label"><label for="id_{{ add_layers.my_layer_to_be_added.html_name }}"
                 >{{ add_layers.my_layer_to_be_added.label }}:</label></td>
      <td class="value" style="font-weight: normal">{{ add_layers.my_layer_to_be_added }}</td>
    </tr>
  </table>

  {% if remove_from_my_samples %}
    {{ remove_from_my_samples.as_p }}
  {% endif %}

  <div style="display: none">
    {{ deposition.timestamp_inaccuracy }}
  </div>

  <p class="submit-button"><input type="submit"/></p>
</form>


{% endblock %}
