{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="">
  {% if pds_measurement.errors or pds_measurement.non_field_errors or sample.errors or sample.non_field_errors or overwrite.errors or overwrite.non_field_errors or remove_from_my_samples.errors or remove_from_my_samples.non_field_errors %}
    <table width="100%"><tr><td class="error-messages">
      {% for field in pds_measurement %}
        {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
      {% endfor %}
      {% if pds_measurement.non_field_errors %}
        <p>{% trans 'PDS data error' %}</p>{{ pds_measurement.non_field_errors }}
      {% endif %}
      {% for field in sample %}
        {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
      {% endfor %}
      {% if sample.non_field_errors %}
        <p>{% trans 'Sample error' %}</p>{{ sample.non_field_errors }}
      {% endif %}
      {% for field in overwrite %}
        {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
      {% endfor %}
      {% if overwrite.non_field_errors %}
        <p>{% trans 'Extract from datafile error' %}</p>{{ overwrite.non_field_errors }}
      {% endif %}
      {% for field in remove_from_my_samples %}
        {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
      {% endfor %}
      {% if remove_from_my_samples.non_field_errors %}
        <p>{% trans 'Extract from datafile error' %}</p>{{ remove_from_my_samples.non_field_errors }}
      {% endif %}
    </td></tr></table>
  {% endif %}
  <table cellpadding="5">
    <tr>
      <td style="text-align: right"><label for="id_{{ pds_measurement.number.html_name }}"
           >{{ pds_measurement.number.label }}:</label></td>
      <td>{{ pds_measurement.number }}</td>
      <td style="text-align: right"><label for="id_{{ overwrite.overwrite_from_file.html_name }}"
           >{{ overwrite.overwrite_from_file.label }}:</label></td>
      <td>{{ overwrite.overwrite_from_file }}</td>
    </tr>
    <tr>
      <td style="text-align: right"><label for="id_{{ sample.sample.html_name }}"
           >{{ sample.sample.label }}:</label></td>
      <td>{{ sample.sample }}</td>
      <td colspan="2"> </td>
    </tr>
    <tr>
      <td style="text-align: right"><label for="id_{{ pds_measurement.timestamp.html_name }}"
           >{{ pds_measurement.timestamp.label }}:</label></td>
      <td>{{ pds_measurement.timestamp }}</td>
      <td colspan="2"> </td>
    </tr>
    <tr>
      <td style="text-align: right"><label for="id_{{ pds_measurement.operator.html_name }}"
           >{{ pds_measurement.operator.label }}:</label></td>
      <td>{{ pds_measurement.operator }}</td>
      <td colspan="2"> </td>
    </tr>
    <tr>
      <td style="text-align: right"><label for="id_{{ pds_measurement.raw_datafile.html_name }}"
           >{{ pds_measurement.raw_datafile.label }}:</label></td>
      <td colspan="3">{{ pds_measurement.raw_datafile }}
        <span class="help">({{ pds_measurement.raw_datafile.help_text }})</span></td>
    </tr>
    <tr>
      <td style="text-align: right"><label for="id_{{ pds_measurement.evaluated_datafile.html_name }}"
           >{{ pds_measurement.evaluated_datafile.label }}:</label></td>
      <td colspan="3">{{ pds_measurement.evaluated_datafile }}
        <span class="help">({{ pds_measurement.evaluated_datafile.help_text }})</span></td>
    </tr>
    <tr>
      <td style="text-align: right; vertical-align: top"><label for="id_{{ pds_measurement.comments.html_name }}"
           >{{ pds_measurement.comments.label }}:</label></td>
      <td colspan="3">{{ pds_measurement.comments }}</td>
    </tr>
  </table>

  <div style="text-align: right">
    {{ remove_from_my_samples.as_p }}
  </div>

  {{ pds_measurement.timestamp_inaccuracy }}

  <p class="submit-button" style="clear: both"><input type="submit" /></p>
</form>


{% endblock %}
