{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">
  <table>
    <tr>
      <th>{{ my_layers.0.nickname.label }}</th>
      <th>{{ my_layers.0.deposition_and_layer.label }}</th>
      <th>{{ my_layers.0.delete.label }}</th>
    </tr>
    {% for layer in my_layers %}
      {% if layer.errors %}
        <tr>
          <td>
            {% error_list layer _("Error in My Layer") %}
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{{ layer.nickname }}</td>
        <td>{{ layer.deposition_and_layer }}</td>
        <td>{{ layer.delete }}</td>
      </tr>
    {% endfor %}
  </table>
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
