{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">

  {% error_list sample_series _("Error in sample series") %}

  <table cellpadding="5" style="float: left; margin-bottom: 3ex; width: 45%">
    {% if is_new %}
      <tr>
        <td class="label"><label for="id_{{ sample_series.name.html_name }}"
             >{{ sample_series.name.label }}:</label></td>
        <td class="input">{{name_prefix}}-{{ sample_series.name }}</td>
      </tr>
    {% endif %}
    <tr>
      {% input_field sample_series.currently_responsible_person %}
    </tr>
    <tr>
      {% input_field sample_series.group %}
    </tr>
  </table>

  <div style="float: left; margin-left: 5em; margin-bottom: 3ex">
    <label for="id_{{ sample_series.samples.html_name }}" style="margin-right: 0.5em"
           >{{ sample_series.samples.label }}:</label>{{ sample_series.samples }}
  </div>

  {% include "edit_description.html" %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
