{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">

  <table style="float: left">
    <tr>
      <td><label for="id_{{ column_groups.column_groups.html_name }}">{{ column_groups.column_groups.label }}:</label></td>
    </tr>
    <tr>
      <td>{{ column_groups.column_groups }}</td>
    </tr>
  </table>

  {% if columns.fields.columns.choices %}
    <table>
      <tr>
        <td><label for="id_{{ columns.columns.html_name }}">{{ columns.columns.label }}:</label></td>
      </tr>
      <tr>
        <td>{{ columns.columns }}</td>
      </tr>
    </table>
  {% endif %}

  <table style="display: none">
    {{ old_data }}
  </table>

  {% if rows %}
    <table border="1" style="clear: left; margin-top: 2ex; margin-left: auto; margin-right: auto">
      {% for row, switch_row in rows %}
        <tr>
          {% if forloop.first %}
            <td/>
          {% else %}
            <td>{{ switch_row.active }}</td>
          {% endif %}
          {% for cell in row %}
            {% if forloop.parentloop.first %}
              <th>{{ cell }}</th>
            {% else %}
              <td>{{ cell }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>

<div style="text-align: right; margin-top: 1ex"><a href="{{ backlink }}">Go back</a></div>

{% endblock %}
