{% load i18n %}
{% load samples_extras %}

{% with entry.samples.all as samples %}
  <p>
    {% if entry.old_group %}
      {% blocktrans count samples|length as counter and entry.originator|get_really_full_name:"mailto" as originator and entry.group as group and entry.old_group as old_group %}
	{{ originator }} has moved the following sample from group “{{ old_group }}” to the group “{{ group }}”:
      {% plural %}
	{{ originator }} has added the following samples from group “{{ old_group }}” to the group “{{ group }}”:
      {% endblocktrans %}
    {% else %}
      {% blocktrans count samples|length as counter and entry.originator|get_really_full_name:"mailto" as originator and entry.group as group %}
	{{ originator }} has moved the following formerly group-less sample to the group “{{ group }}”:
      {% plural %}
	{{ originator }} has added the following formerly group-less samples to the group “{{ group }}”:
      {% endblocktrans %}
    {% endif %}
  </p>

  <ul>
    {% for sample in entry.samples.all %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
    {% endfor %}
  </ul>

  <p>
    {% if auto_added %}
      {% blocktrans count samples|length as counter %}
        The sample is amongst “My Samples”.
      {% plural %}
        The samples are amongst “My Samples”.
      {% endblocktrans %}
    {% else %}
      {% blocktrans count samples|length as counter %}
        The sample was not (at least not <em>automatically</em>) added to “My Samples”.
      {% plural %}
	The samples were not (at least not <em>automatically</em>) added to “My Samples”.
      {% endblocktrans %}
    {% endif %}
  </p>

{% endwith %}

<p>
  {% trans 'Full description of the change:' %}
</p>

<blockquote>
  {{ entry.description|markdown }}
</blockquote>
