{% load i18n %}
{% load samples_extras %}

<p>
  {% blocktrans count entry.sample_split.pieces.count as counter and entry.sample_split.parent as parent and entry.sample_split.parent.get_absolute_url as url %}
    From the sample <a href="{{ url }}">{{ parent }}</a>, the following piece was split:
  {% plural %}
    The sample <a href="{{ url }}">{{ parent }}</a> was split in the following pieces:
  {% endblocktrans %}
</p>

<ul>
  {% for sample in entry.sample_split.pieces.all %}
    <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a>
      {% if sample.purpose %}
        ({% trans 'purpose:' %} {{ sample.purpose }})
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p>{% trans 'All the child samples are added automatically to “My Samples”.' %}</p>
