{% load i18n %}
{% load samples_extras %}

<p>
  {% blocktrans with entry.originator|get_really_full_name:"mailto" as originator and process.get_absolute_url as url %}
    {{ originator }} finished <a href="{{ url }}">{{ process }}</a>.
  {% endblocktrans %}
  {% blocktrans count process.samples.all.count as counter %}
    This affected the following sample:
  {% plural %}
    This affected the following samples:
  {% endblocktrans %}
</p>

<ul>
  {% for sample in process.samples.all %}
    <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
  {% endfor %}
</ul>
