{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block css %}
<style type="text/css">
  div.timestamp + p { margin-top: 0pt }
  td p { margin-bottom: 0pt }
  th.top { border-top: 2px solid }
  td.top, td.topbottom { border-top: 1px solid }
  td.topbottom { border-bottom: 2px solid }
</style>
{% endblock %}

{% block content %}
<form method="post" action="">
  {% error_list year_month _("Error in date") %}
  <div style="text-align: center">
    {{ year_month.year.label }}/{{ year_month.month.label }}<br/>
    {{ year_month.year }}/{{ year_month.month }}<br/>
    <div class="screen-only" style="margin-top: 1ex">
      <input type="submit"/><br/>
      <a href="{{ previous_url }}" {% if not previous_url %}style="visibility: hidden"{% endif %}>
        <img src="/media/icons/book_previous.png" alt="previous month icon" title="{% trans 'previous month' %}"/>
      </a>
            
      <a href="{{ next_url }}" {% if not next_url %}style="visibility: hidden"{% endif %}>
        <img src="/media/icons/book_next.png" alt="next month icon" title="{% trans 'next month' %}"/>
      </a>
    </div>
  </div>
</form>

{{ html_body }}
{% endblock %}
