{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
  <h2>{% trans 'Add things' %}</h2>

  <ul>
    <li><a href="samples/add/">{% trans 'Add samples' %}</a></li>
    <li><a href="sample_series/add/">{% trans 'Add sample series' %}</a></li>
  </ul>

  <h2>{% trans 'Search things' %}</h2>
  <ul>
    <li><a href="samples/">{% trans 'Search for samples' %}</a></li>
    <li><a href="depositions/">{% trans 'Search for depositions' %}</a></li>
  </ul>

  <h2>{% trans 'My Samples' %}</h2>
  {% if seriesless_samples %}
    <ul>
      {% for sample in seriesless_samples %}
        <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for series in my_series %}
    <h3><a href="{{ series.sample_series.get_absolute_url }}">{{ series.name }}</a></h3>
    {% if not series.is_complete %}
      <p>{% trans '(This series contains further samples not part of your “My Samples” list.)' %}</p>
    {% endif %}
    <ul>
      {% for sample in series.samples %}
        <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

  <h2>{% trans 'Miscellaneous' %}</h2>
  <ul>
    <li><a href="{% url samples.views.main.about %}">{% trans 'About Chantal' %}</a></li>
    <li><a href="{% url samples.views.main.statistics %}">{% trans 'Server statistics' %}</a></li>
    <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans 'Change password' %}</a></li>
    <li><a href="{% url samples.views.feed.show username=username %}?hash={{ user_hash }}">{% trans 'Newsfeed' %}</a></li>
  </ul>
{% endblock %}
