{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
  <h2>{% trans 'Add things' %}</h2>

  <ul>
    <li><a href="{% url samples.views.sample.add %}">{% trans 'Samples' %}</a></li>
    <li><a href="{% url samples.views.sample_series.new %}">{% trans 'Sample series' %}</a></li>
    <li><a href="{% url samples.views.result.new %}">{% trans 'Result' %}</a></li>
    {% for physical_process in physical_processes %}
      <li><a href="{{ physical_process.url }}">{{ physical_process.label }}</a></li>
    {% endfor %}
  </ul>

  <h2>{% trans 'Search for things' %}</h2>
  <ul>
    <li><a href="{% url samples.views.sample.search %}">{% trans 'Samples' %}</a></li>
    <li><a href="{% url samples.views.main.deposition_search %}">{% trans 'Depositions' %}</a></li>
  </ul>

  {% if groupless_samples or my_groups %}
    <h2>{% trans 'My Samples' %} <a class="edit-button" 
               href="{% url samples.views.my_samples.edit username=user.username %}">{% trans 'edit' %}</a></h2>

    {% if groupless_samples %}
      <ul>
        {% for sample in groupless_samples %}
          <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% for group in my_groups %}

      <h3>{{ group.group }}</h3>

      {% if group.samples %}
        <ul>
          {% for sample in group.samples %}
            <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% for series in group.sample_series %}

        <h4><a href="{{ series.sample_series.get_absolute_url }}">{{ series.name }}</a></h4>

        {% if not series.is_complete %}
          <p>{% trans '(This series contains further samples not part of your “My Samples” list.)' %}</p>
        {% endif %}
        <ul>
          {% for sample in series.samples %}
            <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if can_edit_group_memberships %}
    <h2>{% trans 'Edit groups' %}</h2>

    <ul>
      <li><a href="{% url samples.views.group.add %}">{% trans 'Add new group' %}</a></li>
      <li><a href="{% url samples.views.group.list_ %}">{% trans 'Change group memberships' %}</a></li>
    </ul>  
  {% endif %}  

  {% if can_add_external_operator or has_external_contacts %}
    <h2>{% trans 'External operators' %}</h2>

    <ul>
      {% if can_add_external_operator %}
        <li><a href="{% url samples.views.external_operator.new %}">{% trans 'Add external operator' %}</a></li>
      {% endif %}  
      {% if has_external_contacts %}
        <li><a href="{% url samples.views.external_operator.list_ %}">{% trans 'Edit external operator' %}</a></li>
      {% endif %}  
    </ul>
  {% endif %}  

  <h2>{% trans 'Miscellaneous' %}</h2>
  <ul>
    {% if user.is_staff %}
      <li><a href="admin/">{% trans 'Administration' %}</a></li>
    {% endif %}
    <li><a href="{% url samples.views.user_details.edit_preferences login_name=user.username %}">{% trans 'Edit preferences' %}</a></li>
    <li><a href="{% url samples.views.user_details.groups_and_permissions login_name=user.username %}">{% trans 'My groups and permissions' %}</a></li>
    <li><a href="{% url samples.views.my_layers.edit login_name=user.username %}">{% trans 'Edit “My Layers”' %}</a></li>
    <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans 'Change password' %}</a></li>
    <li><a href="{% url samples.views.feed.show username=user.username %}?hash={{ user_hash }}">{% trans 'Newsfeed' %}</a></li>
    <li><a href="{% url samples.views.statistics.about %}">{% trans 'About Chantal' %}</a></li>
    <li><a href="{% url samples.views.statistics.statistics %}">{% trans 'Server statistics' %}</a></li>
  </ul>
{% endblock %}
