{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block css %}
<style type="text/css">
  td { vertical-align: top }
</style>
{% endblock %}


{% block content %}

{% blocktrans %}
  <p>Chantal uses the lightweight markup language “Markdown” for comments.  It
  doesn't support images and headings though.  As compensation, it adds
  implicit sample and sample series linking.  Follow the help link at the top
  of the page for further information.</p>

  <p>Here, you can test the markup as you like.  What you enter here is never
  saved.</p>
{% endblocktrans %}

<form method="post" action="">
  {% if sandbox.errors or sandbox.non_field_errors %}
    <table width="100%"><tr><td class="error-messages">
      {% for field in sandbox %}
        {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
      {% endfor %}
      {% if sandbox.non_field_errors %}
        <p>{% trans 'Sandbox error' %}</p>{{ sandbox.non_field_errors }}
      {% endif %}
    </td></tr></table>
  {% endif %}
  <table border="1" width="100%" cellpadding="10">
    <thead>
      <tr>
        <th style="width: 50%">{% trans 'input' %}</th>
        <th>{% trans 'result' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center">
          {{ sandbox.sandbox }}
        </td>
        <td>
          {% if extracted_content %}
            <div>
              {{ extracted_content|markdown }}
            </div>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <p class="submit-button" style="clear: both"><button type="submit">{% trans 'Generate result' %}</button></p>
</form>

{% endblock %}
