{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/lock_woman.jpg" alt="{% trans 'woman with lock' %}" />
{% endblock %}

{% block content %}
  <p>
    {% blocktrans with exception.description as description and exception.reason as reason %}
      Sorry, you can't access this resource.  {{ description }}
      Please contact the administrator if you think you ought to have the permission.
    {% endblocktrans %}
    {% if exception.new_group_would_help %}
      {% blocktrans %}
        Also note that the heads of your institute group may add you to the
        Chantal group you need to access this resource.
      {% endblocktrans %}
    {% endif %}
  </p>

  <p>{% trans "This occurence isn't reported to anyone, and it is not logged." %}</p>
  <p style="margin: 0pt"> </p> <!-- IE7 quirk -->
  <div style="clear: both" />
{% endblock %}
