{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/lock_woman.jpg" alt="{% trans 'woman with lock' %}" />
{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
    Sorry, you can't access this resource because you don't have the following
    permission: {{ permission_description }} Please contact the administrator
    if you think you ought to have that permission.
    {% endblocktrans %}
  </p>
<p style="margin: 0pt"> </p> <!-- IE7 quirk -->
<div style="clear: both" />
{% endblock %}
