{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<img style="float: right; margin-left: 2em" src="/media/lock_woman.jpg" alt="{% trans 'woman with lock' %}" />
<h1>{{ title|escape }}</h1>
{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
    Sorry, you don't have permission to do that action, probably because you
    are not in the specific group that is allowed to do it.  Please contact the
    administrator to add you to that group.
    {% endblocktrans %}
  </p>
<div style="clear: both" />
{% endblock %}
