{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
<form method="post" action="">
  <table>
    {{ search_samples }}
  </table>
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>

<p>
  {% if too_many_results %}
    {% blocktrans %}
      Too many matches were found.  I show only {{ max_results }} of them.
    {% endblocktrans %}
  {% endif %}
</p>

<ul>
  {% for sample in found_samples %}
    <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
