{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="">
  <table>
    {{ search_depositions }}
  </table>
  <p class="submit-button" style="clear: both"><input type="submit" /></p>
</form>

{% if too_many_results %}
  <p>
    {% blocktrans %}
      Too many matches were found.  I show only {{ max_results }} of them.
    {% endblocktrans %}
  </p>
{% endif %}

<ul>
  {% for deposition in found_depositions %}
    <li><a href="../depositions/{{ deposition.number }}">{{ deposition.number }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
