{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block title %}{% trans 'Sample “' %}{{ sample }}{% trans '”' %}{% endblock %}
{% block content_title %}{% spaceless %}<h1>{% trans 'Sample “' %}{{ sample }}{% trans '”' %}<span class="aliases">
    {% for alias in sample.aliases.all %}
    alias <strong>{{ alias }}</strong> {% endfor %}</span>{% if can_edit %}<a class="edit-icon"
       href="{% url samples.views.sample.edit sample_name=sample.name %}?next={{ sample.get_absolute_url|urlquote_plus }}"
                      ><img src="/media/icons/pencil.png" alt="edit icon" title="{% trans 'edit' %}"/></a>
    {% if number_for_rename %}<a class="edit-icon"
       href="{% url samples.views.bulk_rename.bulk_rename %}?numbers={{ number_for_rename }}&next={{ sample.get_absolute_url|urlquote_plus }}"
                        ><img src="/media/icons/tag_blue.png" alt="give-name icon" title="{% trans 'give name' %}"/></a>
    {% endif %}
  {% endif %}
  {% if can_add_process %}<a class="edit-icon" href="{% url samples.views.sample.add_process sample_name=sample.name %}"
                             ><img src="/media/icons/cog_add.png" alt="add-process icon"
                                   title="{% trans 'add process' %}"/></a>{% endif %} 
  <a class="edit-icon" 
     href="{% url samples.views.sample.export sample_name=sample.name %}?next={{ sample.get_absolute_url|urlquote_plus }}"
     ><img src="/media/icons/table.png" alt="export icon"
           title="{% trans 'export as table' %}"/></a></h1>{% endspaceless %}{% endblock %}

{% block css %}
<style type="text/css">
  form p { text-align: right; margin-bottom: 0pt }
</style>
{% endblock %}

{% block content %}
  <table>
    <tr>
      {% value_field sample.currently_responsible_person "user" %}
    </tr>
    <tr>
    {% if sample.group %}
      {% value_field sample.group %}
    {% else %}
      <td class="label">{% verbose_name Sample.group %}:</td>
      <td class="value">— <span style="color: red; font-weight: normal; margin-left: 1em"
                                >({% trans 'Attention: Groupless samples may be viewed and edited by anyone.' %})</span></td>
    {% endif %}
    </tr>
    {% if sample.tags %}
      <tr>
        {% value_field sample.tags %}
      </tr>
    {% endif %}
    {% if sample.purpose %}
      <tr>
        {% value_field sample.purpose %}
      </tr>
    {% endif %}
    <tr>
      {% value_field sample.current_location %}
    </tr>
  </table>

  {% with sample.series.count as number_of_sample_series %}
    {% with sample.series.all as sample_serieses %}
      {% if number_of_sample_series %}
        <p>
          {% blocktrans count number_of_sample_series as counter and sample_serieses.0 as first_series and sample_serieses.0.get_absolute_url as first_url %}
            This sample is part of the sample series “<a href="{{ first_url }}">{{ first_series }}”</a>.
          {% plural %}
            This sample is part of the following sample series:  <!-- {{ first_url }}  {{ first_series }} -->
          {% endblocktrans %}
        </p>

        {% ifnotequal number_of_sample_series 1 %}
          <ul class="sample-series-list">
            {% for sample_series in sample_serieses %}
              <li><a href="{{ sample_series.get_absolute_url }}">{{ sample_series }}</a></li>
            {% endfor %}
          </ul>
        {% endifnotequal %}
      {% endif %}
    {% endwith %}
  {% endwith %}

  {% for process in processes %}
    <div class="process">
      <p class="operator_and_timestamp">
        {{ process.operator|get_really_full_name }}, {{ process|timestamp }}
      </p>
      {% spaceless %}
        <h2>{{ process.name }}{% if process.edit_url %}<a class="edit-icon" 
                                           href="{{ process.edit_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
             ><img src="/media/icons/cog_edit.png" alt="edit icon" title="{% trans 'edit' %}"/></a>
          {% endif %}{% if process.export_url %}<a class="edit-icon" 
                  href="{{ process.export_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
             ><img src="/media/icons/table.png" alt="export icon" title="{% trans 'export as table' %}"/></a>
          {% endif %}{% if process.resplit_url %}<a class="edit-icon" 
                                        href="{{ process.resplit_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
             ><img src="/media/icons/arrow_branch.png" alt="resplit icon" title="{% trans 'resplit' %}"/></a>
          {% endif %}
        </h2>
      {% endspaceless %}
      {{ process.html_body }}
    </div>
  {% endfor %}
  <form method="post" action="" style="clear: both" class="screen-only">
    {{ is_my_sample_form.as_p }}
    <p class="submit-button" style="margin-top: 0pt"><input type="submit"/></p>
  </form>
{% endblock %}
