{# -*- indent-tabs-mode: nil -*- #}
{% load i18n %}
{% load samples_extras %}

<p>
  <span class="label">{% verbose_name Deposition.number %}:</span><span class="value"
    style="margin-right: 4em">{{ process.number }}</span>
  <span class="label">{% verbose_name SixChamberDeposition.carrier %}:</span><span class="value">{{ process.carrier|default:"—" }}</span>
</p>

{% if process.comments %}
  <p>
    <span class="label">{% verbose_name SixChamberDeposition.comments %}:</span>{{ process.comments }}
  </p>
{% endif %}

<table width="100%">
  {% for layer in process.layers.all %}
  <tr>
    <td style="border-style: solid; border-color: black; border-width: thin">
      <table width="100%">
        <tr>
          <td>
            <table width="100%">
              <tr>
                <td colspan="2" rowspan="3" style="vertical-align: top">
                  <table>
                    <tr>
                      <td style="vertical-align: top; text-align: right">
                        <div style="float: left">{% verbose_name SixChamberLayer.number %}:</div>
                        <div 
                          style="font-size:xx-large; padding-left: 0.2em; padding-right: 0.2em;
                                 margin-left: 0.3em;
                                 border-style: solid; border-width: thin;
                                 border-color: black; float: right; clear: left">{{ layer.number }}</div>
                      </td>
                      <td style="vertical-align: top; padding-left: 2em">
                        <span class="label">{% verbose_name SixChamberLayer.chamber %}:</span
                              ><span class="value">{{ layer.chamber }}</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="label">{% verbose_name SixChamberLayer.transfer_in_chamber %}:</td>
                <td class="value">{{ layer.transfer_in_chamber|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.plasma_start_power %}:</td>
                <td class="value">{{ layer.plasma_start_power|quantity:"W"|default_if_none:"—" }}</td>
              </tr>
              <tr>
                <td class="label">{% verbose_name SixChamberLayer.pre_heat %}:</td>
                <td class="value">{{ layer.pre_heat|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.plasma_start_with_carrier %}:</td>
                <td class="value">{{ layer.plasma_start_with_carrier|fancy_bool }}</td>
              </tr>
              <tr>
                <td class="label">{% verbose_name SixChamberLayer.heating_temperature %}:</td>
                <td class="value">{{ layer.heating_temperature|quantity:"℃"|default_if_none:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.deposition_frequency %}:</td>
                <td class="value">{{ layer.deposition_frequency|quantity:"MHz"|default_if_none:"—" }}</td>
              </tr>
              <tr>
                <td class="label">{% verbose_name SixChamberLayer.gas_pre_heat_gas %}:</td>
                <td class="value">{{ layer.gas_pre_heat_gas|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.gas_pre_heat_pressure %}:</td>
                <td class="value">{{ layer.gas_pre_heat_pressure|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.gas_pre_heat_time %}:</td>
                <td class="value">{{ layer.gas_pre_heat_time|default:"—" }}</td>
              </tr>
              <tr>
                <td class="label">{% verbose_name SixChamberLayer.pressure %}:</td>
                <td class="value">{{ layer.pressure|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.transfer_out_of_chamber %}:</td>
                <td class="value">{{ layer.transfer_out_of_chamber|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.deposition_power %}:</td>
                <td class="value">{{ layer.deposition_power|quantity:"W"|default_if_none:"—" }}</td>
              </tr>
              <tr>
                <td class="label">{% verbose_name SixChamberLayer.time %}:</td>
                <td class="value">{{ layer.time|default:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.substrate_electrode_distance %}:</td>
                <td class="value">{{ layer.substrate_electrode_distance|quantity:"mm"|default_if_none:"—" }}</td>
                <td class="label">{% verbose_name SixChamberLayer.base_pressure %}:</td>
                <td class="value">{{ layer.base_pressure|quantity:"Torr"|default_if_none:"—" }}</td>
              </tr>
            </table>
          </td>
        </tr>
        {% with layer.channels.all as channels %}
          {% if layer.comments or channels %}
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    {% if layer.comments %}
                    <td style="border: 1px dashed grey; vertical-align: top; padding: 1ex">
                        {{ layer.comments|linebreaksbr }}
                    </td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    <td style="width: 50%; vertical-align: top; padding: 1ex">
                      {% if channels %}
                        <table width="100%" style="text-align: center">
                          <thead>
                            <tr>
                              <th>{% verbose_name SixChamberChannel.number %}</th>
                              <th>{% verbose_name SixChamberChannel.gas %}</th>
                              <th>{% verbose_name SixChamberChannel.flow_rate %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for channel in channels %}
                            <tr>
                              <td>{{ channel.number }}</td>
                              <td>{{ channel.get_gas_display|chem_markup }}</td>
                              <td>{{ channel.flow_rate|quantity:"sccm" }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      {% else %}
                         
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          {% endif %}
        {% endwith %}
      </table>
    </td>
  </tr>
  {% endfor %}
</table>
