{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content_title %}<h1>{{ title|escape }}
  {% if can_edit %}<a class="edit-button" href="{% url samples.views.sample_series.edit name=sample_series.name %}"
                      >{% trans 'edit' %}</a>{% endif %}
  {% if can_add_result %}<a class="edit-button" 
 href="{% url samples.views.result.new %}?sample_series={{ sample_series.name|urlquote_plus }}&next={{ sample_series.get_absolute_url|urlquote_plus }}"
                            >{% trans 'add result' %}</a>{% endif %}</h1>{% endblock %}

{% block content %}
{% if sample_series.samples.count %}
  <p>{% trans 'This sample series contains the following samples:' %}</p>
  <ul>
    {% for sample in sample_series.samples.all %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a>
        {% if sample.purpose %}({{ sample.purpose }}){% endif %}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans "This sample series doesn't contain samples yet." %}</p>
{% endif %}

<p>{% trans 'Group' %}: <strong>{{ sample_series.group }}</strong>,
  {% trans 'currently responsible person' %}:
  {{ sample_series.currently_responsible_person|get_really_full_name }}
</p>

{% for process in result_processes %}
  <div class="process">
    <p class="operator_and_timestamp">
      {{ process.operator|get_really_full_name }}, {{ process.timestamp }}
    </p>
    <h2>{{ process.name }}{% if process.edit_url %}
          <a class="edit-button" href="{{ process.edit_url }}?next={{ sample_series.get_absolute_url|urlquote_plus }}"
             >{% trans 'edit' %}</a>{% endif %}</h2>
    {{ process.html_body }}
  </div>
{% endfor %}
{% endblock %}
