{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block content %}
  <div class="process">
    <p class="operator_and_timestamp">
      {% with process.operator.get_full_name as full_name %}
        <a href="../users/{{ process.operator.username}} "
           >{% if full_name %}{{ full_name }}{% else %}{{ process.operator }}{% endif %}</a>,
      {% endwith %}
      {{ process.timestamp }}
    </p>
    {% if samples %}
      <p>
        {% blocktrans count samples|length as counter and samples.0.get_absolute_url as link and samples.0.name as name %}
          This process was applied to the sample <a href="{{ link }}">{{ name }}</a>.
        {% plural %}
          This process was applied to the following samples:  <!-- To please compilemessages: {{ link }} {{name }} -->
        {% endblocktrans %}
        {% if not samples|length_is:"1" %}
          <ul>
            {% for sample in samples %}
              <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    {% endif %}
              
    {{ html_body }}

    {% if edit_url %}<p><a class="edit-button" href="{{ edit_url }}">{% trans 'Edit this process' %}</a></p>{% endif %}
    {% if duplicate_url %}<p><a class="duplicate-button" href="{{ duplicate_url }}"
                                >{% trans 'Duplicate this process' %}</a></p>{% endif %}
  </div>
{% endblock %}
