{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="process">
    <p class="operator_and_timestamp">
      {% with process.operator.get_full_name as full_name %}
        <a href="../users/{{ process.operator.username}} "
           >{% if full_name %}{{ full_name }}{% else %}{{ process.operator }}{% endif %}</a>,
      {% endwith %}
      {{ process.timestamp }}
    </p>
    {% if edit_url %}<p><a class="edit-button" href="../{{ edit_url }}">{% trans 'edit' %}</a></p>{% endif %}
    {{ html_body }}
  </div>
{% endblock %}
