{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="">
  <table style="margin-left: auto; margin-right: auto; margin-bottom: 3ex" cellpadding="10" border="1">
    <tr>
      <th>{{ samples.0.0.sample.label }}</th>
      <th>{{ samples.0.0.new_name.label }}</th>
      <th>{{ samples.0.0.number_of_pieces.label }}</th>
      <th>{{ samples.0.1.0.new_name.label }}<br/>{{ samples.0.1.0.new_responsible_person.label }}</th>
    </tr>
    {% for sample, new_names in samples %}
      {% if sample.errors or sample.non_field_errors %}
        <tr>
          <td colspan="0" class="error-messages">
            {% for field in sample %}
              {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
            {% endfor %}
            {% if sample.non_field_errors %}
              <p>{% trans 'Sample name error' %}</p>{{ sample.non_field_errors }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <tr>
        <td style="vertical-align: top">
          {{ sample.sample }}
        </td>
        <td style="text-align: center; vertical-align: top">
          {{ sample.new_name }}
        </td>
        <td style="text-align: center; vertical-align: top">
          {{ sample.number_of_pieces }}
        </td>
        <td style="vertical-align: top">
          <table cellspacing="0" cellpadding="0">
            {% for new_name in new_names %}
              {% if new_name.errors or new_name.non_field_errors %}
                <tr>
                  <td colspan="0" class="error-messages">
                    {% for field in new_name %}
                      {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
                    {% endfor %}
                    {% if new_name.non_field_errors %}
                      <p>{% trans 'Sample name error' %}</p>{{ new_name.non_field_errors }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              <tr>
                <td>
                  {{ new_name.new_name }}{{ new_name.new_responsible_person }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endfor %}
  </table>
  {{ new_sample_data.as_p }}
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
