{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="">
  {% if global_data.non_field_errors %}
    <div class="errorlist">{% trans 'General error' %}
      {{ global_data.non_field_errors }}</div>
  {% endif %}
  <table style="margin-left: auto; margin-right: auto; margin-bottom: 2ex" cellpadding="10" border="1">
    <tr>
      <th>{% trans 'Piece number' %}</th>
      <th>{{ new_names.0.new_name.label }}</th>
      <th>{{ new_names.0.new_purpose.label }}</th>
      <th>{{ new_names.0.delete.label }}</th>
    </tr>
    {% for new_name in new_names %}
      {% if new_name.errors or new_name.non_field_errors %}
        <tr>
          <td colspan="0" class="error-messages">
            {% for field in new_name %}
              {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
            {% endfor %}
            {% if new_name.non_field_errors %}
              <p>{% trans 'New name error' %}</p>{{ new_name.non_field_errors }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <tr {% if forloop.last %}style="background-color: darkgray"{% endif %}>
        <td style="text-align: center">
          {% if forloop.last %}
            <div style="width: 15em; font-size: x-small">
              {% blocktrans %}
                (you must change this last name in order to create an
                additional piece)
              {% endblocktrans %}
            </div>
          {% else %}
            {{ forloop.counter }}.
          {% endif %}
        </td>
        <td style="text-align: center">
          {{ new_name.new_name }}
        </td>
        <td style="text-align: center">
          {{ new_name.new_purpose }}
        </td>
        <td style="text-align: center">{{ new_name.delete }}</td>
      </tr>
    {% endfor %}
  </table>
  <p>
    <label for="id_{{ global_data.sample_completely_split.html_name }}"
           >{{ global_data.sample_completely_split.label }}:</label>
    {{ global_data.sample_completely_split }}
  </p>
  {% if global_data.sample_series.errors %}
    <div class="errorlist">{{ global_data.sample_series.label }} {{ global_data.sample_series.errors }}</div>
  {% endif %}
  <p style="margin-bottom: 0pt">
    <label for="id_{{ global_data.sample_series.html_name }}"
           >{{ global_data.sample_series.label }}:</label>
    {{ global_data.sample_series }}
  </p>
  <p class="submit-button" style="margin-top: 0pt">
    <label for="id_{{ global_data.finished.html_name }}">{{ global_data.finished.label }}:</label>
    {{ global_data.finished }}
  </p>
  <p class="submit-button"><input type="submit" /></p>
</form>
{% endblock %}
