{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block float_image %}
<img style="float: right; margin-left: 2em" src="/media/secretary.jpg" alt="{% trans 'secretary' %}" 
/>
{% endblock %}

{% block css %}
<style type="text/css">
  img { border: 0pt }
  th { text-align: left }
  td { vertical-align: top }
</style>
{% endblock %}

{% block content %}
<h2>{% trans 'Availability' %}</h2>

<table cellpadding="10" style="large" border="1">
  <tr>
    <th>{% trans 'Component' %}</th>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'up and running …' %}</th>
  </tr>
  <tr>
    <td>{% trans 'OS' %}</td>
    <td>Ubuntu</td>
    <td>{{ os_uptime }}</td>
  </tr>
  <tr>
    <td>{% trans 'web server' %}</td>
    <td>Apache</td>
    <td>{{ web_server_uptime }}</td>
  </tr>
  <tr>
    <td>{% trans 'database server' %}</td>
    <td>MySQL</td>
    <td>{{ db_uptime }}</td>
  </tr>
</table>


<h2 style="clear:both">{% trans 'Work load' %}</h2>

{% blocktrans %}
  <p>These plots are re-calculated every 10&nbsp;minutes, the underlying
resolution being higher, though.  Note that “CPU load” is the pristine load
average <em>minus&nbsp;1</em> in order to eliminate a grid computing process
running with high niceness.</p>

  <p>“Memory usage” shows two green curves: the usage of memory by applications
only, and the total usage including buffers and cache.  The red line shows swap
usage.</p>

{% endblocktrans %}

<p><img src="/media/server_load.png" alt="{% trans 'server load statistics plots' %}"/></p>


<h2>{% trans 'Backups' %}</h2>

<h3>{% trans 'Tivoli storage manager' %}</h3>

{% if adsm_results.log_file_error %}
  <p style="warning">{% trans 'Log file could not be accessed.' %}</p>
{% else %}
  <table cellpadding="10" style="large" border="1">
    <caption>{% trans 'last backup' %}</caption>
    <tr>
      <th>{% trans 'Time' %}</th>
      <td>{{ adsm_results.last_backup_timestamp }}</td>
    </tr>
    <tr>
      <th>{% trans 'Objects inspected' %}</th>
      <td>{{ adsm_results.ispected_objects }}</td>
    </tr>
    <tr>
      <th>{% trans 'Objects failed' %}</th>
      <td>{{ adsm_results.failed_objects }}</td>
    </tr>
  </table>
{% endif %}

{% endblock %}
