{# -*- indent-tabs-mode: nil -*- #}
{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div>
    {% if prev_link %}
      <a href="{{ prev_link }}">&lt;&lt;</a>
    {% else %}
       &lt;&lt;
    {% endif %}
    {% for page in pages %}
        {% if page %}
          <a href="{{ page }}">{{ forloop.counter }}</a>
        {% else %}
          <strong>{{ forloop.counter }}</strong>
        {% endif %}
    {% endfor %}
    {% if next_link %}
      <a href="{{ next_link }}">&gt;&gt;</a>
    {% else %}
       &gt;&gt;
    {% endif %}
  </div>
  <form method="POST" action="">
    {% include "list_compact.html" %}
    <table>
      {{ global_dummy }}
      {% if remove_from_list %}
        {{ remove_from_list }}
      {% endif %}
      {{ add_to_shelf }}
      {{ add_to_list }}
      {{ export }}
    </table>
    <p><input type="submit"/></p>
  </form>
{% endblock %}
