<table cellpadding="10">
  <tr>{% if references.0.selection_box %}<th/>{% endif %}
    <th>{{ _("Author") }}</th><th>{{ _("Title") }}</th><th>{{ _("Year") }}</th><th>{{ _("Publication") }}</th><td/></tr>
  {% for reference in references %}
    <tr class="list-row-{% cycle 'odd' 'even' %}">
      {% if reference.selection_box %}
        <td>{{ reference.selection_box.selected }}</td>
      {% endif %}
      <td>{% with reference.authors as authors %}
	    {% if authors %}
	      {{ authors.0.pretty_print }}
		{% ifnotequal authors|length 1 %}{{ _("et al.") }}{% endifnotequal %}
	    {% endif %}
	  {% endwith %}</td>
      <td>{{ reference.title|default:"" }}</td>
      <td>{{ reference.publication.pub_info.pub_date.year|default_if_none:"" }}</td>
      <td>{{ reference.journal|default:"" }}</td>
      <td><a href="{% url refdb.views.reference.view citation_key=reference.citation_key %}">{{ _("Details") }}</a><br/>
	<a href="{% url refdb.views.reference.view citation_key=reference.citation_key %}/edit/">{{ _("Edit") }}</a>
      </td>
    </tr>
  {% endfor %}
</table>
