<table cellpadding="10">
  <tr><th>{{ _("Author") }}</th><th>{{ _("Title") }}</th><th>{{ _("Year") }}</th><th>{{ _("Publication") }}</th><td/></tr>
  {% for reference in references %}
    <tr class="list-row-{% cycle 'odd' 'even' %}">
      <td>{% with reference.authors as authors %}
	    {% if authors %}
	      {{ authors.0.pretty_print }}
		{% ifnotequal authors|length 1 %}{{ _("et al.") }}{% endifnotequal %}
	    {% endif %}
	  {% endwith %}</td>
      <td>{{ reference.title|default:"" }}</td>
      <td>{{ reference.publication.pub_info.pub_date.year|default_if_none:"" }}</td>
      <td>{{ reference.journal|default:"" }}</td>
      <td><a href="{% url refdb.views.reference.view citation_key=reference.citation_key %}">{{ _("Details") }}</a><br/>
	<a href="{% url refdb.views.reference.view citation_key=reference.citation_key %}/edit/">{{ _("Edit") }}</a><br/>
	<form method="post" action="{% url refdb.views.reference.view citation_key=reference.citation_key %}/add_to_list/">
	  <table>
	    {{ add_to_list }}
	  </table>
	  <p><input type="submit"/></p>
	</form>
      </td>
    </tr>
  {% endfor %}
</table>
