{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Password change' %}</h1>{% endblock %}

{% block frame_content %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">

{% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
<p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label> {{ form.old_password }}</p>
{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label> {{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label> {{ form.new_password2 }}</p>

<p><input type="submit" value="{% trans 'Change my password' %}"/></p>
{% csrf_token %}
</form>

{% endblock %}
