{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" media="screen" href="/static/juliabase/css/main.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="/static/juliabase/css/print.css"/>
  <!-- FixMe: We have no favicon yet. -->
  <link rel="shortcut icon" href="/static/juliabase/favicon.ico" type="image/x-icon"/>
{% endblock %}

{% block title %}{% trans 'Internal JuliaBase error' %}{% endblock %}

{% block content %}
  <table class="headbar">
    <tbody>
    <tr>
      <td class="info">
      </td>
      <td class="login-data">
        <a href="/"><img src="/static/juliabase/icons/house.png" alt="log-in icon" title="{% trans 'Log in' %}"
                         width="16" height="16"/></a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="main">
    <div class="screen-only">
      <p class="logo-text">JuliaBase</p>
    </div>

    <div class="outer-frame">
      <div class="inner-frame">
	<h1>{% trans 'Internal server error' %}</h1>
	<p>{% blocktrans %}
You experienced an internal error in the JuliaBase server software.  The
administrators have been contacted already and will do their best in
eliminating the bug.  Typically, they will contact you as soon as the problem
is tackled.
{% endblocktrans %}</p>
<p style="margin: 0pt"> </p> <!-- IE7 quirk -->
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
{% endblock %}
