{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Torsten Bronger <bronger@physik.rwth-aachen.de>,
                      Marvin Goblet <m.goblet@fz-juelich.de>.

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if form %}
  {% if form.errors or form.non_field_errors %}
    {% if outest_tag == "<table>" %}
      <table class="tight-fullwidth"><tbody>
    {% endif %}
    <tr>
      <td class="error-messages"{% if colspan > 1 %} colspan="{{ colspan }}"{% endif %}>
	{% for field in form %}
	  {% if field.errors %}<p>{{ field.label|safe }}</p>{{ field.errors }}{% endif %}
	{% endfor %}
	{% if form.non_field_errors %}
	  <p>{{ form_error_title }}</p>{{ form.non_field_errors }}
	{% endif %}
      </td>
    </tr>
    {% if outest_tag == "<table>" %}
      </tbody></table>
    {% endif %}
  {% endif %}
{% endif %}
