{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load static %}

{% block css %}
<style type="text/css">
  p { margin: 0pt }
  img { border: 0pt }
  img.helper-program-logo { float: right; margin: 0pt 0pt 1ex 0.5em }
</style>
{% endblock %}

{% block frame_content %}
<table class="about table">
  <tr>
    <th>{% trans 'Top-level framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><img class="helper-program-logo" src="{% static "juliabase/juliabase_logo_desat.png" %}" alt="{% trans 'JuliaBase logo' %}"
                  width="50" height="50"/></p>
      <p><a href="http://www.juliabase.org">JuliaBase</a>
        <span class="version">{{ juliabase_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Web framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="https://www.djangoproject.com/"
            ><img class="helper-program-logo" src="{% static "samples/django.png" %}" alt="{% trans 'Django logo' %}"
                  width="75" height="32"/></a></p>
      <p><a href="https://www.djangoproject.com/">Django</a>
        <span class="version">{{ framework_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Plotting system' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://matplotlib.sourceforge.net/' %}"
            ><img class="helper-program-logo" style="margin-bottom: 0pt" width="70" height="70"
                  src="{% static "samples/matplotlib.png" %}" alt="{% trans 'Matplotlib logo' %}"/></a></p>
      <p><a href="{% trans 'http://matplotlib.sourceforge.net/' %}">Matplotlib</a>
        <span class="version">{{ matplotlib_version }}</span></p>
    </td>
  </tr>
  <tr>
    <th>{% trans 'Runtime' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="http://www.python.org"
            ><img class="helper-program-logo" src="{% static "samples/python.png" %}" alt="{% trans 'Python logo' %}"
                  width="125" height="37"/></a></p>
      <p><a href="http://www.python.org">Python</a>
        <span class="version">{{ language_version }}</span></p></td>
  </tr>
  {% if postgresql_version %}
    <tr>
      <th>{% trans 'Database backend' %}:</th>
      <td style="vertical-align: bottom">
        <p><a href="http://www.postgresql.org/"
              ><img class="helper-program-logo" src="{% static "samples/postgresql.png" %}" alt="{% trans 'PostgreSQL logo' %}"
                    width="49" height="50"/></a></p>
        <p><a href="http://www.postgresql.org/">PostgreSQL</a>
          <span class="version">{{ postgresql_version }}</span></p></td>
    </tr>
  {% endif %}
</table>
{% endblock %}
