{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% block css %}
<style type="text/css">
  p { margin: 0pt }
  img { border: 0pt }
  img.helper-program-logo { float: right; margin: 0pt 0pt 1ex 0.5em }
</style>
{% endblock %}

{% block frame_content %}
<table class="about">
  <tbody>
  <tr>
    <th>{% trans 'Top-level framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><img class="helper-program-logo" src="{% static "juliabase/juliabase_logo_desat.png" %}" alt="{% trans 'JuliaBase logo' %}"
                  width="50" height="50"/></p>
      <p>JuliaBase
        <span class="version">{{ juliabase_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Web framework' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}"
            ><img class="helper-program-logo" src="{% static "samples/django.png" %}" alt="{% trans 'Django logo' %}"
                  width="75" height="32"/></a></p>
      <p><a href="{% trans 'http://en.wikipedia.org/wiki/Django_(web_framework)' %}">Django</a>
        <span class="version">{{ framework_version }}</span></p></td>
  </tr>
  <tr>
    <th>{% trans 'Plotting system' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="{% trans 'http://matplotlib.sourceforge.net/' %}"
            ><img class="helper-program-logo" style="margin-bottom: 0pt" width="70" height="70"
                  src="{% static "samples/matplotlib.png" %}" alt="{% trans 'Matplotlib logo' %}"/></a></p>
      <p><a href="{% trans 'http://matplotlib.sourceforge.net/' %}">Matplotlib</a>
        <span class="version">{{ matplotlib_version }}</span></p>
    </td>
  </tr>
  <tr>
    <th>{% trans 'Runtime' %}:</th>
    <td style="vertical-align: bottom">
      <p><a href="http://www.python.org"
            ><img class="helper-program-logo" src="{% static "samples/python.png" %}" alt="{% trans 'Python logo' %}"
                  width="125" height="37"/></a></p>
      <p><a href="http://www.python.org">Python</a>
        <span class="version">{{ language_version }}</span></p></td>
  </tr>
  </tbody>
</table>
{% endblock %}
