{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
<form method="post" action="">
  {% error_list add_samples _("General error") %}
 <!-- <table>
    <tr>
      {% input_field add_samples.number_of_samples %}
    </tr><tr>
      {% input_field add_samples.substrate %}
    </tr><tr>
      {% input_field add_samples.substrate_comments %}
    </tr>
    {% if external_operators_available %}
      <tr>
        {% input_field add_samples.substrate_originator %}
      </tr>
    {% endif %}
    <tr>
      {% input_field add_samples.timestamp %}
    </tr><tr>
      {% input_field add_samples.current_location %}
    </tr><tr>
      {% input_field add_samples.purpose %}
    </tr><tr>
      {% input_field add_samples.tags %}
    </tr><tr>
      {% input_field add_samples.project %}
    </tr><tr>
      {% input_field add_samples.bulk_rename %}
    </tr>
  </table>
  <div style="display: none">
    {{ add_samples.timestamp_inaccuracy }}
  </div> -->

  <table>
    {% for field in add_samples %}
        {% if field.label == "Substrate originator" %}
            {% if external_operators_available %}
                <tr>
                {% input_field field %}
                </tr>
            {% endif %}
        {% else %}{% if field.label == "Timestamp inaccuracy" %}
        {% else %}
            <tr>
            {% input_field field %}
            </tr>
        {% endif %}{% endif %}
    {% endfor %}
  </table>
  <div style="display: none">
    {{ add_samples.timestamp_inaccuracy }}
    {{ add_samples.sample_name }}
  </div>

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
