{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
<form method="post" action="">

  {% error_list sample_series _("Error in sample series") %}

  <table cellpadding="5" style="float: left; margin-bottom: 3ex; width: 45%">
    {% if is_new %}
      <tr>
        <td class="label"><label for="id_{{ sample_series.short_name.html_name }}"
             >{{ sample_series.short_name.label }}:</label></td>
        <td class="input">{{ name_prefix }}-{{ sample_series.short_name }}</td>
      </tr>
    {% endif %}
    <tr {% if is_new %}style="display: none"{% endif %}>
      {% input_field sample_series.currently_responsible_person %}
    </tr>
    <tr>
      {% input_field sample_series.topic %}
    </tr>
    <tr>
      <td class="label"><label for="id_{{ sample_series.description.html_name }}"
           >{{ sample_series.description.label }}:</label><br/>{% markdown_hint %}</td>
      <td class="input">{{ sample_series.description }}</td>
    </tr>
  </table>

  <div style="float: left; margin-left: 5em; margin-bottom: 3ex">
    <label for="id_{{ sample_series.samples.html_name }}" style="margin-right: 0.5em"
           >{{ sample_series.samples.label }}:</label>{{ sample_series.samples }}
  </div>

  {% include "samples/edit_description.html" %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
