{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list task _("Error in deposition") %}
  {% error_list samples _("Error in sample list") %}

  <table class="padding5" style="float: left">
    <tr>
      <td class="field-label">{{ task.status.label_tag }}</td>
      <td class="field-input">{{ task.status }}</td>
    </tr>
    <tr>
      <td class="field-label">{{ task.process_class.label_tag }}</td>
      <td class="field-input">{{ task.process_class }}</td>
    </tr>
    <tr>
      <td class="field-label">{{ task.priority.label_tag }}</td>
      <td class="field-input">{{ task.priority }}</td>
    </tr>
    <tr>
      <td class="field-label">{{ task.finished_process.label_tag }}</td>
      <td class="field-input">{{ task.finished_process }}</td>
    </tr>
    <tr>
      <td class="field-label">{{ task.operator.label_tag }}</td>
      <td class="field-input">{{ task.operator }}</td>
    <tr>
      <td class="field-label">{{ task.comments.label_tag }}<br/>{% markdown_hint %}</td>
      <td class="field-input">{{ task.comments }}</td>
    </tr>
  </table>

  <div style="float: left; margin-left: 5em; margin-bottom: 3ex">
    <span style="margin-right: 0.5em">{{ samples.sample_list.label_tag }}</span>{{ samples.sample_list }}
  </div>

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>
{% endblock %}
