{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list user_details _("Error in preferences") %}
  {% error_list initials _("Error in initials") %}
  <table class="padding5">
    {% if has_topics %}
      <tr>
        <td class="label">
          <label for="id_{{ user_details.auto_addition_topics.html_name }}"
                 >{{ user_details.auto_addition_topics.label }}:</label>
          <div style="margin-top: 0.5ex; margin-right: 1em; font-size:smaller; max-width: 40em">
            {% blocktrans %}(This list shows
            all topics you are a member of.  You can mark those topics that you want all new samples of which to be
            implicitly added to “My Samples”.){% endblocktrans %}</div>
        </td>
        <td class="input">{{ user_details.auto_addition_topics }}</td>
      </tr>
    {% endif %}
    <tr>
      <td class="label">
        <label for="id_{{ initials.initials.html_name }}">{{ initials.initials.label }}:</label>
        <div style="margin-top: 0.5ex; margin-right: 1em; font-size:smaller; max-width: 40em">
          {% blocktrans %}(Once set, you can't change this anymore.){% endblocktrans %}</div>
      </td>
      <td class="input">{{ initials.initials }}</td>
    </tr>
    <tr>
      {% input_field user_details.only_important_news %}
    </tr>
    <tr>
      <td class="label">
        <label for="id_{{ user_details.subscribed_feeds.html_name }}" style="margin-right: 0.5em; vertical-align: top">
          {{ user_details.subscribed_feeds.label }}:
        </label>
        <div style="margin-top: 0.5ex; margin-right: 1em; font-size:smaller; max-width: 40em">
          {% blocktrans %}
            (Choose the news feeds you are interested in. For example: If you only select “sample”, you will be informed
            about everything that happens to samples.)
          {% endblocktrans %}</div>
      </td>
      <td class="input">
        {{ user_details.subscribed_feeds }}
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="id_{{ user_details.default_folded_process_classes.html_name }}" style="margin-right: 0.5em; vertical-align: top">
          {{ user_details.default_folded_process_classes.label }}:
        </label>
        <div style="margin-top: 0.5ex; margin-right: 1em; font-size:smaller; max-width: 40em">
          {% blocktrans %}
            (With this setting, it is possible to fold less interesting processes in the sample data sheet by default.)
          {% endblocktrans %}</div>
      </td>
      <td class="input">
        {{ user_details.default_folded_process_classes }}
      </td>
    </tr>

     <tr>
      <td class="label">
        <label for="id_{{ user_details.show_users_from_department.html_name }}" style="margin-right: 0.5em; vertical-align: top">
          {{ user_details.show_users_from_department.label }}:
        </label>
        <div style="margin-top: 0.5ex; margin-right: 1em; font-size:smaller; max-width: 40em">
          {% blocktrans %}
            (Select the departments from which you want to see the members in the selection lists.)
          {% endblocktrans %}</div>
      </td>
      <td class="input">
        {{ user_details.show_users_from_department }}
      </td>
    </tr>

  </table>
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>
{% endblock %}
