{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list task _("Error in deposition") %}
  {% error_list samples _("Error in sample list") %}

    <table class="padding5" style="float: left">
    <tbody>
    <tr>
      <td class="field-label"><label for="id_{{ task.status.html_name }}">{{ task.status.label }}:</label></td>
      <td class="input">{{ task.status }}</td>
    </tr>
    <tr>
      <td class="field-label">
        <label for="id_{{ task.process_class.html_name }}">{{ task.process_class.label }}:</label>
      </td>
      <td class="input">{{ task.process_class }}</td>
    </tr>
    <tr>
      <td class="field-label"><label for="id_{{ task.priority.html_name }}">{{ task.priority.label }}:</label></td>
      <td class="input">{{ task.priority }}</td>
    </tr>
    <tr>
      <td class="field-label"><label for="id_{{ task.finished_process.html_name }}">{{ task.finished_process.label }}:</label></td>
      <td class="input">{{ task.finished_process }}</td>
    </tr>
    <tr>
      <td class="field-label"><label for="id_{{ task.operator.html_name }}">{{ task.operator.label }}:</label></td>
      <td class="input">{{ task.operator }}</td>
    <tr>
      <td class="field-label"><label for="id_{{ task.comments.html_name }}"
           >{{ task.comments.label }}:</label><br/>{% markdown_hint %}</td>
      <td class="input">{{ task.comments }}</td>
    </tr>
    </tbody>
  </table>

  <div style="float: left; margin-left: 5em; margin-bottom: 3ex">
    <label for="id_{{ samples.sample_list.html_name }}" style="margin-right: 0.5em"
           >{{ samples.sample_list.label }}:</label>{{ samples.sample_list }}
  </div>

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>
{% endblock %}
