{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
<form method="post">
  {% error_list external_operator _("Error in external operator") %}
  <table>
    <tbody>
    <tr>
      {% input_field external_operator.name %}
    </tr><tr>
      {% input_field external_operator.institution %}
    </tr><tr>
      {% input_field external_operator.email %}
    </tr><tr>
      {% input_field external_operator.alternative_email %}
    </tr><tr>
      {% input_field external_operator.phone %}
    </tr><tr>
      {% input_field external_operator.confidential %}
    </tr>
    {% error_list initials _("Error in initials") "<tr>" 2 %}
      <tr>
        {% input_field initials.initials %}
      </tr>
    {% if external_operator.contact_persons %}
    <tr>
      {% input_field external_operator.contact_persons %}
    </tr>
    {% endif %}
    </tbody>
  </table>
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
