{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
<form method="post" action="">
  {% error_list substrate _("Substrate error") %}
  {% error_list samples _("Sample list error") %}
  <table>
    <tr>
      {% input_field samples.sample_list %}
    </tr>
    <tr>
      {% input_field substrate.timestamp %}
    </tr>
    <tr>
      {% input_field substrate.operator %}
    </tr>
    {% if substrate.user.is_staff %}
      <tr>
        {% input_field substrate.external_operator %}
      </tr>
    {% endif %}
    <tr>
      {% input_field substrate.material %}
    </tr>
    <tr>
      {% input_field substrate.comments %}
    </tr>
    <tr>
      {% input_field substrate.cleaning_number %}
    </tr>
  </table>
  <div style="display: none">
    {{ substrate.timestamp_inaccuracy }}
  </div>

  {% include "samples/edit_description.html" %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
