{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% if edit_description %}
  {% load i18n %}
  {% load juliabase %}
  {% load samples_extras %}
  <table class="edit-description">
    <tbody>
    {% error_list edit_description _("General error") "<tr>" %}
    <tr>
      <td>
	<label for="id_{{ edit_description.description.html_name }}"
	       >{{ edit_description.description.label }}:<br/> {% markdown_hint %}</label>
      </td>
    </tr>
    <tr>
      <td class="value">{{ edit_description.description }}</td>
    </tr>
    <tr>
      <td class="label">
	<label for="id_{{ edit_description.important.html_name }}"
	       >{{ edit_description.important.label }}:</label>
      {{ edit_description.important }}</td>
    </tr>
    </tbody>
  </table>
{% endif %}
