{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
<form method="post" action="">
  {% error_list cleaning_process _("cleaning process error") %}
  {% error_list samples _("Sample list error") %}
  <table>
    <tr>
      {% input_field samples.sample_list %}
    </tr>
    <tr>
      {% input_field cleaning_process.timestamp %}
    </tr>
    <tr>
      {% input_field cleaning_process.operator %}
    </tr>
    {% if cleaning_process.user.is_staff %}
      <tr>
        {% input_field cleaning_process.external_operator %}
      </tr>
    {% endif %}
    <tr>
      {% input_field cleaning_process.comments %}
    </tr>
    <tr>
      {% input_field cleaning_process.cleaning_number %}
    </tr>
  </table>
  <div style="display: none">
    {{ cleaning_process.timestamp_inaccuracy }}
  </div>

  {% include "samples/edit_description.html" %}

  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>


{% endblock %}
