{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}

{% with entry.samples.all as samples %}
  <p>
    {% blocktrans count samples|length as counter with entry.originator|get_really_full_name:"mailto" as originator and entry.topic as topic %}
      {{ originator }} has added the following sample in the topic “{{ topic }}” to the database:
    {% plural %}
      {{ originator }} has added the following samples in the topic “{{ topic }}” to the database:
    {% endblocktrans %}
  </p>

  <ul>
    {% for sample in entry.samples.all %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li>
    {% endfor %}
  </ul>

  <p>
    {% if entry.purpose %}
      {% blocktrans with entry.purpose as purpose %}The given purpose is “{{ purpose }}”.{% endblocktrans %}
    {% endif %}
    {% if auto_added %}
      {% blocktrans count samples|length as counter %}
        The sample is amongst “My Samples”.
      {% plural %}
        The samples are amongst “My Samples”.
      {% endblocktrans %}
    {% else %}
      {% blocktrans count samples|length as counter %}
        The sample was not (at least not <em>automatically</em>) added to “My Samples”.
      {% plural %}
	The samples were not (at least not <em>automatically</em>) added to “My Samples”.
      {% endblocktrans %}
    {% endif %}
  </p>

{% endwith %}
