{% load i18n %}
{% load samples_extras %}

{% with entry.samples.all as samples %}
  <p>
    {% if entry.old_project %}
      {% blocktrans count samples|length as counter and entry.originator|get_really_full_name:"mailto" as originator and entry.project as project and entry.old_project as old_project %}
	{{ originator }} has moved the following sample from project “{{ old_project }}” to the project “{{ project }}”:
      {% plural %}
	{{ originator }} has added the following samples from project “{{ old_project }}” to the project “{{ project }}”:
      {% endblocktrans %}
    {% else %}
      {% blocktrans count samples|length as counter and entry.originator|get_really_full_name:"mailto" as originator and entry.project as project %}
	{{ originator }} has moved the following formerly project-less sample to the project “{{ project }}”:
      {% plural %}
	{{ originator }} has added the following formerly project-less samples to the project “{{ project }}”:
      {% endblocktrans %}
    {% endif %}
  </p>

  <ul>
    {% for sample in entry.samples.all %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li>
    {% endfor %}
  </ul>

  <p>
    {% if auto_added %}
      {% blocktrans count samples|length as counter %}
        The sample is amongst “My Samples”.
      {% plural %}
        The samples are amongst “My Samples”.
      {% endblocktrans %}
    {% else %}
      {% blocktrans count samples|length as counter %}
        The sample was not (at least not <em>automatically</em>) added to “My Samples”.
      {% plural %}
	The samples were not (at least not <em>automatically</em>) added to “My Samples”.
      {% endblocktrans %}
    {% endif %}
  </p>

{% endwith %}

<p>
  {% trans 'Full description of the change:' %}
</p>

<blockquote>
  {{ entry.description|markdown_samples }}
</blockquote>
