{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}

<p>
  {% blocktranslate count entry.sample_split.pieces.count as counter with entry.sample_split.parent as parent and entry.sample_split.parent.get_absolute_url as url %}
    From the sample <a href="{{ url }}">{{ parent }}</a>, the following piece was split:
  {% plural %}
    The sample <a href="{{ url }}">{{ parent }}</a> was split in the following pieces:
  {% endblocktranslate %}
</p>

<ul>
  {% for sample in entry.sample_split.pieces.all %}
    <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a>
      {% if sample.purpose %}
        ({% translate 'purpose:' %} {{ sample.purpose }})
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p>
  {% blocktranslate count entry.sample_split.pieces.count as counter %}
    The piece was added to “My Samples”.
  {% plural %}
    All pieces were added to “My Samples”.
  {% endblocktranslate %}
  {% if entry.sample_completely_split %}
    {% translate 'The sample was completely split, i.e. no piece of the parent is left.  Therefore, the parent was removed from “My Samples”.' %}
  {% endif %}
</p>

