<!-- 
<style>
  .lock-header { 
    overflow-y: auto; 
    max-height: 500px;
  }  
  .lock-header thead { 
    position: sticky; 
    top: 0; 
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  } 
   
  </style> -->
  {# -*- indent-tabs-mode: nil -*- #}
  {% extends "samples/base.html" %}
  {% comment %}
  This file is part of JuliaBase, see http://www.juliabase.org.
  Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany
  
  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU Affero General Public License as published by the Free
  Software Foundation, either version 3 of the License, or (at your option) any
  later version.
  
  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
  details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  {% endcomment %}
  
  {% load i18n %}
  {% load juliabase %}
  {% load samples_extras %}
  {% load static %}
  
  {% block content_title %}<div class="page-header"><h1>{{ title }}{% if export_url %}<a class="edit-icon" 
       href="{{ export_url }}"><img src="{% static "juliabase/icons/table.png" %}" alt="export icon"
          title="{% translate 'export as table' %}" width="16" height="16"/></a>{% endif %}</h1></div>{% endblock %}
  
  {% block cos %}
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.datatables.net/v/dt/dt-2.0.3/fc-5.0.0/fh-4.0.1/r-3.0.0/rg-1.5.0/datatables.min.css" rel="stylesheet">
 
  <script src="https://cdn.datatables.net/v/dt/dt-2.0.3/fc-5.0.0/fh-4.0.1/r-3.0.0/rg-1.5.0/datatables.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'juliabase/css/table.css'%}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/v/bs5-5.3.0/datatables.min.js"></script>
  
  {% endblock %}
  
  
  {% block frame_content %}
  
  <form method="post" id="date-form">{% csrf_token %}
    {% error_list date_form _("Error in date") %}
    <div style="text-align: center">
      {% if date_form.begin_date.label %}
        {{ date_form.begin_date.label }}/{{ date_form.end_date.label }}<br/>
        {{ date_form.begin_date }}/{{ date_form.end_date }}<br/>
      {% else %}
          <!-- Use a fallback value if date_form.begin_date.label is not defined -->
          {{ year_month.year.label }}/{{ year_month.month.label }}<br/>
          {{ year_month.year }}/{{ year_month.month }}<br/>
      {% endif %}
      
      <div class="screen-only" style="margin-top: 1ex">
        <input type="submit" value="{% translate 'Submit' %}"/><br/>

        
          {% block notebook_nav_icons %}
            <a href="{{ previous_url }}" {% if not previous_url %}style="visibility: hidden"{% endif %}>
              <img src="{% static "juliabase/icons/book_previous.png" %}" alt="previous month icon"
                  title="{% translate 'previous month' %}" width="16" height="16"/></a>
                   
            <a href="{{ next_url }}" {% if not next_url %}style="visibility: hidden"{% endif %}>
              <img src="{% static "juliabase/icons/book_next.png" %}" alt="next month icon" title="{% translate 'next month' %}"
                  width="16" height="16"/>
            </a>
          {% endblock %}
        
        
      </div>
    </div>
  </form>
  

  <div class="lock-header table-responsive-md">
    {{ html_body }}
  </div>
  <script src="{% url 'iek5:javascript-catalog' %}"></script>
  <!-- <script >
    $(document).ready( function () {
      // $('#double-scroll').doubleScroll();
      // console.log('Current URL:', window.location.href);

      // FIXME: this should be in lab_notebook.js, but for some reasons it
      // does not work there.
      // Check if the URL contains a specific substring
      // We use this to get rid of the date form for screenprinter paste and screen
      if (window.location.href.indexOf('screenprinter_paste') > -1 || window.location.href.indexOf('screenprinter_screen') > -1) {
          // Hide the form with id="date-form"
          // console.log('Substring found! Hiding date form.');
          $('#date-form').hide();
    }
  } );
  </script>
  <script>
    $(document).ready( function () {

//Dictionary full of all the strings from datatables that need to be translated
var langDict = {
    processing:     gettext("Processing..."),
    search:         gettext("Search&nbsp;:"),
    lengthMenu:     gettext("Show _MENU_ entries"),
    info:           gettext("Showing _START_ to _END_ of total _TOTAL_ entries"),
    infoEmpty:      gettext("Showing 0 to 0 of total 0 entries"),
    infoFiltered:   gettext("(filtered from total _MAX_ entries)"),
    infoPostFix:    "",
    loadingRecords: gettext("Loading records..."),
    zeroRecords:    gettext("No entries found"),
    emptyTable:     gettext("No data available"),
    aria: {
        sortAscending:  gettext(": activate to sort column ascending"),
        sortDescending: gettext(": activate to sort column descending")
    }
};


// We use a timer here to allow everything to load before calling datatables.
// This might not be necessary if 
setTimeout(function() {
    // We use this to initialize datatables for all the tables of class "lab-notebook"
    // EXCEPT the ones written after ":not". Some of those tables do not work properly
    // with datatables. Some others are here like "screenprinter" that need to be initialized
    // separately to add custom features. Each time you want a table to have special features,
    // add it here. 
    // The backslash is here used to return to line and increase code readability.
    $('.lab-notebook:not(#screenprinter,\
                        #five-chamber,   \
                        #six-chamber,     \
                        #cluster-tool-2,   \
                        #cluster-tool-1,    \
                        #dip-bench,          \
                        #hercules,            \
                        #jana,                 \
                        #joseph,                \
                        #lada,                   \
                        #large-sputter,           \
                        #large-area,               \
                        #maria,                     \
                        #p-hot-wire,                 \
                        #wetbench,                    \
                        #screenprinter-paste,          \
                        #screenprinter-screen,          \
                        #experiment)').DataTable({
        order: [],
        // pageLength: 50,
        scrollX: true,
        scrollY: '50vh',
        language: langDict,
    fixedColumns: true,
    fixedHeader: true // Enable FixedHeader extension
    }); // Initialize the DataTables for the rest of the tables with the class "lab-notebook"

    $('#experiment').DataTable({
    order: [],
    scrollX: true,
    scrollY: '50vh',
    fixedColumns: true,
    fixedHeader: true,
    columnDefs: [
        {
            targets: '_all', // Apply to all columns except the first one
            render: function (data, type, row, meta) {
                // Ignore rendering for the first column
                // if (meta.col === 0) return data;

                if (type === 'display') {
                    // Create a temporary element to parse the HTML
                    var div = document.createElement('div');
                    div.innerHTML = data;

                    // Check if the content contains a link
                    var link = div.querySelector('a');
                    if (link) {
                        // Extract the URL and the visible text
                        var url = link.href;
                        var text = link.textContent || link.innerText || "";

                        // Truncate the visible text if it's too long
                        if (text.length > 30) {
                            text = text.substr(0, 30) + '...';
                        }

                        // Rebuild the anchor tag with the original URL and truncated text
                        return `<a href="${url}" title="${link.textContent}">${text}</a>`;
                    } else {
                        // If no link, just truncate the text
                        var text = div.textContent || div.innerText || "";
                        if (text.length > 30) {
                            text = text.substr(0, 30) + '...';
                        }
                        return `<div title="${div.textContent}">${text}</div>`;
                    }
                }
                return data;
            }
        }
    ],
});


    // Custom table declaration for the table with the id "screenprinter-paste" 
    $('#screenprinter-paste').DataTable({

        createdRow: function (row, data, dataIndex){
              // FIXME: This is quite a terrible way to pick a column, since new columns can be added
              // and the current setting will break if not fixed. Use column name instead of number
              if(data[11] === "True"){
                // You wanna know why I am using the "table-danger" class instead
                // of simply changing the color of the row directly?
                // Well, Bootstrap loves overriding everything. Might aswell use
                // its classes instead. 
                $(row).addClass('table-danger');
              }
          },
            order: [],
            // pageLength: 50,
            scrollX: true,
            scrollY: '50vh',
            language: langDict,
            fixedColumns: true,
            fixedHeader: true // Enable FixedHeader extension
            }); // Initialize the DataTables for the rest of the tables with the class "lab-notebook"
              

    $('#screenprinter-screen').DataTable({

        createdRow: function (row, data, dataIndex){
              // FIXME: This is quite a terrible way to pick a column, since new columns can be added
              // and the current setting will break if not fixed. Use column name instead of number
              if(data[15] === ""){
                // You wanna know why I am using the "table-danger" class instead
                // of simply changing the color of the row directly?
                // Well, Bootstrap loves overriding everything. Might aswell use
                // its classes instead. 
                $(row).addClass('table-danger');
              }
          },
            order: [],
            // pageLength: 50,
            scrollY: '50vh',
            scrollX: true,
            language: langDict,
            fixedColumns: true,
            fixedHeader: true // Enable FixedHeader extension
            }); // Initialize the DataTables for the rest of the tables with the class "lab-notebook"
  

    $('#screenprinter').DataTable( {
        language: langDict,
        order: [],
        // pageLength: 50,
        scrollX: true,
        scrollY: '50vh',
        fixedColumns: true,
        fixedHeader: true, // Enable FixedHeader extension
        columnDefs: [ {
            targets: [ 2, 4, 6 ], // Assuming the column index is 0
            render: function (data, type, row) {
                if (data === "None") {
                    return "<i>None</i>"; // Convert "None" to null for proper sorting
                }
                // Extract numeric part of the string after 'S'
                // FIXME: Temporary solution, since this regex pattern does not 
                // take into account strings that start with a lower case
                var matches = data.match(/\d+/i);
                // That is why we turn the first character of all 
                // the strings to upper case
                data = data.charAt(0).toUpperCase() + data.slice(1);

                // Check if there are strings that match the pattern
                if (matches !== null) {
                    // If yes, take the number
                    var num = matches[0];
                    // If the number has only one digit, pad a zero at the beginning
                    // to sort things properly (i.e. S7 becomes S07) 
                    if (num.length === 1) {
                        let extracted = data.substring(0, data.indexOf(num));
                        num = '0' + num; // pad a zero at the beginning
                        // Check if there isn't anything attached to the number
                        if (/^\d+$/.test(data.charAt(-1)) === false){
                            // If yes attach back all the things the number starts and ends with
                            return extracted + num + data.slice(num.length);
                        }
                        // If not just return the beginning of the string and number
                        return extracted + num;
                    }
                    // If the number has more than one digit, you can simply return it
                    return data;
                } else {
                    return data; // return 0 if no number is found
                }
            },
            type: 'numeric'
        } ]
    } ); 

    // Custom initialization for "manual-cleaning" where the entries are sorted in descending
    // order as asked by Dorothea
    // $('#manual-cleaning').DataTable({
    //     order: [[ 0, "desc" ]],
    //     scrollX: true,
    //     language: langDict,
    //     fixedColumns: true,
    //     fixedHeader: true // Enable FixedHeader extension
    //     }); // Initialize the DataTables for the rest of the tables with the class "lab-notebook"
              
    
}, 1000);

try{
    if(no_bs5 == false){
        
    }
} catch(error){
    // Use jQuery to select the specific div and find its child table element
    var $table = $('.lock-header').find('table');

    // Add new classes to the table element
    $table.addClass('lab-notebook table table table-hover table-bordered table-striped-columns');

    // Preserve existing classes by ensuring they are not already present
    var existingClasses = $table.attr('class').split(' ');
    existingClasses.forEach(function(className) {
        if (!$table.hasClass(className)) {
            $table.addClass(className);
        }
    });

    // Find the thead element within the table and add new classes to it
    $table.find('thead').addClass('align-middle');
}





// Check if the URL contains a specific substring
// We use this to get rid of the date form for screenprinter paste and screen
if (window.location.href.indexOf('screenprinter_paste') > -1 || window.location.href.indexOf('screenprinter_screen') > -1) {
    // Hide the form with id="date-form"
    console.log('Substring found! Hiding date form.');
    $('#date-form').hide();
}
} );
  </script> -->
  <script src="{% static 'juliabase/js/lab_notebook.js' %}?v={% now 'U' %}"></script>
  <!-- Include marked library from CDN -->
  <script src="https://cdn.jsdelivr.net/npm/marked@2.1.3/marked.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
  
  <script type="text/javascript" src="{% static 'juliabase/js/md_latex_renderer.js' %}?v={% now 'U' %}"></script>
  {% endblock %}
  
  
  