{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load static %}

{% block css %}
<style type="text/css">
  tr.topline { border-top: 1px solid black }
</style>
{% endblock %}

{% block content_title %}<div class="page-header"><h1>{{ title }}{% if export_url %}<a class="edit-icon" 
     href="{{ export_url }}"><img src="{% static "juliabase/icons/table.png" %}" alt="export icon"
        title="{% translate 'export as table' %}" width="16" height="16"/></a>{% endif %}</h1></div>{% endblock %}

{% block frame_content %}
<form method="post">{% csrf_token %}
  {% error_list year_month _("Error in date") %}
  <div style="text-align: center">
    {{ year_month.year.label }}/{{ year_month.month.label }}<br/>
    {{ year_month.year }}/{{ year_month.month }}<br/>
    <div class="screen-only" style="margin-top: 1ex">
      <input type="submit"/><br/>
      {% block notebook_nav_icons %}
        <a href="{{ previous_url }}" {% if not previous_url %}style="visibility: hidden"{% endif %}>
          <img src="{% static "juliabase/icons/book_previous.png" %}" alt="previous month icon"
               title="{% translate 'previous month' %}" width="16" height="16"/></a>
              
        <a href="{{ next_url }}" {% if not next_url %}style="visibility: hidden"{% endif %}>
          <img src="{% static "juliabase/icons/book_next.png" %}" alt="next month icon" title="{% translate 'next month' %}"
               width="16" height="16"/>
        </a>
      {% endblock %}
    </div>
  </div>
</form>

{{ html_body }}
{% endblock %}
