{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
{% if topics %}
  <ul>
    {% for topic in topics %}
      {% with topic.name|urlquote as normalized_topicname %}
        <li style='list-style-image: url("{{ MEDIA_URL }}chantal/icons/group.png")'
            ><a href="{% url samples.views.topic.edit name=normalized_topicname %}">{{ topic.name }}</a></li>
      {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans 'No topics available.' %}</p>
{% endif %}
{% endblock %}
