{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block frame_content %}
{% if projects %}
  <ul>
    {% for project in projects %}
      {% with project.name|urlquote as normalized_projectname %}
        <li style='list-style-image: url("{{ MEDIA_URL }}samples/icons/group.png")'
            ><a href="{% url samples.views.project.edit name=normalized_projectname %}">{{ project.name }}</a></li>
      {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans 'No projects available.' %}</p>
{% endif %}
{% endblock %}
