{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block frame_content %}
{% if topics %}
  <ul>
    {% for topic in topics %}
      {% with topic.id|urlquote as normalized_topicid %}
        <li style='list-style-image: url("{{ STATIC_URL }}juliabase/icons/group.png")'
            ><a href="{% url 'samples.views.topic.edit' id=normalized_topicid %}">{{ topic.name }}</a></li>
      {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans 'No topics available.' %}</p>
{% endif %}
{% endblock %}
