{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}

{% block frame_content %}

  <p>{% translate "People who can change permissions of users for the respective process are printed in bold." %}</p>
  <table class="padding10" border="1">
    {% for model in addable_models %}
      {% if model.add_permission or model.edit_permissions_permission %}
        <tr style="vertical-align: top">
          <td>{{ model.name }}</td>
          <td>
            {% for user in model.all_users %}
              {% spaceless %}
                {% if user in model.permission_editors %}
                  <strong>{{ user|get_really_full_name:"plain" }}</strong>
                {% else %}
                  <span>{{ user|get_really_full_name:"plain" }}</span>
                {% endif %}
                {% if not forloop.last %}<span>{% translate ", "%}</span>{% endif %}
              {% endspaceless %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% if topic_managers %}
    <p>{% translate "The current topic managers are:" %}
      {% for user in topic_managers %}
        {% spaceless %}
          <span>{{ user|get_really_full_name:"plain" }}</span>
          {% if not forloop.last %}<span>{% translate ", "%}</span>{% endif %}
        {% endspaceless %}
      {% endfor %}
    </p>
  {% endif %}
  {% if user_list %}
    {% comment %}
      <p>{% translate "Change the permissions of:" %}
        {% for user in user_list %}
          {% spaceless %}
            <a href="{% url 'samples:edit_permissions' username=user.username%}">{{ user|get_really_full_name:"plain" }}</a>
            {% if not forloop.last %}<span>{% translate ", "%}</span>{% endif %}
          {% endspaceless %}
        {% endfor %}
      </p>
    {% endcomment %}
    <form method="POST">{% csrf_token %}
    {% error_list user_list _("Error in user list") %}
      <table>
        <tr>
          {% input_field user_list.selected_user %}
        </tr>
      </table>
      <p class="submit-button" style="clear: both"><input type="submit"/></p>
    </form>
  {% endif %}
{% endblock %}
