{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}
{% load staticfiles %}
{% load cache %}

{% block local_scripts %}
<script type="text/javascript">
// <![CDATA[
$(function() { juliabase.request("{% url 'samples.views.json_client.get_folded_main_menu_elements' %}",
                               function(data) { for (var i=0; i < data[0].length; i++)
                                                    $("#topic-" + data[0][i]).hide();
                                                for (var i=0; i < data[1].length; i++)
                                                    $("#sample-series-" + data[1][i]).hide();
                                              }
                               );
               $("img.topics, img.sample-series").click(
                    function(event) { var id = event.target.id.split('-')[2];
                                      if ( event.target.className=="topics" ) {
                                        var target = "#topic-";
                                      } else {
                                        var target = "#sample-series-";
                                      }
                                      juliabase.request("{% url 'samples.views.json_client.fold_main_menu_element' %}",
                                                     function(data) { if (data) {
                                                                        $(target + id).hide("fast");
                                                                      } else {
                                                                        $(target + id).show("fast");
                                                                      }
                                                                     },
                                                     {element_id: id}, "POST");
                                    })
              });
// ]]>
</script>
{% endblock %}

{% block frame_content %}
  {% cache 9999999 mysamples user.username user.samples_user_details.my_samples_list_timestamp %}
    {% if topicless_samples or my_topics %}
      <div class="my-samples">
        <h2>{% trans 'My Samples' %}<a class="edit-icon"
                               href="{% url 'samples.views.my_samples.edit' username=user.username %}"
                               ><img src="{% static "juliabase/icons/pencil.png" %}" alt="edit icon" title="{% trans 'edit' %}"
                                     width="16" height="16"/></a></h2>

        {% if topicless_samples %}
          <ul class="sample-list">
            {% for sample in topicless_samples %}
              <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a>{{ sample|sample_tags:user }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="my-samples-topics">
          {% for topic in my_topics %}
            {% expand_topic topic user %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endcache %}

  <h2>{% trans 'Add things' %}</h2>

  {# FixMe: make translated strings lowercase and use |capfirst #}
  <ul style='list-style-image: url("{% static "juliabase/icons/add.png" %}")'>
    <li style='list-style-image: url("{% static "juliabase/icons/ruby_add.png" %}")'>
      <a href="{{ add_sample_url }}">{% trans 'Samples' %}</a></li>
    <li style='list-style-image: url("{% static "juliabase/icons/chart_organisation_add.png" %}")'>
      <a href="{% url 'samples.views.sample_series.new' %}">{% trans 'Sample series' %}</a></li>
    <li style='list-style-image: url("{% static "juliabase/icons/lightbulb_add.png" %}")'>
      <a href="{% url 'add_result' %}">{% trans 'Result' %}</a></li>
    {% block add_things_extras %}{% endblock %}
    {% for physical_process in physical_processes %}
      <li><a href="{{ physical_process.url }}">{{ physical_process.label|capfirst }}</a></li>
    {% endfor %}
  </ul>

  <h2>{% trans 'Search for things' %}</h2>
  <ul style='list-style-image: url("{% static "juliabase/icons/find.png" %}")'>
    <li><a href="{% url 'samples.views.sample.advanced_search' %}">{% trans 'Advanced search' %}</a></li>
    <li><a href="{% url 'samples.views.sample.search' %}">{% trans 'Samples by name' %}</a></li>
    {% block search_things_extras %}{% endblock %}
  </ul>

  {% if lab_notebooks %}
    <h2>{% trans 'Lab notebooks' %}</h2>

    <ul style='list-style-image: url("{% static "juliabase/icons/book.png" %}")'>
      {% for lab_notebook in lab_notebooks %}
        <li><a href="{{ lab_notebook.url }}">{{ lab_notebook.label|capfirst }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if can_add_topic or can_edit_topics %}
    <h2>{% trans 'Edit topics' %}</h2>

    <ul>
      {% if can_add_topic %}
        <li style='list-style-image: url("{% static "juliabase/icons/group_add.png" %}")'>
          <a href="{% url 'samples.views.topic.add' %}">{% trans 'Add new topic' %}</a></li>
      {% endif %}
      {% if can_edit_topics %}
        <li style='list-style-image: url("{% static "juliabase/icons/group_gear.png" %}")'>
          <a href="{% url 'samples.views.topic.list_' %}">{% trans 'Change topic memberships' %}</a></li>
      {% endif %}
    </ul>
  {% endif %}

  {% if can_add_external_operator or has_external_contacts %}
    <h2>{% trans 'External operators' %}</h2>

    <ul style='list-style-image: url("{% static "juliabase/icons/user_gray.png" %}")'>
      {% if can_add_external_operator %}
        <li><a href="{% url 'samples.views.external_operator.new' %}">{% trans 'Add external operator' %}</a></li>
      {% endif %}
      {% if has_external_contacts %}
        <li><a href="{% url 'samples.views.external_operator.list_' %}">{% trans 'Edit external operator' %}</a></li>
      {% endif %}
    </ul>
  {% endif %}

  {% block menu_extras %}{% endblock %}

  <h2>{% trans 'Miscellaneous' %}</h2>
  <ul>
    {% if user.is_staff %}
      <li style='list-style-image: url("{% static "juliabase/icons/user_suit.png" %}")'><a href="admin/">{% trans 'Administration' %}</a></li>
    {% endif %}
    {% if can_rename_samples %}
      <li style='list-style-image: url("{% static "juliabase/icons/tag_red.png" %}")'>
        <a href="{% url 'samples.views.sample.rename_sample' %}">{% trans 'Rename sample' %}</a></li>
    {% endif %}
    <li style='list-style-image: url("{% static "juliabase/icons/user_edit.png" %}")'>
      <a href="{% url 'samples.views.user_details.edit_preferences' login_name=user.username %}"
         >{% trans 'Edit preferences' %}</a></li>
    <li style='list-style-image: url("{% static "juliabase/icons/key.png" %}")'>
      <a href="{% url 'samples.views.user_details.topics_and_permissions' login_name=user.username %}"
         >{% trans 'My topics and permissions' %}</a></li>
    <li style='list-style-image: url("{% static "juliabase/icons/webcam.png" %}")'>
      <a href="{% url 'samples.views.permissions.list_' %}"
         >{% trans "Permissions" %}</a></li>
    <li style='list-style-image: url("{% static "juliabase/icons/layout.png" %}")'>
      <a href="{% url 'samples.views.task_lists.show' %}">{% trans 'Task lists' %}</a></li>
    {% if user.has_usable_password %}
      <li style='list-style-image: url("{% static "juliabase/icons/lock_edit.png" %}")'>
        <a href="{% url 'django.contrib.auth.views.password_change' %}">{% trans 'Change password' %}</a></li>
    {% endif %}
    <li style='list-style-image: url("{% static "juliabase/icons/feed.png" %}")'>
      <a href="{% url 'samples.views.feed.show' username=user.username user_hash=user_hash %}">{% trans 'Newsfeed' %}</a></li>
    {% block miscellaneous_extras %}
      <li style='list-style-image: url("{% static "juliabase/icons/table.png" %}")'>
        <a href="{% url 'samples.views.status.show' %}">{% trans 'Status messages' %}</a></li>
      <li style='list-style-image: url("{% static "juliabase/icons/arrow_merge.png" %}")'>
        <a href="{% url 'samples.views.merge_samples.merge' %}">{% trans 'Merge samples' %}</a></li>
      <li style='list-style-image: url("{% static "juliabase/icons/flag_blue.png" %}")'>
        <a href="{% url 'samples.views.claim.list_' username=user.username %}">{% trans 'Sample claims' %}</a></li>
      <li style='list-style-image: url("{% static "juliabase/icons/exclamation.png" %}")'>
        <a href="{% url 'samples.views.log_viewer.list' %}">{% trans 'Inspect crawler logs' %}</a></li>
      <!-- FixMe: These menu items must not be links from here but from another menue page. -->
      <li style='list-style-image: url("{% static "juliabase/icons/server_lightning.png" %}")'>
        <a href="{% url 'samples.views.statistics.about' %}">{% trans 'About JuliaBase' %}</a></li>
      <li style='list-style-image: url("{% static "juliabase/icons/server_chart.png" %}")'>
        <a href="{% url 'samples.views.statistics.statistics' %}">{% trans 'Server statistics' %}</a></li>
    {% endblock %}
  </ul>
{% endblock %}
