{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Torsten Bronger <bronger@physik.rwth-aachen.de>,
                      Marvin Goblet <m.goblet@fz-juelich.de>.

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load staticfiles %}

{% block frame_content %}
<p>
  {% blocktrans %}
    Attention: The tags, purposes, topics, informal stacks, and current locations of the samples on the left hand side
    will be erased completely!
  {% endblocktrans %}
</p>
<form method="post">{% csrf_token %}
  <table class="padding5">
    <tbody>
    <tr>
      <th>{{ merge_forms.0.from_sample.label }}</th>
      <th></th>
      <th>{{ merge_forms.0.to_sample.label }}</th>
    </tr>
    {% for merge_form in merge_forms %}
      {% error_list merge_form _("General error") "<tr>" 3 %}
      <tr>
        <td>{{ merge_form.from_sample }}</td>
        <td><img style="display: block; margin-left: 1em; margin-right: 1em" src="{% static "samples/red_arrow.png" %}"
                 alt="{% trans 'red arrow' %}"/></td>
        <td>{{ merge_form.to_sample }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p class="submit-button"><input type="submit"/></p>
</form>
{% endblock %}
