{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load staticfiles %}

{% block content_title %}
  <h1>
  {% if external_operator %}
    {% blocktrans with external_operator.name as name %}External operator “{{ name }}”{% endblocktrans %}
  {% else %}
    {{ title }}
  {% endif %}
  {% if can_edit %}<a class="edit-icon"
	   href="{{ external_operator.get_absolute_url }}/edit/?next={{ external_operator.get_absolute_url|urlquote_plus }}"
	 ><img src="{% static "juliabase/icons/pencil.png" %}" alt="edit icon" title="{% trans 'edit' %}"
	       width="16" height="16"/></a>
  {% endif %}
  </h1>
{% endblock %}

{% block frame_content %}
<table class="padding5" style="margin-bottom: 2ex">
  <tbody>
	  {% if external_operator %}
	  <tr>
	    {% value_field external_operator.name %}
	  </tr>
	  <tr>
	    {% value_field external_operator.institution %}
	  </tr>
	  <tr>
	    <td class="field-label">{% verbose_name ExternalOperator.email %}:</td>
	    <td class="value" style="font-weight: normal"><a href="mailto:{{ external_operator.email }}"
	                                                     >{{ external_operator.email }}</a></td>
	  </tr>
	  {% if external_operator.alternative_email %}
	    <tr>
	      <td class="field-label">{% verbose_name ExternalOperator.alternative_email %}:</td>
	      <td class="value" style="font-weight: normal"><a href="mailto:{{ external_operator.alternative_email }}"
	                                                       >{{ external_operator.alternative_email }}</a></td>
	    </tr>
	  {% endif %}
	  {% if external_operator.phone %}
	    <tr>
	      {% value_field external_operator.phone %}
	    </tr>
	  {% endif %}
  {% endif %}
  <tr>
    <td class="field-label">{% verbose_name ExternalOperator.contact_persons %}:</td>
    <td class="value" style="font-weight: normal">
    <ul>
    {% for person in contact_persons %}
        <li>{{ person|get_really_full_name }}</li>
    {% endfor %}
    </ul>
    </td>
  </tr>
  {% if initials %}
    <tr>
      <td class="field-label">{% verbose_name Initials.initials %}:</td>
      <td class="value">{{ initials }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>

{% if not external_operator or external_operator.confidential %}
<p>{% blocktrans %}
  This external contact is <em>confidential</em>, which means that only the current contact persons can
  view its data.
{% endblocktrans %}</p>

{% endif %}

{% endblock %}
