{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}

<p>
  {% if parent %}
    {% trans 'The parental sample' %}
      <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>
    {% trans 'was split into the following pieces:' %}
  {% else %}
    {% blocktrans %}
      The sample was split into the following pieces:
    {% endblocktrans %}
  {% endif %}
</p>

<ul class="sample-list">
  {% for piece in process.pieces.all %}
    {% ifnotequal piece original_sample %}
      <li>
        <a href="{{ piece.get_absolute_url }}">{{ piece.name }}</a>
        {% ifequal piece latest_descendant %}
          {% trans '(the ancestor of this one)' %}
        {% endifequal %}
      </li>
    {% else %}
      <li>{{ piece.name }} {% trans '(this one)' %}</li>
    {% endifnotequal %}
  {% endfor %}
</ul>
