{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block content_title %}{% endblock %}

{% block frame_content %}
  <form method="post" action="">
      {% for sample, process in samples_and_processes.samples_and_processes %}
        {% if sample %}
          {% spaceless %}<h1>{% trans 'Sample “' %}{{ sample.sample }}{% trans '”' %}<span class="aliases">
          {% for alias in sample.sample.aliases.all %}
            alias <strong>{{ alias }}</strong> {% endfor %}</span>{% if sample.can_edit %}<a class="edit-icon"
               href="{% url samples.views.sample.edit sample_name=sample.sample.name %}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
                              ><img src="{{ MEDIA_URL }}chantal/icons/pencil.png" alt="edit icon" title="{% trans 'edit' %}"/></a>
            {% if sample.number_for_rename %}<a class="edit-icon"
               href="{% url samples.views.bulk_rename.bulk_rename %}?numbers={{ sample.number_for_rename }}&next={{ sample.sample.get_absolute_url|urlquote_plus }}"
                                ><img src="{{ MEDIA_URL }}chantal/icons/tag_blue.png" alt="give-name icon" title="{% trans 'give name' %}"/></a>
            {% endif %}
          {% endif %}
          {% if sample.can_add_process %}<a class="edit-icon" href="{% url samples.views.sample.add_process sample_name=sample.sample.name %}"
                                     ><img src="{{ MEDIA_URL }}chantal/icons/cog_add.png" alt="add-process icon"
                                           title="{% trans 'add process' %}"/></a>{% endif %} 
          {% if sample.full_view %}<a class="edit-icon" 
             href="{% url samples.views.sample.export sample_name=sample.sample.name %}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
             ><img src="{{ MEDIA_URL }}chantal/icons/table.png" alt="export icon"
                   title="{% trans 'export as table' %}"/></a>{% endif %}</h1>{% endspaceless %}

          {% if not sample.full_view %}
            <p style="color: red">
              {% trans "You can see this sample only due to a clearance.  Therefore, some fields are hidden." %}
            </p>
          {% endif %}
          {% with sample.full_view as full_view %}
            {% with sample.sample as sample %}
              <table>
                <tr>
                  {% value_field sample.currently_responsible_person "user" %}
                </tr>
                {% if full_view %}
                  <tr>
                  {% if sample.topic %}
                    {% value_field sample.topic %}
                  {% else %}
                    <td class="label">{% verbose_name Sample.topic %}:</td>
                    <td class="value">— <span style="color: red; font-weight: normal; margin-left: 1em"
                                              >({% trans 'Attention: Topicless samples may be viewed and edited by anyone.' %})</span></td>
                  {% endif %}
                  </tr>
                {% endif %}
                {% if sample.tags and full_view %}
                  <tr>
                    {% value_field sample.tags %}
                  </tr>
                {% endif %}
                {% if sample.purpose and full_view %}
                  <tr>
                    {% value_field sample.purpose %}
                  </tr>
                {% endif %}
                <tr>
                  {% value_field sample.current_location %}
                </tr>
              </table>

              {% if full_view %}
                {% with sample.series.count as number_of_sample_series %}
                  {% with sample.series.all as sample_serieses %}
                    {% if number_of_sample_series %}
                      <p>
                        {% blocktrans count number_of_sample_series as counter and sample_serieses.0 as first_series and sample_serieses.0.get_absolute_url as first_url %}
                          This sample is part of the sample series “<a href="{{ first_url }}">{{ first_series }}”</a>.
                        {% plural %}
                          This sample is part of the following sample series:  <!-- {{ first_url }}  {{ first_series }} -->
                        {% endblocktrans %}
                      </p>

                      {% ifnotequal number_of_sample_series 1 %}
                        <ul class="sample-series-list">
                          {% for sample_series in sample_serieses %}
                            <li><a href="{{ sample_series.get_absolute_url }}">{{ sample_series }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endifnotequal %}
                    {% endif %}
                  {% endwith %}
                {% endwith %}
              {% endif %}
            {% endwith %}
          {% endwith %}
          {{ sample.is_my_sample_form.as_p }}
        {% endif %}

        {% if process %}
          <div class="process">
            <p class="operator_and_timestamp">
              {{ process.operator|get_really_full_name }}, {{ process|timestamp }}
            </p>
            {% spaceless %}
              <h2>
                {{ process.name }}{% if process.edit_url %}<a class="edit-icon" 
                                                 href="{{ process.edit_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
                   ><img src="{{ MEDIA_URL }}chantal/icons/cog_edit.png" alt="edit icon" title="{% trans 'edit' %}"/></a>
                {% endif %}{% if process.export_url %}<a class="edit-icon" 
                        href="{{ process.export_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
                   ><img src="{{ MEDIA_URL }}chantal/icons/table.png" alt="export icon" title="{% trans 'export as table' %}"/></a>
                {% endif %}{% if process.resplit_url %}<a class="edit-icon" 
                                              href="{{ process.resplit_url }}?next={{ sample.get_absolute_url|urlquote_plus }}"
                   ><img src="{{ MEDIA_URL }}chantal/icons/arrow_branch.png" alt="resplit icon" title="{% trans 'resplit' %}"/></a>
                {% endif %}
              </h2>
            {% endspaceless %}
            {{ process.html_body }}
          </div>
        {% endif %}
      {% endfor %}
    <p class="submit-button" style="margin-top: 0pt"><input type="submit"/></p>
  </form>
{% endblock %}
