{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load chantal %}
{% load samples_extras %}

{% block content_title %}<h1
    >{% blocktrans with external_operator.name as name %}External operator “{{ name }}”{% endblocktrans %}
  {% if can_edit %}<a class="edit-icon"
       href="{{ external_operator.get_absolute_url }}/edit/?next={{ external_operator.get_absolute_url|urlquote_plus }}"
     ><img src="{{ MEDIA_URL }}chantal/icons/pencil.png" alt="edit icon" title="{% trans 'edit' %}"/></a>{% endif %}</h1>{% endblock %}

{% block frame_content %}
<table cellspacing="10" style="margin-bottom: 2ex">
  <tr>
    {% value_field external_operator.name %}
  </tr>
  <tr>
    {% value_field external_operator.institution %}
  </tr>
  <tr>
    <td class="label">{% verbose_name ExternalOperator.email %}:</td>
    <td class="value" style="font-weight: normal"><a href="mailto:{{ external_operator.email }}"
                                                     >{{ external_operator.email }}</a></td>
  </tr>
  {% if external_operator.alternative_email %}
    <tr>
      <td class="label">{% verbose_name ExternalOperator.alternative_email %}:</td>
      <td class="value" style="font-weight: normal"><a href="mailto:{{ external_operator.alternative_email }}"
                                                       >{{ external_operator.alternative_email }}</a></td>
    </tr>
  {% endif %}
  {% if external_operator.phone %}
    <tr>
      {% value_field external_operator.phone %}
    </tr>
  {% endif %}
  <tr>
    <td class="label">{% verbose_name ExternalOperator.contact_person %}:</td>
    <td class="value" style="font-weight: normal">{{ external_operator.contact_person|get_really_full_name }}</td>
  </tr>
  {% if initials %}
    <tr>
      <td class="label">{% verbose_name Initials.initials %}:</td>
      <td class="value">{{ initials }}</td>
    </tr>
  {% endif %}
</table>

{% if external_operator.confidential %}
<p>{% blocktrans %}
  This external contact is <em>confidential</em>, which means that only the current contact person can
  view its data.
{% endblocktrans %}</p>

{% endif %}

{% endblock %}
