{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}
{% load samples_extras %}

{% block frame_content %}
  <div class="process">
    <p class="operator_and_timestamp">
      {{ process.operator|get_really_full_name }}, {{ process|timestamp }}
    </p>
    {% if samples or sample_series %}
      <p>
        {% if samples %}
          {% blocktrans count samples|length as counter and samples.0.get_absolute_url as link and samples.0.name as name %}
            This process was applied to the sample <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following samples:  <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktrans %}
          {% if not samples|length_is:"1" %}
            <ul>
              {% for sample in samples %}
                <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
        {% if sample_series %}
          {% blocktrans count sample_series|length as counter and sample_series.0.get_absolute_url as link and sample_series.0.name as name %}
            This process was applied to the sample series <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following sample_series:  
            <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktrans %}
          {% if not sample_series|length_is:"1" %}
            <ul>
              {% for single_sample_series in sample_series %}
                <li><a href="{{ single_sample_series.get_absolute_url }}">{{ single_sample_series.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
              
    {{ html_body }}

    {% if edit_url %}<p><a class="edit-button" href="{{ edit_url }}">{% trans 'Edit this process' %}</a></p>{% endif %}
    {% if export_url %}<p><a class="edit-button" href="{{ export_url }}"
                             >{% trans 'Export this process' %}</a></p>{% endif %}
    {% if duplicate_url %}<p><a class="duplicate-button" href="{{ duplicate_url }}"
                                >{% trans 'Duplicate this process' %}</a></p>{% endif %}
  </div>
{% endblock %}
