{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load static %}

{% block content_title %}{% endblock %}

{% block frame_content %}
        {% spaceless %}
          <div class="page-header"><h1>
            {{ title }}{% block process_icons %}{% if edit_url %}<a class="edit-icon"
                                             href="{{ edit_url }}?next={{ url|urlquote_plus }}"
               ><img src="{% static "juliabase/icons/cog_edit.png" %}" alt="edit icon" title="{% translate 'edit' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if delete_url %}<a class="edit-icon" href="{{ delete_url }}"
               ><img src="{% static "juliabase/icons/cog_delete.png" %}" alt="delete icon" title="{% translate 'delete' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if duplicate_url %}<a class="edit-icon" href="{{ duplicate_url }}"
               ><img src="{% static "juliabase/icons/cog_add.png" %}" alt="add icon" title="{% translate 'duplicate' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if export_url %}<a class="edit-icon"
                    href="{{ export_url }}?next={{ url|urlquote_plus }}"
               ><img src="{% static "juliabase/icons/table.png" %}" alt="export icon" title="{% translate 'export as table' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if resplit_url %}<a class="edit-icon"
                     href="{{ resplit_url }}?next={{ url|urlquote_plus }}"
               ><img src="{% static "juliabase/icons/arrow_branch.png" %}" alt="resplit icon" title="{% translate 'resplit' %}"
                     width="16" height="16"/></a>
            {% endif %}{% endblock process_icons %}
            {% if not process.finished %}<span style="margin-left: 2em; color: red; font-size: small"
                                                        >{% translate "(not finished)" %}</span>{% endif %}
          </h1></div>
        {% endspaceless %}
  <div class="process">
    {% if samples or sample_series %}
      <p>
        {% if samples %}
          {% blocktranslate count samples|length as counter with samples.0.get_absolute_url as link and samples.0.name as name %}
            This process was applied to the sample <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following samples:  <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktranslate %}
          {% if not samples|length_is:"1" %}
            <form method="post" action="{% url 'iek5:add_to_my_samples' %}?next={{ request.get_full_path }}">
              {% csrf_token %}
              <ul>
                {% for topic in all_sample_topics %}
                    <h5>{{ topic }}</h5>


                  {% for sample in samples %}
                    {% if sample.topic|stringformat:"s" == topic %}
                      <!-- <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li> -->

                      <div>
                        <input type="checkbox" id="{{ sample.id }}" name="selected_samples" value="{{ sample.id }}">
                        <label for="sample_{{ sample.id }}"><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></label>
                      </div>
                    {% endif %}
                  {% endfor %}

                {% endfor %}

              </ul>
              <button type="submit"> {% translate 'Add to my samples' %} </button>
            </form>
          {% endif %}
        {% endif %}
        {% if sample_series %}
          {% blocktranslate count sample_series|length as counter with sample_series.0.get_absolute_url as link and sample_series.0.name as name %}
            This process was applied to the sample series <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following sample_series:
            <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktranslate %}
          {% if not sample_series|length_is:"1" %}
            <ul>
              {% for single_sample_series in sample_series %}
                <li><a href="{{ single_sample_series.get_absolute_url }}">ki{{ single_sample_series.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </p>
    {% endif %}

    <p class="operator_and_timestamp">
      {% translate "Created by: " %}{{ process.operator|get_really_full_name }}, {{ process|timestamp }}<br>
      {% if process.last_modified_by_person %}

        {% translate "Last Modified by: " %}{{ process.last_modified_by_person|get_really_full_name }}, {{ process.last_modified|date:"Y-m-d H:i:s" }}
        
      {% endif %}

    </p>

    <div style="clear:right">
      {% if extended_html_body %}
        {{ extended_html_body }}
      {% else %}
        {{ html_body }}
      {% endif %}
    </div>
  </div>
{% endblock %}
