{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load static %}

{% block content_title %}{% spaceless %}<div class="page-header"><h1>{{ title }}{% if can_edit %}<a
                           class="edit-icon"
                           href="{% url 'samples:edit_sample_series' name=sample_series.name|urlencode:"" %}"
           ><img src="{% static "juliabase/icons/pencil.png" %}" alt="edit icon" title="{% translate 'edit' %}"
                 width="16" height="16"/></a
     >{% endif %}
  {% if can_add_result %}<a class="edit-icon"
  href="{% url 'samples:add_result' %}?sample_series={{ sample_series.name|urlquote_plus }}&amp;next={{ sample_series.get_absolute_url|urlquote_plus }}"
   ><img src="{% static "juliabase/icons/lightbulb_add.png" %}" alt="add-result icon" title="{% translate 'add result' %}"
         width="16" height="16"/></a>{% endif %}
  <a class="edit-icon"
  href="{% url 'samples:export_sample_series' name=sample_series.name|urlencode:"" %}?next={{ sample_series.get_absolute_url|urlquote_plus }}"
     ><img src="{% static "juliabase/icons/table.png" %}" alt="export icon" width="16" height="16"
           title="{% translate 'export as table' %}"/></a>
</h1></div>{% endspaceless %}{% endblock %}

{% block frame_content %}

{{ sample_series.description|markdown_samples }}

{% if sample_series.samples.count %}
  <p>{% translate 'This sample series contains the following samples:' %}</p>
  <ul class="sample-list">
    {% for sample in sample_series.samples.all %}
      <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a>
        {% if sample.purpose %}({{ sample.purpose }}){% endif %}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% translate "This sample series doesn't contain samples yet." %}</p>
{% endif %}

<p>{% translate 'topic'|capfirst %}: <strong>{{ sample_series.topic }}</strong>,
  {% translate 'currently responsible person' %}:
  {{ sample_series.currently_responsible_person|get_really_full_name }}
</p>

{% for process in result_processes %}
  <div class="process">
    <p class="operator_and_timestamp">
      {{ process.operator|get_really_full_name }}, {{ process|timestamp }}
    </p>
    <h2>{{ process.name }}{% if process.edit_url %}<a class="edit-icon"
                   href="{{ process.edit_url }}?next={{ sample_series.get_absolute_url|urlquote_plus }}"
             ><img src="{% static "juliabase/icons/cog_edit.png" %}" alt="edit icon" title="{% translate 'edit' %}"
                   width="16" height="16"/></a>{% endif %}</h2>
    {{ process.html_body }}
  </div>
{% endfor %}
{% endblock %}
