{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load static %}

{% block css %}
<style type="text/css">
  table.padding td, table.padding th { padding: 3px }
</style>
{% endblock %}

{% block frame_content %}
{% url 'samples:show_status' as next_url %}
{% if status_messages %}
  <table class="padding" border="1">
     <thead>
       <tr style="vertical-align: top">
          <th>{% translate 'process'|capfirst %}</th>
          <th>{% verbose_name StatusMessage.message %}</th>
          <th>{% verbose_name StatusMessage.status_level %}</th>
          <th>{% verbose_name StatusMessage.begin %}</th>
          <th>{% verbose_name StatusMessage.end %}</th>
          <th>{% verbose_name StatusMessage.operator %}</th>
          <th>{% translate 'posted at' %}</th>
       </tr>
     </thead>
     {% for status_message, process_name in status_messages %}
        <tr style="vertical-align: top">
           <td>{{ process_name|first_upper }}</td>
           <td>{{ status_message.message|markdown:"collapse" }}</td>
           <td style="text-align: center; vertical-align: middle">
               {% if status_message.status_level == "undefined" %}
                   <img src="{% static "juliabase/icons/grey.png" %}" alt="undefined"/>
               {% elif status_message.status_level == "red" %}
                   <img src="{% static "juliabase/icons/red.png" %}" alt="red"/>
               {% elif status_message.status_level == "yellow" %}
                   <img src="{% static "juliabase/icons/yellow.png" %}" alt="yellow"/>
               {% elif status_message.status_level == "green" %}
                   <img src="{% static "juliabase/icons/green.png" %}" alt="green"/>
               {% endif %}
           </td>
           <td>{{ status_message|status_timestamp:"begin"|default_if_none:"—" }}</td>
           <td>{{ status_message|status_timestamp:"end"|default_if_none:"—" }}</td>
           <td>{{ status_message.operator|get_really_full_name }}</td>
           <td>{{ status_message|timestamp }}
             {% if user == status_message.operator %}
               <form method="post" 
          action="{% url 'samples:withdraw_status' id_=status_message.id %}?next={{ next_url|urlquote_plus }}"
                     style="display: inline">{% csrf_token %}
                 <input type="image" src="{% static "juliabase/icons/cancel.png" %}" alt="{% translate 'cancel' %}"
                        title="{% translate 'withdraw this status message for all processes' %}"/>
               </form>
             {% endif %}
           </td>
        </tr>
      {% endfor %}
  </table>
{% else %}
  <p>{% translate 'There are no current status messages.' %}</p>
{% endif %}

<p><a href="{% url 'samples:add_status' %}?next={{ next_url|urlquote_plus }}" style="margin-right: 3em"
      >{% translate 'Add a status message' %}</a>
<a href="{% url 'samples:edit_preferences' login_name=user.username %}?next={{ next_url|urlquote_plus }}"
   >{% translate 'Subscribe to status messages' %}</a></p>


{% if further_status_messages %}
  <h2>{% translate "Further status messages" %}</h2>

  <table class="padding" border="1">
    <thead>
       <tr style="vertical-align: top; font-weight:bold">
          <th>{% translate 'process'|capfirst %}</th>
          <th>{% verbose_name StatusMessage.message %}</th>
          <th>{% verbose_name StatusMessage.status_level %}</th>
          <th>{% verbose_name StatusMessage.begin %}</th>
          <th>{% verbose_name StatusMessage.end %}</th>
          <th>{% verbose_name StatusMessage.operator %}</th>
          <th>{% translate 'posted at' %}</th>
       </tr>
    </thead>
    {% for process_name, status_messages in further_status_messages %}
      {% for status_message in status_messages %}
        <tr style="vertical-align: top">
          {% if forloop.first %}
            <td rowspan="{{ status_messages|length }}">{{ process_name|first_upper }}</td>
          {% endif %}
          <td>{{ status_message.message|markdown:"collapse" }}</td>
          <td style="text-align: center; vertical-align: middle">
            {% if status_message.status_level == "undefined" %}
              <img src="{% static "juliabase/icons/grey.png" %}" alt="{% translate 'undefined' %}"/>
            {% elif status_message.status_level == "red" %}
              <img src="{% static "juliabase/icons/red.png" %}" alt="{% translate 'red' %}"/>
            {% elif status_message.status_level == "yellow" %}
              <img src="{% static "juliabase/icons/yellow.png" %}" alt="{% translate 'yellow' %}"/>
            {% elif status_message.status_level == "green" %}
              <img src="{% static "juliabase/icons/green.png" %}" alt="{% translate 'green' %}"/>
            {% endif %}
          </td>
          <td>{{ status_message|status_timestamp:"begin"|default_if_none:"—" }}</td>
          <td>{{ status_message|status_timestamp:"end"|default_if_none:"—" }}</td>
          <td>{{ status_message.operator|get_really_full_name }}</td>
          <td>{{ status_message|timestamp }}
            {% if user == status_message.operator %}
              <form method="post" 
        action="{% url 'samples:withdraw_status' id_=status_message.id %}?next={% url 'samples:show_status' %}"
                    style="display: inline">{% csrf_token %}
                <input type="image" src="{% static "juliabase/icons/cancel.png" %}" alt="{% translate 'cancel' %}"
                       title="{% translate 'withdraw this status message for all processes' %}"/>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>

{% endif %}

{% endblock %}
