{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}

{% block content_title %}{% endblock %}

{% block frame_content %}
        {% spaceless %}
          <h1>
            {{ title }}{% if edit_url %}<a class="edit-icon"
                                             href="{{ edit_url }}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
               ><img src="{{ STATIC_URL }}juliabase/icons/cog_edit.png" alt="edit icon" title="{% trans 'edit' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if duplicate_url %}<a class="edit-icon" href="{{ duplicate_url }}"
               ><img src="{{ STATIC_URL }}juliabase/icons/cog_add.png" alt="add icon" title="{% trans 'duplicate' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if export_url %}<a class="edit-icon"
                    href="{{ export_url }}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
               ><img src="{{ STATIC_URL }}juliabase/icons/table.png" alt="export icon" title="{% trans 'export as table' %}"
                     width="16" height="16"/></a>
            {% endif %}{% if resplit_url %}<a class="edit-icon"
                     href="{{ resplit_url }}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
               ><img src="{{ STATIC_URL }}juliabase/icons/arrow_branch.png" alt="resplit icon" title="{% trans 'resplit' %}"
                     width="16" height="16"/></a>
            {% endif %}
            {% if not process.finished %}<span style="margin-left: 2em; color: red; font-size: small"
                                                        >{% trans "(not finished)" %}</span>{% endif %}
          </h1>
        {% endspaceless %}
  <div class="process">
    {% if samples or sample_series %}
      <p>
        {% if samples %}
          {% blocktrans count samples|length as counter with samples.0.get_absolute_url as link and samples.0.name as name %}
            This process was applied to the sample <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following samples:  <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktrans %}
          {% if not samples|length_is:"1" %}
            <ul>
              {% for sample in samples %}
                <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
        {% if sample_series %}
          {% blocktrans count sample_series|length as counter with sample_series.0.get_absolute_url as link and sample_series.0.name as name %}
            This process was applied to the sample series <a href="{{ link }}">{{ name }}</a>.
          {% plural %}
            This process was applied to the following sample_series:
            <!-- To please compilemessages: {{ link }} {{ name }} -->
          {% endblocktrans %}
          {% if not sample_series|length_is:"1" %}
            <ul>
              {% for single_sample_series in sample_series %}
                <li><a href="{{ single_sample_series.get_absolute_url }}">{{ single_sample_series.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </p>
    {% endif %}

    <p class="operator_and_timestamp">
      {{ process.operator|get_really_full_name }}, {{ process|timestamp }}
    </p>

    <div style="clear:right">
      {% if extended_html_body %}
        {{ extended_html_body }}
      {% else %}
        {{ html_body }}
      {% endif %}
    </div>
  </div>
{% endblock %}
