{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Torsten Bronger <bronger@physik.rwth-aachen.de>,
                      Marvin Goblet <m.goblet@fz-juelich.de>.

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}

<p>
  {% if parent %}
    {% trans 'The parental sample' %}
      <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>
    {% trans 'was split into the following pieces:' %}
  {% else %}
    {% blocktrans %}
      The sample was split into the following pieces:
    {% endblocktrans %}
  {% endif %}
</p>

<ul class="sample-list">
  {% for piece in process.pieces.all %}
    {% if piece != original_sample %}
      <li>
        <a href="{{ piece.get_absolute_url }}">{{ piece.name }}</a>
        {% if piece == latest_descendant %}
          {% trans '(the ancestor of this one)' %}
        {% endif %}
      </li>
    {% else %}
      <li>{{ piece.name }} {% trans '(this one)' %}</li>
    {% endif %}
  {% endfor %}
</ul>
