{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load juliabase %}

{% block refresh_tag %}
  <meta http-equiv="refresh" content="600"/>
{% endblock %}

{% block local_scripts %}
  <script type="text/javascript">
    // <![CDATA[
    google.load("visualization", "1", {packages: ["gauge"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Label");
    data.addColumn("number", "Value");
    data.addRows(1);
    data.setValue(0, 0, "{% translate 'hit rate' %}/%");
    data.setValue(0, 1, {{ cache_hit_rate|default:"0" }});
    var chart = new google.visualization.Gauge(document.getElementById("cache_hit_rate"));
    var options = {width: 200, height: 200, redFrom: 0, redTo: 10, majorTicks: ["0", "", "", "", "", "100"],
                       minorTicks: 2};
    chart.draw(data, options);
    }
    // ]]>
  </script>
{% endblock %}

{% block css %}
<style type="text/css">
  img { border: 0pt }
  th { text-align: left }
  td { vertical-align: top }
</style>
{% endblock %}

{% block frame_content %}

<p>{% blocktranslate %}This page is so rudimentary because it depends heavily on
  the particular server configuration.  You may extend this page
  arbitrarily.{% endblocktranslate %}</p>

<h2>{% translate 'Cache status' %}</h2>

{% if cache_hit_rate is None %}
  <p>{% blocktranslate %}No caching statistics available because caching is disabled.{% endblocktranslate %}</p>
{% else %}
  <div id="cache_hit_rate"></div>
{% endif %}

{% endblock %}
