{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, the samples database.

Copyright © 2008–2014 Forschungszentrum Jülich, Germany,
                      Marvin Goblet <m.goblet@fz-juelich.de>,
                      Torsten Bronger <t.bronger@fz-juelich.de>

You must not use, install, pass on, offer, sell, analyse, modify, or distribute
this software without explicit permission of the copyright holder.  If you have
received a copy of this software without the explicit permission of the
copyright holder, you must destroy it immediately and completely.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load samples_extras %}
{% load staticfiles %}

{% block frame_content %}
{% url 'samples.views.task_lists.show' as next_url %}
{% for department, tasks in task_lists.items %}
<h2>{{ department|capfirst }}</h2>
{% for process_class, task_list in tasks.items %}
  {% spaceless %}
    <h3>{{ process_class|contenttype_name|capfirst }}<a
       class="edit-icon"
       href="{% url 'samples.views.task_lists.edit' %}?next={{ next_url|urlquote_plus }}&amp;process_class={{ process_class.id }}">
        <img src="{% static "juliabase/icons/layout_add.png" %}" alt="add icon" title="{% trans 'Add task' %}"
             width="16" height="16"/></a></h3>
  {% endspaceless %}

  {% if not task_list %}
    <p>{% trans 'No current tasks.' %}</p>
  {% endif %}

  {% for task in task_list %}
  <div>
    <div style="border-style: solid; border-color: black; border-width: thin;
                background-color: {{ task.task|task_color }}; display: inline-block; padding: 1ex"
         id="task_{{ task.task.id }}">
      <div style="float: right" class="screen-only">
      {% if task.user_can_edit %}
        <a class="edit-icon"
           href="{% url 'samples.views.task_lists.edit' task_id=task.task.id %}?next={{ task.task.get_absolute_url|urlquote_plus }}">
           <img src="{% static "juliabase/icons/layout_edit.png" %}" alt="edit icon" title="{% trans 'edit task' %}"
           width="16" height="16"/></a>
      {% endif %}
      {% if task.user_can_delete %}
        <form method="post"
              action="{% url 'samples.views.task_lists.remove' task_id=task.task.id %}?next={{ task.task.get_absolute_url|urlquote_plus }}"
              style="display: inline">{% csrf_token %}
          <input type="image" src="{% static "juliabase/icons/layout_delete.png" %}" alt="{% trans 'remove task' %}"
                 title="{% trans 'remove task' %}"/>
        </form>
      {% endif %}
      </div>
      {% with task.task as task_instance %}
      <table style="margin-right: 5em">
        <tr>
          <td class="label">{{ _("number")|capfirst }}:</td>
          <td class="value"{% if task.user_can_see_everything %} colspan="2"{% endif %}>{{ task_instance.id }}</td>
        </tr>
        {% if task.user_can_see_everything %}
          <tr>
            <td class="label">{% verbose_name Task.priority %}:</td>
            <td class="value">{{ task_instance.get_priority_display }}</td>
            <td class="label" style="padding-left: 3em; text-align: left">{% verbose_name Task.samples %}:</td>
          </tr>
          <tr>
            <td class="label">{% verbose_name Task.status %}:</td>
            <td class="value">{{ task_instance.get_status_display }}</td>
            <td rowspan="7" style="vertical-align: top; padding-left: 3em">
              <ul class="sample-list" style="margin-top: 0pt">
                {% for sample in task.samples %}
                  <li><a href="{{ sample.get_absolute_url }}" style="white-space: nowrap">{{ sample }}</a></li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td class="label">{% verbose_name Task.operator %}:</td>
          <td class="value">{{ task_instance.operator|get_really_full_name|default:"—" }}</td>
        </tr>
        <tr>
          <td class="label">{% verbose_name Task.customer %}:</td>
          <td class="value">{{ task_instance.customer|get_really_full_name }}</td>
        </tr>
        {% if task.user_can_see_everything %}
          <tr>
            <td class="label">{% verbose_name Task.creating_timestamp %}:</td>
            <td class="value">{{ task_instance.creating_timestamp|date:"Y-m-d H:i:s" }}</td>
          </tr>
          <tr>
            <td class="label">{% verbose_name Task.last_modified %}:</td>
            <td class="value">{{ task_instance.last_modified|date:"Y-m-d H:i:s" }}</td>
          </tr>
          <tr>
            <td class="label">{% verbose_name Task.finished_process %}:</td>
            <td class="value">
              {% if task_instance.finished_process %}
                <a href="{{ task_instance.finished_process.get_absolute_url }}">{{ task_instance.finished_process }}</a>
              {% else %}
                —
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="label">{% verbose_name Task.comments %}:</td>
            <td class="value" style="font-weight: normal">{{ task_instance.comments|markdown_samples:"collapse" }}</td>
          </tr>
        {% endif %}
      </table>
      {% endwith %}
     </div>
  </div>
  {% endfor %}
{% endfor %}
{% endfor %}
<form method="POST" style="margin-top: 5ex" class="screen-only">{% csrf_token %}
  <table style="float: right">
    <tbody>
      {% error_list choose_task_lists _("General error") "<tr>" 2 %}
      <tr>
    <td class="label">{{ choose_task_lists.visible_task_lists.label }}:</td>
    <td class="input">{{ choose_task_lists.visible_task_lists }}</td>
      </tr>
    </tbody>
  </table>
  <p class="submit-button" style="clear: both"><input type="submit"/></p>
</form>
{% endblock %}
