{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block frame_content %}
<h2>{% trans 'Topics' %}</h2>
<p>
  {% if topics %}
    {% blocktrans count topics|length as counter %}
      {{ full_user_name }} is member of the following topic:
    {% plural %}
      {{ full_user_name }} is member of the following topics:
    {% endblocktrans %}
    {% for topic in topics %}
      <strong>{{ topic }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    {% blocktrans %}
      {{ full_user_name }} isn't a member of any topic.
    {% endblocktrans %}
  {% endif %}
</p>

<p>
  {% if managed_topics %}
   {% blocktrans count managed_topics|length as counter %}
      {{ full_user_name }} is manager of the following topic:
    {% plural %}
      {{ full_user_name }} is manager of the following topics:
    {% endblocktrans %}
    {% for topic in managed_topics %}
      <strong>{{ topic }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    {% blocktrans %}
      {{ full_user_name }} isn't a manager of any topic.
    {% endblocktrans %}
  {% endif %}
</p>


<h2>{% trans 'permissions'|capfirst %}</h2>

<h3>{% trans 'General permissions' %}</h3>

<p>{% trans '(This is only a rough summary.)' %}</p>

<ul style="color: green; font-weight: bold">
  <li>{% trans 'You can add new samples and sample series' %}</li>
  <li>{% trans 'You can edit all samples and sample series that you are the currently responsible person for' %}</li>
  <li>{% trans 'You can view all samples of your topics' %}</li>
  <li>{% trans 'You can add results to all samples and sample series of your topics' %}</li>
  <li>{% trans 'You can edit processes that you added' %}</li>
</ul>


<h3>{% trans 'Special permissions' %}</h3>

<p>
  {% blocktrans with permissions_url as url %}
    Have also a look at the <a href="{{ url }}">permissions for processes</a> for further information about your permissions.
  {% endblocktrans %}
</p>

<table border="1" class="padding5" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 50%">{% trans 'special permissions that you have' %}</th>
      <th>{% trans "special permissions that you don't have" %}</th>
    </tr>
  </thead>
  <tr>
    <td>
      {% if permissions.0 %}
        <ul style="color: green; font-weight: bold">
          {% for permission in permissions.0 %}
            <li>{{ permission }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p style="text-align: center ">
          {% trans 'none' %}
        </p>
      {% endif %}
    </td>
    <td>
      {% if permissions.1 %}
        <ul style="color: red; font-weight: bold">
          {% for permission in permissions.1 %}
            <li>{{ permission }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p style="text-align: center ">
          {% trans 'none' %}
        </p>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
