{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/base.html" %}
{% load i18n %}


{% block frame_content %}
<h2>{% trans 'Topics' %}</h2>
<p>
  {% if topics %}
    {% blocktrans count topics|length as counter %}
      {{ full_user_name }} is member of the following topic:
    {% plural %}
      {{ full_user_name }} is member of the following topics:
    {% endblocktrans %}
    {% for topic in topics %}
      <strong>{{ topic }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    {% blocktrans %}
      {{ full_user_name }} isn't a member of any topic.
    {% endblocktrans %}
  {% endif %}
</p>

<p>{% trans 'The head of your institute group is allowed to add you to further Chantal topics.' %}


<h2>{% trans 'Permissions' %}</h2>

<h3>{% trans 'General permissions' %}</h3>

<p>{% trans '(This is only a rough summary.)' %}</p>

<ul style="color: green; font-weight: bold">
  <li>{% trans 'You can add new samples and sample series' %}</li>
  <li>{% trans 'You can edit all samples and sample series that you are the currently responsible person for' %}</li>
  <li>{% trans 'You can view all samples of your topics' %}</li>
  <li>{% trans 'You can add results to all samples of your topics' %}</li>
  <li>{% trans 'You can edit results that you added' %}</li>
</ul>


<h3>{% trans 'Special permissions' %}</h3>

<p>{% trans 'Only the administrators can change the special permissions.' %}</p>

<table border="1" cellpadding="5" width="100%">
  <thead>
    <tr>
      <th style="width: 50%">{% trans 'special permissions that you have' %}</th>
      <th>{% trans "special permissions that you don't have" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% if permissions.0 %}
          <ul style="color: green; font-weight: bold">
            {% for permission in permissions.0 %}
              <li>{{ permission }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p style="text-align: center ">
            {% trans 'none' %}
          </p>
        {% endif %}
      </td>
      <td>
        {% if permissions.1 %}
          <ul style="color: red; font-weight: bold">
            {% for permission in permissions.1 %}
              <li>{{ permission }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p style="text-align: center ">
            {% trans 'none' %}
          </p>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
