@import url('widgets.css');

body { 
    background-color: gray;
    font-family: Frutiger,Trebuchet MS,DejaVu Sans,Bitstream Vera Sans,Verdana,sans-serif;
    margin: 0pt; padding: 0pt;
}
p.logo-text {
    margin: 0pt 0pt 0pt -0.05em;
    font-size: 50px;
    color: #333333;
    font-weight: bold;
}

p.logo-subtext { margin:0pt; margin-top:-10px; font-size: 15px; color: #333333; font-weight: normal }
img.logo-fz { float: right; margin-right: 0.1em }

div.main {
    margin: 20px 25px 20px;
}

div.outer-frame {
    clear: both;
    margin-top: 20px;
    border-color: #b2b2b2;
    border-width: thin;
    -moz-border-radius: 12px;
    border-style: solid;
}

div.inner-frame {
    margin: 1px;
    padding: 10px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    -moz-border-radius: 10px;
    background-color: #e6e6e6;
    min-height: 0px;   # IE7 quirk
}

table.headbar {
    font-size: small;
    color: white;
    background-color: #045078;
    padding: 0.3ex 25px 0.5ex;
}

table.headbar a { color: white }
table.headbar td.login-data { text-align: right }
table.headbar td.info { text-align: left }

h1 { margin-top: 0pt }

p.operator_and_timestamp { float: right; font-size: small }

div.process { margin-top: 3ex }
span.aliases { font-size: x-small; font-weight: normal }

span.label { margin-right: 0.5em }
span.value { font-weight: bold }
td.value { font-weight: bold; text-align: left; vertical-align: bottom }
td.label { text-align: right; vertical-align: bottom; padding-right: 0.3em }
span.help { font-size: small }

/* MESSAGES & ERRORS */
td.error-messages { text-align: left; font-size: x-small }
td.error-messages p { padding: 0.5ex 0.5ex 0pt 0.5ex; margin: 0pt 0pt 0pt 0pt;
		      color:white; background-color: maroon; font-weight: bold }
ul.errorlist { margin:0 !important; padding: 0pt 0pt 0.5ex 0pt !important; background-color: maroon }
.errorlist li { padding: 0pt 0.5ex 0pt 0.5ex; display:block; color:white }

table.about { font-size: large; margin-top: 2ex; margin-bottom: 4ex }
table.about th { border-bottom: solid gray 1px; padding-right: 2em; text-align: right; width: 40%; vertical-align: top }
table.about td { text-align: left; width: 60%; vertical-align: top; text-indent: -3em; padding-left: 3.5em;
		 padding-bottom: 2ex }

span.uptime { font-size: small }
span.version { font-size: small }

div.short-messages { text-align: center; clear: both }

p.submit-button { text-align: right; margin-bottom: 0px }
