{% load i18n %}
{% load samples_extras %}

<p>
  {% blocktrans with entry.originator|get_really_full_name:"mailto" as originator and entry.group as group and entry.sample_series as sample_series and entry.sample_series.get_absolute_url as url %}
    {{ originator }} has added the sample series “<a href="{{ url }}">{{ sample_series }}</a>” to the group 
    “{{ group }}”.
  {% endblocktrans %}
  <p>{% trans 'Description' %}:</p>
  <blockquote>{{ entry.sample_series.description|markdown }}</blockquote>
  {% if subscribed %}
    {% trans 'You are subscribed to this sample series because you have at least one of its samples amongst “My Samples”.' %}
  {% else %}
    {% trans 'You are not subscribed to this sample series because you have none of its samples amongst “My Samples”.' %}
  {% endif %}
</p>
