/*
Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>

This file is part of Django-RefDB.

    Django-RefDB is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later
    version.

    Django-RefDB is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE.  See the GNU Affero General Public License for more
    details.

    You should have received a copy of the GNU Affero General
    Public License along with Django-RefDB.  If not, see
    <http://www.gnu.org/licenses/>.
*/

body { 
    background-color: gray;
    font-family: Frutiger, "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, sans-serif;
    margin: 0pt; padding: 0pt;
}
p.logo-text {
    margin: 0pt 0pt 0pt -0.05em;
    font-size: 50px;
    color: #333333;
    font-weight: bold;
}

div.main {
    margin: 20px 25px 20px;
}

div.outer-frame {
    clear: both;
    margin-top: 20px;
    border-color: #b2b2b2;
    border-width: thin;
    -moz-border-radius: 12px;
    border-style: solid;
}

div.inner-frame {
    margin: 1px;
    padding: 10px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    -moz-border-radius: 10px;
    background-color: #e6e6e6;
    min-height: 0px;   /* IE7 quirk */
}

table.headbar {
    font-size: small;
    color: white;
    background-color: #045078;
    padding: 0.3ex 25px 0.5ex;
}

table.headbar a { color: white }
table.headbar td.login-data { text-align: right }
table.headbar td.info { text-align: left }

div.success-report { background-color: green; color: white; padding: 0.3ex 25px 0.5ex; text-align: right; font-size: small }

h1 { margin-top: 0pt }

p.operator_and_timestamp { float: right; font-size: small }
a.edit-button, a.duplicate-button { font-size: small; white-space: nowrap }
a.edit-icon { margin-left: 0.3em }

div.process { margin-top: 3ex; clear: both }
span.aliases { font-size: x-small; font-weight: normal }

span.label { margin-right: 0.5em }
span.value { font-weight: bold }
td.value, td.input { text-align: left }
td.value { font-weight: bold; vertical-align: text-top }
td.input { vertical-align: top }
td.label { text-align: right; vertical-align: text-top; padding-right: 0.3em }
span.help { font-size: small; font-weight: normal }

/* MESSAGES & ERRORS */
div.errorlist, td.error-messages { text-align: left; font-size: x-small }
div.errorlist, td.error-messages p { padding: 0.5ex 0.5ex 0pt 0.5ex; margin: 0pt 0pt 0pt 0pt;
				     color:white; background-color: maroon; font-weight: bold }
ul.errorlist { margin:0 !important; padding: 0pt 0pt 0.5ex 0pt !important; background-color: maroon; font-weight: normal }
.errorlist li { padding: 0pt 0.5ex 0pt 0.5ex; display:block; color:white }
div.errorlist li { padding-left: 0pt }

table.about { font-size: large; margin-top: 2ex; margin-bottom: 4ex }
table.about th { border-bottom: solid gray 1px; padding-right: 2em; text-align: right; width: 40%; vertical-align: top }
table.about td { text-align: left; width: 60%; vertical-align: top; text-indent: -3em; padding-left: 3.5em;
		 padding-bottom: 2ex }

span.uptime { font-size: small }
span.version { font-size: small }

div.short-messages { text-align: center; clear: both }

p.submit-button { text-align: right; margin-bottom: 0px; clear: right }

a > img { border: none }

optgroup { font-weight: bold; font-style: normal }

span.markdown-hint { font-size: small }

ul.radio-select { list-style-type: none; display: inline; margin-left: 0; padding-left:0 }
ul.radio-select li { display: inline; margin-right: 1em }
