{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en" }}" xml:lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
<title>{% block title %}{{ title|escape }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static_media/css/main.css" />
</head>

<body>
  <p style="margin:0pt"><img class="logo" src="/static_media/juelich.png" alt="Jülich Forschungszentrum logo"/></p>
  <p class="logo-text">Chantal</p>
  <p class="logo-subtext">{% trans 'The samples database' %}</p>

  <div class="outer-frame">
    <div class="main">
      {% block content_title %}<h1>{{ title|escape }}</h1>{% endblock %}
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>
  </div>

</body>
</html>
