{# -*- indent-tabs-mode: nil -*- #}

{# Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>   #}
{#                                                                    #}
{# This file is part of Django-RefDB.                                 #}
{#                                                                    #}
{#     Django-RefDB is free software: you can redistribute it and/or  #}
{#     modify it under the terms of the GNU Affero General Public     #}
{#     License as published by the Free Software Foundation, either   #}
{#     version 3 of the License, or (at your option) any later        #}
{#     version.                                                       #}
{#                                                                    #}
{#     Django-RefDB is distributed in the hope that it will be        #}
{#     useful, but WITHOUT ANY WARRANTY; without even the implied     #}
{#     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR        #}
{#     PURPOSE.  See the GNU Affero General Public License for more   #}
{#     details.                                                       #}
{#                                                                    #}
{#     You should have received a copy of the GNU Affero General      #}
{#     Public License along with Django-RefDB.  If not, see           #}
{#     <http://www.gnu.org/licenses/>.                                #}


{% if form %}
  {% if form.errors or form.non_field_errors %}
    {% ifequal outest_tag "<table>" %}
      <table width="100%" cellspacing="0" cellpadding="0">
    {% endifequal %}
    <tr>
      <td class="error-messages">
	{% for field in form %}
	  {% if field.errors %}<p>{{ field.label }}</p>{{ field.errors }}{% endif %}
	{% endfor %}
	{% if form.non_field_errors %}
	  <p>{{ form_error_title }}</p>{{ form.non_field_errors }}
	{% endif %}
      </td>
    </tr>
    {% ifequal outest_tag "<table>" %}
      </table>
    {% endifequal %}
  {% endif %}
{% endif %}
