.lab-notebook { 
    overflow-y: auto; 
    max-height: 500px;
  }  
.lab-notebook thead { 
    position: sticky; 
    top: 0; 
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }