.lock-header { 
  overflow-y: auto; 
  max-height: 500px;
}  
.lock-header thead { 
  position: sticky; 
  top: 0; 
  /* background: white; */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} 
.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

.sorting {
  background-color: #f2f2f2;
  color: #5a5a5a;
}

/* test */
/* body {
  background-color: lightblue;
} */

/*  */