/*
This file is part of JuliaBase, see http://www.juliabase.org.
Copyright © 2008–2015 Forschungszentrum Jülich GmbH, Jülich, Germany

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&effect=emboss);

body {
    background-color: gray;
    font-family: "Ubuntu", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, sans-serif;
    margin: 0pt; padding: 0pt;
}
p.logo-text {
    margin: 0pt 0pt 0pt -0.05em;
    font-size: 45px;
    color: #333333;
    font-weight: bold;
    text-shadow: 1px 1px 1px white, -1px -1px 1px black;
}

div.main {
    margin: 20px 25px 20px;
}

div.outer-frame {
    clear: both;
    margin-top: 15px;
    border-color: #b2b2b2;
    border-width: thin;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-style: solid;
}

div.inner-frame {
    margin: 1px;
    padding: 10px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #e6e6e6;
    background-image: url("../checked.png");
    min-height: 0px;   /* IE7 quirk */
}

table.headbar {
    font-size: small;
    color: white;
    background-color: #045078;
    width: 100%;
    border-collapse: collapse
}

table.headbar a { color: white }
table.headbar td { padding: 0.3ex 25px 0.5ex }
table.headbar td.login-data { text-align: right }
table.headbar td.info { text-align: left }


div[class^="report"] { color: white; padding: 0.3ex 25px 0.5ex; text-align: right; font-size: small }
div.report-success { background-color: green }
div.report-error { background-color: red }
div.report-debug { background-color: gainsboro; color: black }
div.report-warning { background-color: coral }
div.report-info { background-color: mediumpurple }

h1 { margin-top: 0pt }

span.field-label { margin-right: 0.5em }
span.field-value { font-weight: bold }
td.field-value, td.field-input { text-align: left }
td.field-value { font-weight: bold; vertical-align: text-top }
td.field-input { vertical-align: top }
td.field-label { text-align: right; vertical-align: text-top; padding-right: 0.3em; padding-left: 0px }
span.help { font-size: small; font-weight: normal; margin-left: 0.6em }
span.unit-of-measurement { padding-left: 0.3em }

/* MESSAGES & ERRORS */
div.errorlist, td.error-messages { text-align: left; font-size: x-small; padding: 0pt }
div.errorlist, td.error-messages p { padding: 0.5ex 0.5ex 0pt 0.5ex; margin: 0pt 0pt 0pt 0pt;
                     color:white; background-color: maroon; font-weight: bold }
ul.errorlist { margin:0 !important; padding: 0pt 0pt 0.5ex 0pt !important; background-color: maroon; font-weight: normal }
.errorlist li { padding: 0pt 0.5ex 0pt 0.5ex; display:block; color:white }
div.errorlist li { padding-left: 0pt }

table.about { font-size: large; margin-top: 2ex; margin-bottom: 0pt; width: 50% }
table.about th { border-bottom: solid gray 1px; padding-right: 2em; text-align: right; width: 40%; vertical-align: top }
table.about td { text-align: left; width: 50%; vertical-align: top; text-indent: -3em; padding-left: 3.5em;
         padding-bottom: 2ex }

span.uptime { font-size: small }
span.version { font-size: small }

p.submit-button { text-align: right; margin-bottom: 0px; clear: right }

a > img, img[usemap] { border: none }

optgroup { font-weight: bold; font-style: normal }

span.markdown-hint { font-size: small }

ul.radio-select { list-style-type: none; display: inline; margin-left: 0; padding-left:0 }
ul.radio-select li { display: inline; margin-right: 1em }

table.tight-fullwidth { border-collapse: collapse; width: 100% }
table.padding5 th, table.padding5 td { padding: 5px }
table.padding8 th, table.padding8 td { padding: 8px }
table.padding10 th, table.padding10 td { padding: 10px }

table.lab-notebook { margin-top: 2ex; border-top: 2px solid; border-bottom: 2px solid; border-collapse: collapse }
table.lab-notebook th, table.lab-notebook td { padding: 6px }
