/*
Copyright © 2009 Torsten Bronger <bronger@physik.rwth-aachen.de>

This file is part of Django-RefDB.

    Django-RefDB is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later
    version.

    Django-RefDB is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE.  See the GNU Affero General Public License for more
    details.

    You should have received a copy of the GNU Affero General
    Public License along with Django-RefDB.  If not, see
    <http://www.gnu.org/licenses/>.
*/

@import url('../../chantal/css/main.css') screen;

tr.list-row-odd, tr.list-row-even { vertical-align: top }
tr.list-row-odd { background-color: #fafafa }
tr.list-row-even { background-color: #d2d2d2 }
td.reference-title { font-size: smaller }

div.pages-links { text-align: center }

td.bulk-text p { margin: 0pt }

tr.user-data { background-color: #c0e0c0 }

span.highlight { background-color: #ffff80; padding-left: 0.2em; padding-right: 0.2em }
span.highlight-end { background-color: #ffff80; padding-right: 0.2em }
span.highlight-start { background-color: #ffff80; padding-left: 0.2em }
span.highlight-middle { background-color: #ffff80 }
div.full-text-info { margin-top: 0.5ex }